<%
type = "promotion"
page = "promotion"
popup = "false"
lnbTitle = "PROMOTION"
%>

<% include ../_include/_header %>
<div class="container">
    <% include ../_include/_lnbSelect.ejs %>
    <div class="site-promotion">
        <!--프로모션 뷰 비주얼-->
        <div class="promotion-view">
            <div class="promotion-view__title">
                <div class="promotion-view__name">Gift for You</div>
                <div class="promotion-view__date">2021.11.04 ~ 2021.11.14</div>
            </div>
            <div class="promotion-view__visual">
                <img class="promotion-view__img" src="../../images/promotion/img_visual.png" alt=""/>
            </div>
        </div>
        <!--//프로모션 뷰 비주얼-->

        <!--콘텐츠 영역-->
        <div class="promotion-view__contents comment-only">
            <div class="promotion-view__event">
                <img class="promotion-view__img" src="../../images/promotion/img_title.png" alt=""/>
            </div>
            <div class="promotion-view__txt">
                뉴컬러 남성 라라지갑에 대한 기대평과<br />사용해보고 싶은 상품을 댓글로 남겨주세요.<br />
                선정을 통해 총 5분에게 라라지갑을 선물로 보내드립니다.
            </div>

            <!--참여방법-->
            <div class="promotion-view__howto">
                <ul class="promotion-view__list">
                    <li class="promotion-view__item">
                        <span class="promotion-view__item--bold">참여기간</span> 05.04 - 05.18
                    </li>
                    <li class="promotion-view__item">
                        <span class="promotion-view__item--bold">당첨자 발표</span> 05.23
                    </li>
                </ul>
                <div class="promotion-view__product">
                    <img src="../../images/promotion/img_product01.png" class="promotion-view__img" alt="라라지갑" />
                    <img src="../../images/promotion/img_product02.png" class="promotion-view__img" alt="라라지갑" />
                    <img src="../../images/promotion/img_product03.png" class="promotion-view__img" alt="라라지갑" />
                </div>

                <div class="promotion-view__whitebox">
                    <p class="promotion-view__top">참여방법</p>
                    <div class="promotion-view__step">
                        <a class="promotion-view__link" href="https://www.stylelq.com/fr/member/join.do" target="_blank">
                            <div class="promotion-view__box">
                                <div class="promotion-view__inner">
                                    <span class="promotion-view__inner--bold">STEP1</span><br/>
                                    공식 홈페이지<br />회원가입하기
                                </div>
                            </div>
                        </a>
                        <div class="promotion-view__arrow">
                            <img src="../../images/promotion/img_arrow.png" class="promotion-view__img" alt="" />
                        </div>
                        <div class="promotion-view__box">
                            <div class="promotion-view__inner">
                                <span class="promotion-view__inner--bold">STEP2</span><br/>
                                하단 댓글란에<br />댓글 작성하기
                            </div>
                        </div>
                        <div class="promotion-view__arrow">
                            <img src="../../images/promotion/img_arrow.png" class="promotion-view__img" alt="" />
                        </div>
                        <div class="promotion-view__box">
                            <div class="promotion-view__inner">
                                <span class="promotion-view__inner--bold">STEP3</span><br/>
                                이벤트<br />참여 완료!
                            </div>
                        </div>
                    </div>
                </div>

                <div class="promotion-view__insta">
                    공식인스타그램
                    <a class="promotion-view__link" href="https://www.instagram.com/louisquatorze_official/" target="_blank">
                        @louisquatorze_official</a><br/>계정
                    팔로우시 당첨확률이 높아집니다.
                </div>

            </div>
            <!--//참여방법-->
        </div>
        <!--//콘텐츠 영역-->

        <!--이벤트 유의사항-->
        <div class="event-important">
            <div class="event-important__wrap">
                ㆍ공식 직영몰 (stylelq.com) 한정 이벤트입니다. ㆍ회원 한정 이벤트입니다. ㆍ한 ID당 1회 댓글 작성이 가능합니다. ㆍ당첨자 발표는 공지사항 게시판을 통해 확인해주세요.
                ㆍ당첨자에게는 개별 연락드립니다. ㆍ본 이벤트는 당사 사정에 따라 사전 고지없이 변경 및 종료될 수 있습니다.
            </div>
        </div>
        <!--//이벤트 유의사항-->

        <!--이벤트 댓글게시판-->
        <div class="event-notice">
            <div class="event-notice__box lala-wallet">
                <h3 class="event-notice__title">LALA MENS WALLET 기대평</h3>
                <div class="event-notice__byte">
                    (<span class="js-byte">0</span>/500byte)
                </div>
                <textarea class="event-notice__area" id="FirstTwentyText" placeholder="현재 라라지갑 파우더블루색상 사용하고 있는데요,&#13;&#10;남자친구와 파우더블루색상 컬러 맞춰 커플템으로 사용하고 싶어요!&#13;&#10;남성반지갑 파우더 블루 색감이 너무 예뻐 실물이 기대돼요!" onkeyup="javascript:_miniCaviar.fnChkByte(this,'500')" onkeyup="javascript:fnChkByte(this,'500')"></textarea>
                <a onclick="fn_FirstTwentyInply();" class="event-notice__btn" style="cursor: pointer;">등록</a>
            </div>
            <div class="event-notice__review">
                <ul class="event-notice__list">
                    <li class="event-notice__item">
                        <div class="event-notice__wrap">
                            <div class="event-notice__date">
                                <span class="event-notice__date--span">leeyoujin411***</span>
                                <span class="event-notice__date--span">2022.03.30</span>
                            </div>
                            <p class="event-notice__txt">미니캐비어 마이크로백은 내 분신이다.</p>
                        </div>
                    </li>
                    <li class="event-notice__item">
                        <div class="event-notice__wrap">
                            <div class="event-notice__date">
                                <span class="event-notice__date--span">susie787***</span>
                                <span class="event-notice__date--span">2022.03.30</span>
                            </div>
                            <p class="event-notice__txt">"벚꽃엔딩" 봄바람 휘날리며 흩날리는 벚꽃잎이 울려 퍼질, 거리를 같이 걷고싶기에</p>
                        </div>
                    </li>
                    <li class="event-notice__item">
                        <div class="event-notice__wrap">
                            <div class="event-notice__date">
                                <span class="event-notice__date--span">ramgh***</span>
                                <span class="event-notice__date--span">2022.03.30</span>
                            </div>
                            <p class="event-notice__txt">
                                미니캐비어 마이크로백은 세대를 아우르는 가방이다,
                                20대 엄마세대인 60대까지 어떤 세대가 코디해도
                                멋스럽고 고급진 가방입니다,
                                너무 세련돼서 놀랍습니다 🤍
                                봄맞아 원피스와 매치하여 사진찍고싶네요 !!
                                감사합니다</p>
                        </div>
                    </li>
                    <li class="event-notice__item">
                        <div class="event-notice__wrap">
                            <div class="event-notice__date">
                                <span class="event-notice__date--span">wowls37***</span>
                                <span class="event-notice__date--span">2022.03.30</span>
                            </div>
                            <p class="event-notice__txt">미니캐비어 마이크로백은 "만능백"이다. 사회 초년생인 나에게 만능백이 되어줄 것만 같은 느낌적인 느낌😎</p>
                        </div>
                    </li>
                    <li class="event-notice__item">
                        <div class="event-notice__wrap">
                            <div class="event-notice__date">
                                <span class="event-notice__date--span">munsun010***</span>
                                <span class="event-notice__date--span">2022.03.29</span>
                            </div>
                            <p class="event-notice__txt">루이까또즈 미니캐비어 마이크로백은 말 백 이름 그대로 캐비어 이다. 고~급지고 우~아하고 인기가 많기 때문이다</p>
                        </div>
                    </li>
                </ul>
                <div class="paging">
                    <ul class="paging__list">
                        <li class="paging__item is-current"><span class="paging__link">1</span></li><li class="paging__item"><a class="paging__link" href="javascript:miniCaviar.page(2);">2</a></li><li class="paging__item"><a class="paging__link" href="javascript:miniCaviar.page(3);">3</a></li><li class="paging__item"><a class="paging__link" href="javascript:miniCaviar.page(4);">4</a></li><li class="paging__item"><a class="paging__link" href="javascript:miniCaviar.page(5);">5</a></li><li class="paging__item paging__item--next"><a class="paging__link" href="javascript:miniCaviar.page(6);"><span class="sr-only">next</span></a></li>
                    </ul>
                </div>
            </div>
        </div>
        <!--//이벤트 댓글게시판-->

        <div class="promotion-group">
            <!--프로모션 상품 리스트-->
            <div class="promotion-product">
                <div class="promotion-product__header">
                    <div class="promotion-product__name">Wallet 1+1</div>
                </div>
                <div class="promotion-product__wrap">
                    <div class="promotion-product__item">
                        <!-- item -->
                        <div class="product-item">
                            <a href="" class="product-item__link">
                                <div class="product-item__state">NEW</div>
                                <div class="product-item__thumb">
                                    <img class="product-item__img" src="../../images/dummy/product_img1.png" alt="" />
                                </div>
                                <div class="product-item__cont">
                                    <div class="product-item__title">루이까또즈 L-Quilting Mini(엘퀼팅 미니) 여성크로스백 HP3QT06OR</div>
                                    <div class="product-item__price">
                                        <span class="product-item__price--sale">328,000원</span>
                                        <span class="product-item__price--current">289,290원</span>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <!-- .item -->
                    </div>
                    <div class="promotion-product__item">
                        <!-- item -->
                        <div class="product-item">
                            <a href="" class="product-item__link">
                                <div class="product-item__state">NEW</div>
                                <div class="product-item__thumb">
                                    <img class="product-item__img" src="../../images/dummy/product_img1.png" alt="" />
                                </div>
                                <div class="product-item__cont">
                                    <div class="product-item__title">루이까또즈 L-Quilting Mini(엘퀼팅 미니) 여성크로스백 HP3QT06OR</div>
                                    <div class="product-item__price">
                                        <span class="product-item__price--sale">328,000원</span>
                                        <span class="product-item__price--current">289,290원</span>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <!-- .item -->
                    </div>
                    <div class="promotion-product__item">
                        <!-- item -->
                        <div class="product-item">
                            <a href="" class="product-item__link">
                                <div class="product-item__state">NEW</div>
                                <div class="product-item__thumb">
                                    <img class="product-item__img" src="../../images/dummy/product_img1.png" alt="" />
                                </div>
                                <div class="product-item__cont">
                                    <div class="product-item__title">루이까또즈 L-Quilting Mini(엘퀼팅 미니) 여성크로스백 HP3QT06OR</div>
                                    <div class="product-item__price">
                                        <span class="product-item__price--sale">328,000원</span>
                                        <span class="product-item__price--current">289,290원</span>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <!-- .item -->
                    </div>
                    <div class="promotion-product__item">
                        <!-- item -->
                        <div class="product-item">
                            <a href="" class="product-item__link">
                                <div class="product-item__state">NEW</div>
                                <div class="product-item__thumb">
                                    <img class="product-item__img" src="../../images/dummy/product_img1.png" alt="" />
                                </div>
                                <div class="product-item__cont">
                                    <div class="product-item__title">루이까또즈 L-Quilting Mini(엘퀼팅 미니) 여성크로스백 HP3QT06OR</div>
                                    <div class="product-item__price">
                                        <span class="product-item__price--sale">328,000원</span>
                                        <span class="product-item__price--current">289,290원</span>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <!-- .item -->
                    </div>
                </div>
            </div>
            <!--//프로모션 상품 리스트-->

            <!--프로모션 상품 리스트-->
            <div class="promotion-product">
                <div class="promotion-product__header">
                    <div class="promotion-product__name">WOMEN'S WALLET</div>
                </div>
                <div class="promotion-product__wrap">
                    <div class="promotion-product__item">
                        <!-- item -->
                        <div class="product-item">
                            <a href="" class="product-item__link">
                                <div class="product-item__state">NEW</div>
                                <div class="product-item__thumb">
                                    <img class="product-item__img" src="../../images/dummy/product_img1.png" alt="" />
                                </div>
                                <div class="product-item__cont">
                                    <div class="product-item__title">루이까또즈 L-Quilting Mini(엘퀼팅 미니) 여성크로스백 HP3QT06OR</div>
                                    <div class="product-item__price">
                                        <span class="product-item__price--sale">328,000원</span>
                                        <span class="product-item__price--current">289,290원</span>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <!-- .item -->
                    </div>
                    <div class="promotion-product__item">
                        <!-- item -->
                        <div class="product-item">
                            <a href="" class="product-item__link">
                                <div class="product-item__state">NEW</div>
                                <div class="product-item__thumb">
                                    <img class="product-item__img" src="../../images/dummy/product_img1.png" alt="" />
                                </div>
                                <div class="product-item__cont">
                                    <div class="product-item__title">루이까또즈 L-Quilting Mini(엘퀼팅 미니) 여성크로스백 HP3QT06OR</div>
                                    <div class="product-item__price">
                                        <span class="product-item__price--sale">328,000원</span>
                                        <span class="product-item__price--current">289,290원</span>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <!-- .item -->
                    </div>
                    <div class="promotion-product__item">
                        <!-- item -->
                        <div class="product-item">
                            <a href="" class="product-item__link">
                                <div class="product-item__state">NEW</div>
                                <div class="product-item__thumb">
                                    <img class="product-item__img" src="../../images/dummy/product_img1.png" alt="" />
                                </div>
                                <div class="product-item__cont">
                                    <div class="product-item__title">루이까또즈 L-Quilting Mini(엘퀼팅 미니) 여성크로스백 HP3QT06OR</div>
                                    <div class="product-item__price">
                                        <span class="product-item__price--sale">328,000원</span>
                                        <span class="product-item__price--current">289,290원</span>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <!-- .item -->
                    </div>
                    <div class="promotion-product__item">
                        <!-- item -->
                        <div class="product-item">
                            <a href="" class="product-item__link">
                                <div class="product-item__state">NEW</div>
                                <div class="product-item__thumb">
                                    <img class="product-item__img" src="../../images/dummy/product_img1.png" alt="" />
                                </div>
                                <div class="product-item__cont">
                                    <div class="product-item__title">루이까또즈 L-Quilting Mini(엘퀼팅 미니) 여성크로스백 HP3QT06OR</div>
                                    <div class="product-item__price">
                                        <span class="product-item__price--sale">328,000원</span>
                                        <span class="product-item__price--current">289,290원</span>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <!-- .item -->
                    </div>
                </div>
            </div>
            <!--//프로모션 상품 리스트-->

            <!--프로모션 상품 리스트-->
            <div class="promotion-product">
                <div class="promotion-product__header">
                    <div class="promotion-product__name">MEN'S WALLET</div>
                </div>
                <div class="promotion-product__wrap">
                    <div class="promotion-product__item">
                        <!-- item -->
                        <div class="product-item">
                            <a href="" class="product-item__link">
                                <div class="product-item__state">NEW</div>
                                <div class="product-item__thumb">
                                    <img class="product-item__img" src="../../images/dummy/product_img1.png" alt="" />
                                </div>
                                <div class="product-item__cont">
                                    <div class="product-item__title">루이까또즈 L-Quilting Mini(엘퀼팅 미니) 여성크로스백 HP3QT06OR</div>
                                    <div class="product-item__price">
                                        <span class="product-item__price--sale">328,000원</span>
                                        <span class="product-item__price--current">289,290원</span>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <!-- .item -->
                    </div>
                    <div class="promotion-product__item">
                        <!-- item -->
                        <div class="product-item">
                            <a href="" class="product-item__link">
                                <div class="product-item__state">NEW</div>
                                <div class="product-item__thumb">
                                    <img class="product-item__img" src="../../images/dummy/product_img1.png" alt="" />
                                </div>
                                <div class="product-item__cont">
                                    <div class="product-item__title">루이까또즈 L-Quilting Mini(엘퀼팅 미니) 여성크로스백 HP3QT06OR</div>
                                    <div class="product-item__price">
                                        <span class="product-item__price--sale">328,000원</span>
                                        <span class="product-item__price--current">289,290원</span>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <!-- .item -->
                    </div>
                    <div class="promotion-product__item">
                        <!-- item -->
                        <div class="product-item">
                            <a href="" class="product-item__link">
                                <div class="product-item__state">NEW</div>
                                <div class="product-item__thumb">
                                    <img class="product-item__img" src="../../images/dummy/product_img1.png" alt="" />
                                </div>
                                <div class="product-item__cont">
                                    <div class="product-item__title">루이까또즈 L-Quilting Mini(엘퀼팅 미니) 여성크로스백 HP3QT06OR</div>
                                    <div class="product-item__price">
                                        <span class="product-item__price--sale">328,000원</span>
                                        <span class="product-item__price--current">289,290원</span>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <!-- .item -->
                    </div>
                    <div class="promotion-product__item">
                        <!-- item -->
                        <div class="product-item">
                            <a href="" class="product-item__link">
                                <div class="product-item__state">NEW</div>
                                <div class="product-item__thumb">
                                    <img class="product-item__img" src="../../images/dummy/product_img1.png" alt="" />
                                </div>
                                <div class="product-item__cont">
                                    <div class="product-item__title">루이까또즈 L-Quilting Mini(엘퀼팅 미니) 여성크로스백 HP3QT06OR</div>
                                    <div class="product-item__price">
                                        <span class="product-item__price--sale">328,000원</span>
                                        <span class="product-item__price--current">289,290원</span>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <!-- .item -->
                    </div>
                </div>
            </div>
            <!--//프로모션 상품 리스트-->
        </div>

        <div class="promotion-wrap">
            <!--프로모션 배너 리스트-->
            <div class="promotion-list">
                <a class="promotion-list__link" href="promotion_view.html">
                    <div class="promotion-list__box">
                        <img class="promotion-list__img" src="https://mcdn.louisclub.com/static/upload/marketing/2021/11/18/74480173-3dde-4aa5-a288-e70221b13deb.jpg" alt=""/>
                    </div>
                    <div class="promotion-list__name">KAREL MARTENS BAG</div>
                </a>
            </div>
            <!--//프로모션 배너 리스트-->

            <!--프로모션 배너 리스트-->
            <div class="promotion-list">
                <a class="promotion-list__link" href="promotion_view.html">
                    <div class="promotion-list__box">
                        <img class="promotion-list__img" src="https://mcdn.louisclub.com/static/upload/marketing/2021/11/19/35143dfb-abad-4ac5-b3f5-183ffe2a0b71.jpg" alt=""/>
                    </div>
                    <div class="promotion-list__name">L-Quilting mini</div>
                </a>
            </div>
            <!--//프로모션 배너 리스트-->

            <!--프로모션 배너 리스트-->
            <div class="promotion-list">
                <a class="promotion-list__link" href="promotion_view.html">
                    <div class="promotion-list__box">
                        <img class="promotion-list__img" src="https://mcdn.louisclub.com/static/upload/marketing/2021/11/17/becb0eb7-fa17-4ac9-9997-c266de64dde9.jpg" alt=""/>
                    </div>
                    <div class="promotion-list__name">LALA WALLET</div>
                </a>
            </div>
            <!--//프로모션 배너 리스트-->
        </div>
    </div>
</div>

<% include ../_include/_contentFooter %>
<% include ../_include/_cartFix %>
<% include ../_include/_footer %>