<%
type = "promotion"
page = "promotion"
popup = "false"
lnbTitle = "PROMOTION"
%>
<% include ../_include/_header %>
<div class="container">
    <div class="site-promotion">
    </div>
</div>

<% include ../_include/_contentFooter %>
<% include ../_include/_cartFix %>
<% include ../_include/_footer %>