<%
	type = "join"
	page = "join"
	popup = "false"
	lnbTitle = "회원가입"
%>
<% include ../_include/_header %>
<div class="container">
	<% include ../_include/_lnb %>
	<div class="site-main">
		<section class="join">
			<div class="wrap">
				<p class="join__info type-naver">
					네이버 계정으로 가입합니다.<br>
					<span class="join__point">abcdefg@naver.com</span>
				</p>
				<button class="join-box__btn btn-v1 type-primary">휴대폰 본인인증</button>
			</div>
		</section>
	</div>
</div>
<% include ../_include/_contentFooter %>
<% include ../_include/_footer %>