<%
	type = "join"
	page = "join"
	popup = "false"
	lnbTitle = "회원가입"
%>
<% include ../_include/_header %>
<div class="container">
	<% include ../_include/_lnb %>
	<div class="site-main">
		<section class="join">
			<div class="wrap">
				<section class="join__box">
					<article class="join-sns">
						<ul class="join-sns__list">
							<li class="join-sns__item type-naver">
								<a href="" class="join-sns__link">
									네이버 계정으로 회원가입
								</a>
							</li>
							<li class="join-sns__item type-kakao">
								<a href="" class="join-sns__link">
									카카오 계정으로 회원가입
								</a>
							</li>
							<li class="join-sns__item type-payco">
								<a href="" class="join-sns__link">
									페이코 계정으로 회원가입
								</a>
							</li>
						</ul>
					</article>
				</section>
				<section class="join__box join-box">
					<h3 class="join-box__tit">이메일로 회원가입</h3>
					<div class="join-box__field">
						<input type="text" class="input-v1" placeholder="내용을 입력하세요">
						<div class="join-box__select">
							<select name="" id="" class="select-v1">
								<option value="0">직접입력</option>
								<option value="1">@naver.com</option>
							</select>
						</div>
					</div>
					<button class="join-box__btn btn-v1 type-primary">다음</button>
				</section>
			</div>
		</section>
	</div>
</div>
<% include ../_include/_contentFooter %>
<% include ../_include/_footer %>