<%
type = "platform"
page = "platform"
lnbTitle = "ALL WORKS"
%>
<% include ../_include/_header %>
<div class="container">
    <% include ../_include/_lnbSelectPlatform %>
    <div class="site-main">
        <section class="platform">
            <!-- platform video -->
            <div class="platform-video">
                <video src="https://mcdn.louisclub.com/static/mo/img/platform/video_210907.mp4" class="platform-video__file" loop="" autoplay="" muted="muted" playsinline="" data-object-fit="cover"></video>
            </div>
            <!-- .platform video -->
            <% include ../_include/_platformListFilter %>
            <!-- product post -->
            <div class="product-post product-post--post">
                <ul class="product-post__list">
                    <li class="product-post__item">
                        <!-- item -->
                        <div class="product-item">
                            <a href="" class="product-item__link">
                                <div class="product-item__state">SOLD OUT</div>
                                <div class="product-item__thumb">
                                    <img class="product-item__img" src="../../images/dummy/platform-dummy1-1.jpg" alt="" />
                                </div>
                                <div class="product-item__cont">
                                    <div class="product-item__title">Martens and Martens KM Wrinkle Bag HP4CD43BU</div>
                                    <div class="product-item__price">
                                        <span class="product-item__price--sale">328,000원</span>
                                        <span class="product-item__price--current">289,290원</span>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <!-- .item -->
                    </li>
                    <li class="product-post__item">
                        <!-- item -->
                        <div class="product-item">
                            <a href="" class="product-item__link">
                                <div class="product-item__state">NEW</div>
                                <div class="product-item__thumb">
                                    <img class="product-item__img" src="../../images/dummy/platform-dummy1-2.jpg" alt="" />
                                </div>
                                <div class="product-item__cont">
                                    <div class="product-item__title">Martens and Martens KM Wrinkle Bag HP4CD43BU</div>
                                    <div class="product-item__price">
                                        <span class="product-item__price--sale">328,000원</span>
                                        <span class="product-item__price--current">289,290원</span>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <!-- .item -->
                    </li>
                    <li class="product-post__item">
                        <!-- item -->
                        <div class="product-item">
                            <a href="" class="product-item__link">
                                <div class="product-item__thumb">
                                    <img class="product-item__img" src="../../images/dummy/platform-dummy1-1.jpg" alt="" />
                                </div>
                                <div class="product-item__cont">
                                    <div class="product-item__title">Martens and Martens KM Wrinkle Bag HP4CD43BU</div>
                                    <div class="product-item__price">
                                        <span class="product-item__price--sale">328,000원</span>
                                        <span class="product-item__price--current">289,290원</span>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <!-- .item -->
                    </li>
                    <li class="product-post__item">
                        <!-- item -->
                        <div class="product-item">
                            <a href="" class="product-item__link">
                                <div class="product-item__thumb">
                                    <img class="product-item__img" src="../../images/dummy/platform-dummy1-2.jpg" alt="" />
                                </div>
                                <div class="product-item__cont">
                                    <div class="product-item__title">Martens and Martens KM Wrinkle Bag HP4CD43BU</div>
                                    <div class="product-item__price">
                                        <span class="product-item__price--sale">328,000원</span>
                                        <span class="product-item__price--current">289,290원</span>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <!-- .item -->
                    </li>
                    <li class="product-post__item">
                        <!-- item -->
                        <div class="product-item">
                            <a href="" class="product-item__link">
                                <div class="product-item__thumb">
                                    <img class="product-item__img" src="../../images/dummy/platform-dummy1-1.jpg" alt="" />
                                </div>
                                <div class="product-item__cont">
                                    <div class="product-item__title">Martens and Martens KM Wrinkle Bag HP4CD43BU</div>
                                    <div class="product-item__price">
                                        <span class="product-item__price--sale">328,000원</span>
                                        <span class="product-item__price--current">289,290원</span>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <!-- .item -->
                    </li>
                    <li class="product-post__item">
                        <!-- item -->
                        <div class="product-item">
                            <a href="" class="product-item__link">
                                <div class="product-item__thumb">
                                    <img class="product-item__img" src="../../images/dummy/platform-dummy1-2.jpg" alt="" />
                                </div>
                                <div class="product-item__cont">
                                    <div class="product-item__title">Martens and Martens KM Wrinkle Bag HP4CD43BU</div>
                                    <div class="product-item__price">
                                        <span class="product-item__price--sale">328,000원</span>
                                        <span class="product-item__price--current">289,290원</span>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <!-- .item -->
                    </li>
                </ul>
            </div>
            <!-- .product post -->
            <% include ../_include/_paging %>
        </section>
    </div>
</div>
<% include ../_include/_contentFooter %>
<% include ../_include/_cartFix %>
<% include ../_include/_footer %>
