<%
type = "payment"
page = "payment"
popup = "true"
lnbTitle = "주문완료"
%>
<% include ../_include/_header %>
<div class="container">
    <% include ../_include/_lnb %>
    <div class="site-main">
        <section class="payment">
            <!-- 주문완료 컨텐츠 -->
            <section class="payment-section bor--bottom">
                <div class="payment-complete">
                    <h2 class="payment-complete__title"><span class="payment-complete__title--name">홍길동</span>님 <br />주문이 정상적으로 완료되었습니다.</h2>
                    <div class="payment-complete__code">주문번호: <span class="payment-complete__code--name">M202081816</span></div>
                    <p class="payment-complete__info-text">주문 내역은 My Page &gt; 쇼핑내역 &gt; 주문/배송조회에서 확인 가능합니다.</p>
                </div>
            </section>
            <!-- .주문완료 컨텐츠 -->
            <!-- 배송지 정보 -->
            <section class="payment-section bor--bottom">
                <h2 class="payment-section__title">배송지 정보</h2>
                <div class="payment-section__cont">
                    <div class="user-address">
                        <div class="user-address__header">
                            <div class="user-address__meta">
                                <span class="user-address__meta--name">홍길동</span>/<span class="user-address__meta--position">회사</span>
                            </div>
                            <div class="user-address__tel">010-1234-5678</div>
                            <div class="user-address__address">(02586) 서울시 동대문구 하정로 26 (신설동) 3F</div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- .배송지 정보 -->
            <!-- 주문자 정보 -->
            <section class="payment-section bor--bottom">
                <h2 class="payment-section__title">주문자 정보</h2>
                <div class="payment-section__cont">
                    <% include ../_include/_ordererInfo %>
                </div>
            </section>
            <!-- .주문자 정보 -->
            <!-- 주문 상품정보-->
            <section class="payment-section bor--bottom">
                <h2 class="payment-section__title">주문 상품정보</h2>
                <div class="payment-section__cont">
                    <% include ../_include/_orderProductNonMember %>
                </div>
            </section>
            <!-- .주문 상품정보 -->
            <!-- 결제하기-->
            <section class="payment-section">
                <h2 class="payment-section__title">결제하기</h2>
                <div class="payment-section__cont">
                    <% include ../_include/_paymentTool %>
                </div>
            </section>
            <!-- .결제하기 -->
            <!-- 토탈결제금액-->
            <section class="payment-section bg-gray">
                <div class="payment-total">
                    <div class="payment-total__title">
                        <dl class="payment-total__inner">
                            <dt class="payment-total__text">최종 결제금액</dt>
                            <dd class="payment-total__price">289,290원</dd>
                        </dl>
                    </div>
                    <div class="payment-total__cont">
                        <ul class="payment-total__list">
                            <li class="payment-total__item">
                                <dl class="payment-total__inner">
                                    <dt class="payment-total__text">총 주문상품금액</dt>
                                    <dd class="payment-total__price">328,000원</dd>
                                </dl>
                            </li>
                            <li class="payment-total__item">
                                <dl class="payment-total__inner">
                                    <dt class="payment-total__text">쿠폰할인금액</dt>
                                    <dd class="payment-total__price">-38,710원</dd>
                                </dl>
                            </li>
                            <li class="payment-total__item">
                                <dl class="payment-total__inner">
                                    <dt class="payment-total__text">적립금 즉시할인</dt>
                                    <dd class="payment-total__price">0원</dd>
                                </dl>
                            </li>
                            <li class="payment-total__item">
                                <dl class="payment-total__inner">
                                    <dt class="payment-total__text">적립금 사용</dt>
                                    <dd class="payment-total__price">-2,000원</dd>
                                </dl>
                            </li>
                            <li class="payment-total__item">
                                <dl class="payment-total__inner">
                                    <dt class="payment-total__text">배송비</dt>
                                    <dd class="payment-total__price">0원</dd>
                                </dl>
                            </li>
                        </ul>
                    </div>
                </div>
            </section>
            <!-- .토탈결제금액 -->
            <!-- 구매동의-->
            <section class="payment-section complete-section--last">
                <ul class="complete-section__inner">
                    <li class="complete-section__item"><a href="#;" class="complete-section__link">쇼핑 계속하기</a></li>
                    <li class="complete-section__item"><a href="#;" class="complete-section__link">주문내역 조회</a></li>
                </ul>
            </section>
            <!-- .구매동의 -->
        </section>
    </div>
</div>
<% include ../_include/_contentFooter %>
<% include ../_popup/_installment %>
<% include ../_include/_footer %>