<%
type = "payment"
page = "payment"
popup = "true"
lnbTitle = "주문서"
%>
<% include ../_include/_header %>
<div class="container">
    <% include ../_include/_lnb %>
    <div class="site-main">
        <section class="payment">
            <!-- 배송지 정보 -->
            <section class="payment-section bor--bottom">
                <h2 class="payment-section__title">배송지 정보</h2>
                <p class="payment-section__text">등록된 배송지 정보가 없습니다. 배송지 정보를 입력하세요.</p>
                <div class="payment-section__cont">
                    <% include ../_include/_addressInfo %>
                </div>
            </section>
            <!-- .배송지 정보 -->
            <!-- 주문자 정보 -->
            <section class="payment-section bor--bottom">
                <h2 class="payment-section__title">주문자 정보</h2>
                <div class="payment-section__cont">
                    <% include ../_include/_ordererInfo %>
                </div>
            </section>
            <!-- .주문자 정보 -->
            <!-- 주문 상품정보-->
            <section class="payment-section bor--bottom">
                <h2 class="payment-section__title">주문 상품정보</h2>
                <div class="payment-section__cont">
                    <% include ../_include/_orderProduct %>
                </div>
            </section>
            <!-- .주문 상품정보 -->
            <!-- 쿠폰/할인 정보-->
            <section class="payment-section bor--bottom">
                <h2 class="payment-section__title">쿠폰/할인 정보</h2>
                <div class="payment-section__cont">
                    <% include ../_include/_couponInfo %>
                </div>
            </section>
            <!-- .쿠폰/할인 정보 -->
            <!-- 결제하기-->
            <section class="payment-section">
                <h2 class="payment-section__title">결제하기</h2>
                <div class="payment-section__cont">
                    <% include ../_include/_paymentTool %>
                </div>
            </section>
            <!-- .결제하기 -->
            <!-- 토탈결제금액-->
            <section class="payment-section bg-gray">
                <div class="payment-total">
                    <div class="payment-total__title">
                        <dl class="payment-total__inner">
                            <dt class="payment-total__text">최종 결제금액</dt>
                            <dd class="payment-total__price">289,290원</dd>
                        </dl>
                    </div>
                    <div class="payment-total__cont">
                        <ul class="payment-total__list">
                            <li class="payment-total__item">
                                <dl class="payment-total__inner">
                                    <dt class="payment-total__text">총 주문상품금액</dt>
                                    <dd class="payment-total__price">328,000원</dd>
                                </dl>
                            </li>
                            <li class="payment-total__item">
                                <dl class="payment-total__inner">
                                    <dt class="payment-total__text">쿠폰할인금액</dt>
                                    <dd class="payment-total__price">-38,710원</dd>
                                </dl>
                            </li>
                            <li class="payment-total__item">
                                <dl class="payment-total__inner">
                                    <dt class="payment-total__text">적립금 즉시할인</dt>
                                    <dd class="payment-total__price">0원</dd>
                                </dl>
                            </li>
                            <li class="payment-total__item">
                                <dl class="payment-total__inner">
                                    <dt class="payment-total__text">적립금 사용</dt>
                                    <dd class="payment-total__price">-2,000원</dd>
                                </dl>
                            </li>
                            <li class="payment-total__item">
                                <dl class="payment-total__inner">
                                    <dt class="payment-total__text">배송비</dt>
                                    <dd class="payment-total__price">0원</dd>
                                </dl>
                            </li>
                        </ul>
                    </div>
                </div>
            </section>
            <!-- .토탈결제금액 -->
            <!-- 구매동의-->
            <section class="payment-section">
                <h2 class="payment-section__title">구매동의</h2>
                <div class="payment-section__cont">
                    <div class="payment-agree">
                        <p class="payment-agree__text">주문할 상품의 상품명, 상품가격, 배송 정보를 확인하였으며, 구매에 동의하시겠습니까? <br />(전자상거래법 제8조 제2항)</p>
                        <div class="form__checkbox form__checkbox--big">
                            <input class="form__checkbox--input sr-only" type="checkbox" name="paymentAgree" id="paymentAgree">
                            <label class="form__checkbox--text js-full-use" for="paymentAgree">동의합니다.</label>
                        </div>
                        <button class="payment-agree__btn btn-v1 type-primary">결제하기</button>
                    </div>
                </div>
            </section>
            <!-- .구매동의 -->
        </section>
    </div>
</div>
<% include ../_include/_contentFooter %>
<% include ../_popup/_installment %>
<% include ../_popup/_gift %>
<% include ../_popup/_message %>
<% include ../_popup/_coupon %>
<% include ../_include/_footer %>