<%
type = "project"
page = "project"
popup = "true"
lnbTitle = "COLLABORATION"
%>

<% include ../_include/_header %>
<div class="container">
    <% include ../_include/_lnb.ejs %>
    <div class="site-project">

        <div class="collabo-list">
            <!--콜라보 리스트-->
            <div class="collabo-list__wrap">
                <a class="collabo-list__link js-popup-open" href="#collaborationPop">
                    <div class="collabo-list__item">
                        <img class="collabo-list__img" src="https://mcdn.louisclub.com/static/mo/img/collabo/list/1.jpg" alt=""/>
                        <p class="collabo-list__txt">LOUIS QUATORZE X TZURI GUETTA</p>
                    </div>
                </a>
            </div>
            <!--//콜라보 리스트-->

            <!--콜라보 리스트-->
            <div class="collabo-list__wrap">
                <a class="collabo-list__link js-popup-open" href="#collaborationPop">
                    <div class="collabo-list__item">
                        <img class="collabo-list__img" src="https://mcdn.louisclub.com/static/mo/img/collabo/list/2.jpg" alt=""/>
                        <p class="collabo-list__txt">LOUIS QUATORZE X TZURI GUETTA</p>
                    </div>
                </a>
            </div>
            <!--//콜라보 리스트-->

            <!--콜라보 리스트-->
            <div class="collabo-list__wrap">
                <a class="collabo-list__link js-popup-open" href="#collaborationPop">
                    <div class="collabo-list__item">
                        <img class="collabo-list__img" src="https://mcdn.louisclub.com/static/mo/img/collabo/list/3.jpg" alt=""/>
                        <p class="collabo-list__txt">LOUIS QUATORZE X TZURI GUETTA</p>
                    </div>
                </a>
            </div>
            <!--//콜라보 리스트-->
        </div>
    </div>
</div>

<% include ../_include/_contentFooter %>
<% include ../_include/_cartFix %>
<% include ../_popup/_collaboration.ejs %>
<% include ../_include/_footer %>