<%
type = "project"
page = "project"
popup = "false"
lnbTitle = "PROJECT"
%>

<% include ../_include/_header %>
<div class="container">
<% include ../_include/_lnbSelect.ejs %>
    <div class="site-project">
        <!--FYL1 - 헤더-->
        <div class="fyl-header">
            <div class="fyl-header__name">FIND YOUR LIGHT</div>
            <div class="fyl-header__date">2020.07.17 ~ 2021.04.30</div>
        </div>
        <!--//FYL1 - 헤더-->

        <!--FYL1 - 비디오영역-->
        <div class="fyl-full">
            <div class="fyl-full__wrap">
                <video class="fyl-full__source" src="https://mcdn.louisclub.com/static/mo/img/specialty/20200710/find.mp4" loop="" autoplay="" muted="true" playsinline="" data-object-fit="cover" poster="https://mcdn.louisclub.com/static/mo/img/specialty/20200710/video_bg.jpg"></video>
            </div>
        </div>
        <!--//FYL1 - 비디오영역-->

        <!--FYL1 - 당신이 찾고 있는 빛은 어떤 색인가요?-->
        <div class="fyl-info">
            <div class="fyl-info__wrap">
                <img class="fyl-info__img" src="https://mcdn.louisclub.com/static/mo/img/specialty/20200710/top_tit.png" alt="" />
            </div>
        </div>
        <!--//FYL1 - 당신이 찾고 있는 빛은 어떤 색인가요?-->

        <!--FYL1 - Ns & DM 컨텐츠-->
        <div class="fyl-contents js-tab-wrap cont01">
            <div class="fyl-contents__outer">
                <div class="fyl-contents__inner">
                    <!-- tab -->
                    <div class="fyl-tab">
                        <ul class="fyl-tab__list">
                            <li class="fyl-tab__item is-current">
                                <a href="#;" class="fyl-tab__link fyl-tab__link--white js-tab-change">MUSIC</a>
                            </li>
                            <li class="fyl-tab__item">
                                <a href="#;" class="fyl-tab__link fyl-tab__link--white js-tab-change">UNBOXING</a>
                            </li>
                            <li class="fyl-tab__item">
                                <a href="#;" class="fyl-tab__link fyl-tab__link--white js-tab-change">STORY</a>
                            </li>
                        </ul>
                    </div>
                    <!-- .tab -->

                    <!-- cont -->
                    <div class="fyl-cont">
                        <div class="fyl-cont__item js-change-cont is-current">
                            <!--비디오-->
                            <div class="project-video__area js-play-btn nth-1">
                                <div class="project-video__intro nth-1">
                                    <div class="project-video__play"></div>
                                </div>
                                <div class="project-video__youtube" data-url="gR_nOZwaJzo"></div>
                            </div>
                            <!--//비디오-->
                        </div>
                        <div class="fyl-cont__item js-change-cont">
                            <!--비디오-->
                            <div class="project-video__area js-play-btn nth-2">
                                <div class="project-video__intro nth-2">
                                    <div class="project-video__play"></div>
                                </div>
                                <div class="project-video__youtube" data-url="l0Ed71NIX88"></div>
                            </div>
                            <!--//비디오-->
                        </div>
                        <div class="fyl-cont__item js-change-cont">
                            <!--비디오-->
                            <div class="project-video__area js-play-btn nth-3">
                                <div class="project-video__intro nth-3">
                                    <div class="project-video__play"></div>
                                </div>
                                <div class="project-video__youtube" data-url="XvCs14OQo-8"></div>
                            </div>
                            <!--//비디오-->
                        </div>
                    </div>
                    <!-- .cont -->
                    <div class="fyl-contents__source">
                        <img class="fyl-contents__txt" src="https://mcdn.louisclub.com/static/mo/img/specialty/20200710/section_tit_0.png" alt=""/>
                    </div>
                </div>
            </div>
        </div>
        <!--//FYL1 - Ns & DM 컨텐츠-->

        <!--FYL1 - Hoody 컨텐츠-->
        <div class="fyl-contents js-tab-wrap cont02">
            <div class="fyl-contents__outer">
                <div class="fyl-contents__inner">
                    <!-- tab -->
                    <div class="fyl-tab">
                        <ul class="fyl-tab__list">
                            <li class="fyl-tab__item is-current">
                                <a href="#;" class="fyl-tab__link fyl-tab__link--black js-tab-change">MUSIC</a>
                            </li>
                            <li class="fyl-tab__item">
                                <a href="#;" class="fyl-tab__link fyl-tab__link-black js-tab-change">STORY</a>
                            </li>
                        </ul>
                    </div>
                    <!-- .tab -->

                    <!-- cont -->
                    <div class="fyl-cont">
                        <div class="fyl-cont__item js-change-cont is-current">
                            <!--비디오-->
                            <div class="project-video__area js-play-btn nth-4">
                                <div class="project-video__intro nth-4">
                                    <div class="project-video__play"></div>
                                </div>
                                <div class="project-video__youtube" data-url="XvCs14OQo-8"></div>
                            </div>
                            <!--//비디오-->
                        </div>
                        <div class="fyl-cont__item js-change-cont">
                            <!--비디오-->
                            <div class="project-video__area js-play-btn nth-5">
                                <div class="project-video__intro nth-5">
                                    <div class="project-video__play"></div>
                                </div>
                                <div class="project-video__youtube" data-url="X-GdV5asgO0"></div>
                            </div>
                            <!--//비디오-->
                        </div>
                    </div>
                    <!-- .cont -->
                    <div class="fyl-contents__source">
                        <img class="fyl-contents__txt" src="https://mcdn.louisclub.com/static/mo/img/specialty/20200710/section_tit_1.png" alt=""/>
                    </div>
                </div>
            </div>
        </div>
        <!--//FYL1 - Hoody 컨텐츠-->

        <!--FYL1 하단 메뉴탭-->
        <!-- <div class="fyl-menu">
            <div class="fyl-menu__wrap">
                <div class="fyl-menu__list">
                    <a href="#cont01"></a>
                    <a href="#cont02"></a>
                    <a href="#cont03"></a>
                    <a href="#cont04"></a>
                    <a href="#cont05"></a>
                    <a href="#cont06"></a>
                </div>
            </div>
        </div>-->
        <!--//FYL1 하단 메뉴탭-->
    </div>
</div>

<% include ../_include/_contentFooter %>
<% include ../_include/_cartFix %>
<% include ../_include/_footer %>