<!-- cart fix button -->
<div class="cart-fix__button">
    <div class="cart-fix__button--item">
        <a href="javascript:void(0);" class="cart-fix__button--link fix-button__link--price"><span class="cart-fix__button--text"><span class="cart-fix__button--count">2</span>289,290원</span></a>
    </div>
    <div class="cart-fix__button--item">
        <a href="javascript:void(0);" class="cart-fix__button--link fix-button__link--buy"><span class="cart-fix__button--text">Buy Now</span></a>
    </div>
</div>
<!-- .cart button -->