<!-- detail share -->
<div class="detail-fix__btn">
    <a href="#;" class="detail-fix__zoom js-zoom-btn"><span class="sr-only">확대해보기</span></a>
    <div class="detail-fix__share">
        <a href="#;" class="detail-fix__share--btn js-share-btn"><span class="sr-only">쉐어목록보기</span></a>
        <!-- Menu -->
        <div class="detail-fix__share-warp">
            <ul class="detail-fix__share-list">
                <li class="detail-fix__share-item ico--facebook"><a href="#;" class="detail-fix__share-link">facebook</a></li>
                <li class="detail-fix__share-item ico--instagram"><a href="#;" class="detail-fix__share-link">instagram</a></li>
                <li class="detail-fix__share-item ico--kakao"><a href="#;" class="detail-fix__share-link">kakao</a></li>
            </ul>
        </div>
        <!-- .Menu -->
    </div>
</div>
<!-- .detail share -->