
	<script src="../../js/libs/jquery-3.6.0.min.js"></script>
	<% if (page == "detail") { %>
		<script src="../../js/libs/swiper-4.5.0.min.js"></script>
	<% } %>
	<script src="../../js/common.js"></script>
	<% if (popup == "true") { %>
		<script src="../../js/popup.js"></script>
	<% } %>
</body>
</html>
<!--footerë-->
