<!-- inquiry-fix -->
<div class="inquiry-fix">
    <ul class="inquiry-fix__list">
        <li class="inquiry-fix__item"><a class="inquiry-fix__link" href="javascript:void(0);">Delete</a></li>
        <li class="inquiry-fix__item"><a class="inquiry-fix__link" href="javascript:void(0);">Add To Cart</a></li>
    </ul>
</div>
<!-- .inquiry-fix -->