<!-- lnb -->
<div class="lnb">
    <div class="lnb__tit">
        <a href="" class="lnb__back js-lnb-back">back</a>
        <span class="lnb__btn"><%= lnbTitle %></span>
    </div>
</div>
<!-- .lnb -->