
<div class="lnb">
    <p class="lnb__tit">
        <a href="" class="lnb__back js-lnb-back">back</a>
        <span class="lnb__btn js-lnb-btn"><span class="lnb__arrow"><%= lnbTitle %></span></span>
    </p>
    <!-- <div class="lnb-v2__wrap">
        <ul class="lnb-v2__list">
            <li class="lnb-v2__item">
                <a href="" class="lnb-v2__link"><span class="lnb-v2__line">bag all</span.></a>
            </li>
            <li class="lnb-v2__item is-active">
                <a href="" class="lnb-v2__link"><span class="lnb-v2__line">토트백</span></a>
            </li>
            <li class="lnb-v2__item">
                <a href="" class="lnb-v2__link"><span class="lnb-v2__line">미니백/클러치백</span></a>
            </li>
            <li class="lnb-v2__item">
                <a href="" class="lnb-v2__link"><span class="lnb-v2__line">숄더백</span></a>
            </li>
            <li class="lnb-v2__item">
                <a href="" class="lnb-v2__link"><span class="lnb-v2__line">크로스백</span></a>
            </li>
            <li class="lnb-v2__item">
                <a href="" class="lnb-v2__link"><span class="lnb-v2__line">백팩</span></a>
            </li>
        </ul>
    </div> -->
</div>