<!-- lnb -->
<div class="lnb">
    <div class="lnb__tit">
        <a href="" class="lnb__back js-lnb-back">back</a>
        <a href="#;" class="lnb__btn js-lnb-btn"><span class="lnb__arrow"><%= lnbTitle %></span></a>
    </div>
    <!-- lnbMenu -->
    <div class="lnb__dim js-lnb-close">dim</div>
    <div class="lnb__wrap">
        <ul class="lnb__list">
            <li class="lnb__item is-active">
                <a href="" class="lnb__link">
                    <span class="lnb__line">MY LOUIS</span>
                </a>
            </li>
            <li class="lnb__item ">
                <a href="" class="lnb__link">
                    <span class="lnb__line">주문배송조회</span>
                </a>
            </li>
            <li class="lnb__item ">
                <a href="" class="lnb__link">
                    <span class="lnb__line">취소/반품</span>
                </a>
            </li>
            <li class="lnb__item ">
                <a href="" class="lnb__link">
                    <span class="lnb__line">쿠폰</span>
                </a>
            </li>
            <li class="lnb__item ">
                <a href="" class="lnb__link">
                    <span class="lnb__line">적립금</span>
                </a>
            </li>
            <li class="lnb__item ">
                <a href="" class="lnb__link">
                    <span class="lnb__line">상품 리뷰</span>
                </a>
            </li>
            <li class="lnb__item ">
                <a href="" class="lnb__link">
                    <span class="lnb__line">WISH LIST</span>
                </a>
            </li>
            <li class="lnb__item ">
                <a href="" class="lnb__link">
                    <span class="lnb__line">1:1 문의</span>
                </a>
            </li>
            <li class="lnb__item ">
                <a href="" class="lnb__link">
                    <span class="lnb__line">상품 Q&A</span>
                </a>
            </li>
            <li class="lnb__item ">
                <a href="" class="lnb__link">
                    <span class="lnb__line">재입고 알림 내역</span>
                </a>
            </li>
            <li class="lnb__item ">
                <a href="" class="lnb__link">
                    <span class="lnb__line">이벤트 참여현황</span>
                </a>
            </li>
            <li class="lnb__item ">
                <a href="" class="lnb__link">
                    <span class="lnb__line">회원정보수정</span>
                </a>
            </li>
            <li class="lnb__item ">
                <a href="" class="lnb__link">
                    <span class="lnb__line">배송지 관리</span>
                </a>
            </li>
            <li class="lnb__item ">
                <a href="" class="lnb__link">
                    <span class="lnb__line">회원 탈퇴</span>
                </a>
            </li>
            <li class="lnb__item ">
                <a href="" class="lnb__link">
                    <span class="lnb__line">비밀번호 변경</span>
                </a>
            </li>
        </ul>
    </div>
    <!-- .lnbMenu -->
</div>
<!-- .lnb -->