<!-- lnb -->
<div class="lnb">
    <div class="lnb__tit">
        <a href="" class="lnb__back js-lnb-back">back</a>
        <a href="#;" class="lnb__btn js-lnb-btn"><span class="lnb__arrow"><%= lnbTitle %></span></a>
    </div>
    <!-- lnbMenu -->
    <div class="lnb__dim js-lnb-close">dim</div>
    <div class="lnb__wrap">
        <ul class="lnb__list">
            <li class="lnb__item is-active">
                <a href="" class="lnb__link">
                    <span class="lnb__line">ABOUT</span>
                </a>
            </li>
            <li class="lnb__item ">
                <a href="" class="lnb__link">
                    <span class="lnb__line">연슬</span>
                </a>
            </li>
            <li class="lnb__item ">
                <a href="" class="lnb__link">
                    <span class="lnb__line">김정섭</span>
                </a>
            </li>
            <li class="lnb__item ">
                <a href="" class="lnb__link">
                    <span class="lnb__line">스튜디오 차차</span>
                </a>
            </li>
            <li class="lnb__item ">
                <a href="" class="lnb__link">
                    <span class="lnb__line">김현희</span>
                </a>
            </li>
            <li class="lnb__item ">
                <a href="" class="lnb__link">
                    <span class="lnb__line">이학민</span>
                </a>
            </li>
            <li class="lnb__item ">
                <a href="" class="lnb__link">
                    <span class="lnb__line">이시산</span>
                </a>
            </li>
            <li class="lnb__item ">
                <a href="" class="lnb__link">
                    <span class="lnb__line">이채영</span>
                </a>
            </li>
            <li class="lnb__item ">
                <a href="" class="lnb__link">
                    <span class="lnb__line">신다인</span>
                </a>
            </li>
            <li class="lnb__item ">
                <a href="" class="lnb__link">
                    <span class="lnb__line">제로랩</span>
                </a>
            </li>
            <li class="lnb__item ">
                <a href="" class="lnb__link">
                    <span class="lnb__line">김은학</span>
                </a>
            </li>
        </ul>
    </div>
    <!-- .lnbMenu -->
</div>
<!-- .lnb -->