<!-- lnb -->
<div class="lnb">
    <div class="lnb__tit">
        <a href="" class="lnb__back js-lnb-back">back</a>
        <a href="#;" class="lnb__btn js-lnb-btn"><span class="lnb__arrow"><%= lnbTitle %></span></a>
    </div>
    <!-- lnbMenu -->
    <div class="lnb__dim js-lnb-close">dim</div>
    <div class="lnb__wrap">
        <ul class="lnb__list">
            <li class="lnb__item is-active">
                <a href="" class="lnb__link">
                    <span class="lnb__line">BAG ALL</span>
                </a>
            </li>
            <li class="lnb__item ">
                <a href="" class="lnb__link">
                    <span class="lnb__line">숄더백</span>
                </a>
            </li>
            <li class="lnb__item ">
                <a href="" class="lnb__link">
                    <span class="lnb__line">토트백</span>
                </a>
            </li>
            <li class="lnb__item ">
                <a href="" class="lnb__link">
                    <span class="lnb__line">크로스백</span>
                </a>
            </li>
            <li class="lnb__item ">
                <a href="" class="lnb__link">
                    <span class="lnb__line">미니백/클러치백</span>
                </a>
            </li>
            <li class="lnb__item ">
                <a href="" class="lnb__link">
                    <span class="lnb__line">백팩</span>
                </a>
            </li>
        </ul>
        <a class="lnb__collection" href=""><span class="lnb__collection--text">COLLECTION</span></a>
    </div>
    <!-- .lnbMenu -->
</div>
<!-- .lnb -->