<!-- fix -->
<div class="myPage-fix myPage-fix__red">
    <ul class="myPage-fix__list">
        <li class="myPage-fix__item"><a class="myPage-fix__link" href="javascript:void(0);">Delete</a></li>
        <li class="myPage-fix__item"><a class="myPage-fix__link" href="javascript:void(0);">Add To Cart</a></li>
    </ul>
</div>
<!-- .fix -->