<!-- fix -->
<div class="myPage-fix">
    <ul class="myPage-fix__list">
        <li class="myPage-fix__item"><a class="myPage-fix__link" href="javascript:void(0);">취소</a></li>
        <li class="myPage-fix__item"><a class="myPage-fix__link" href="javascript:void(0);">저장</a></li>
    </ul>
</div>
<!-- .fix -->