<!-- 주문자 정보 -->
<div class="order-info">
    <ul class="order-info__list">
        <li class="order-info__item">
            <input type="text" class="form__input--text" title="성명" placeholder="성명">
        </li>
        <li class="order-info__item">
            <ul class="form-tel">
                <li class="form-tel__item">
                    <select name="wirteOption" id="addressSelect1" class="form__select js-placeholder" title="선택">
                        <option value="" disabled="">선택</option>
                        <option value="010" selected="">010</option>
                        <option value="011">011</option>
                        <option value="016">016</option>
                        <option value="017">017</option>
                        <option value="018">018</option>
                        <option value="019">019</option>
                    </select>
                </li>
                <li class="form-tel__item">
                    <input type="number" class="form__input--text" title="연락처" placeholder="연락처" maxlength="4">
                </li>
                <li class="form-tel__item">
                    <input type="number" class="form__input--text" title="연락처 마지막 번호" maxlength="4">
                </li>
            </ul>
        </li>
        <li class="order-info__item">
            <div class="form-email__field">
                <input type="email" class="input-v1" placeholder="이메일">
                <div class="form-email__select">
                    <select name="" id="" class="form__select js-placeholder is-check">
                        <option value="0">직접입력</option>
                        <option value="1">@naver.com</option>
                    </select>
                </div>
            </div>
        </li>
    </ul>
</div>
<!-- .주문자 정보 -->