<!-- item -->
<div class="order-mypage__item">
    <div class="order-mypage__info">
        <div class="order-mypage__type">
            <div class="order-mypage__orderId">주문번호 <a href="" class="order-mypage__orderId-link">P20210812142407</a></div>
            <div class="order-mypage__date">2021.10.19 오후 04:10</div>
        </div>
        <div class="order-mypage__step">반품완료</div>
    </div>
    <div class="order-mypage__contents">
        <a href="#;" class="order-mypage__thumb"><img class="order-mypage__img" src="../../images/dummy/detail-img1.jpg" alt=""></a>
        <div class="order-mypage__cont">
            <div class="order-mypage__title">루이까또즈 MINI CAVIAR (미니캐비어) 사첼백 HO1PM21IV</div>
            <div class="order-mypage__price type-single">289,290원</div>
        </div>
    </div>
</div>
<!-- .item -->