<!-- 쿠폰/할인 정보 -->
<div class="payment-tool">
    <ul class="payment-tool__list">
        <li class="payment-tool__item">
            <a href="#ceditCard" class="payment-tool__link js-payment-open"><span class="payment-tool__text">신용카드</span></a>
        </li>
        <li class="payment-tool__item">
            <a href="#noBankbook" class="payment-tool__link js-payment-open"><span class="payment-tool__text">무통장 입금</span></a>
        </li>
        <li class="payment-tool__item">
            <a href="javascript:void(0)" class="payment-tool__link js-payment-open"><span class="payment-tool__text sr-only">naver pay</span></a>
        </li>
        <li class="payment-tool__item">
            <a href="#payco" class="payment-tool__link js-payment-open"><span class="payment-tool__text sr-only">payco</span></a>
        </li>
        <li class="payment-tool__item">
            <a href="#realTime" class="payment-tool__link js-payment-open"><span class="payment-tool__text">실시간 계좌이체</span></a>
        </li>
    </ul>
</div>
<div class="payment-tool__list">
    <!-- 신용카드 -->
    <div id="ceditCard" class="payment-tool__list--item">
        <div class="payment-tool__cedit">
            <a href="payment-tool__cedit--link">무이자 및 부분 무이자 할부 안내</a>
        </div>
    </div>
    <!-- .신용카드 -->
    <!-- 무통장 입금 -->
    <div id="noBankbook" class="payment-tool__list--item">

    </div>
    <!-- .무통장 입금 -->
    <!-- 페이코 -->
    <div id="payco" class="payment-tool__list--item">
        <div class="payment-tool__cedit">
            <span href="payment-tool__cedit--text">
                <span class="payment-tool__text--red">PAYCO</span> 간편결제 안내 <br>PAYCO는 온/오프라인 쇼핑은 물론 송금, 멤버십 적립까지 가능한 통합 서비스입니다.<br>- 지원카드: 모든 국내 신용/체크카드
            </span>
        </div>
    </div>
    <!-- .페이코 -->
    <!-- 실시간 계좌이체 -->
    <div id="realTime" class="payment-tool__list--item">

    </div>
    <!-- .실시간 계좌이체 -->
</div>
<!-- .쿠폰/할인 정보 -->