<!-- fix button -->
<div class="fix-button platforml-only">
    <div class="fix-button__item">
        <a href="#specialPop" class="fix-button__link fix-button__link--call js-popup-open">
            <span class="fix-button__text">판매가 별도문의</span>
        </a>
    </div>
</div>
<!-- .fix button -->