<!-- Product List Filter -->
<div class="list-filter list-filter__search">
    <div class="wrap">
        <div class="filter__layout">
            <a href="#;" class="filter__link filter__link--list js-layout-chage">217개 상품</a>
        </div>
        <div class="filter__meta">
            <!-- Select -->
            <div class="filter__meta--select">
                <select name="sort" id="sort" class="filter__select" title="상품 정렬 순서">
                    <option value="new" selected="">신상품순</option>
                    <option value="best">베스트순</option>
                    <option value="high">높은가격순</option>
                    <option value="low">낮은가격순</option>
                </select>
            </div>
            <!-- .Select -->
        </div>
    </div>
</div>
<!-- .Product List Filter -->