<div class="product-review__info">
    <div class="product-review__header">
        <div class="product-review__comment--not">아직 등록된 리뷰가 없습니다.</div>
    </div>
    <div class="product-review__cont">
        <div class="product-review__inner">
            <a href="javascript:void(0);" class="btn--border">리뷰등록하기</a>
        </div>
    </div>
</div>

