<!-- item -->
<div class="mypage-reserve__item">
    <div class="mypage-reserve__date">2021.10.19</div>
    <div class="mypage-reserve__info">
        <div class="mypage-reserve__type">주문취소/반품_890846</div>
        <div class="mypage-reserve__orderId">주문번호 : <span class="order-number">P20210812142407</span></div>
    </div>
    <div class="mypage-reserve__point">-200</div>
</div>
<!-- .item -->
<!-- item -->
<div class="mypage-reserve__item">
    <div class="mypage-reserve__date">2021.10.19</div>
    <div class="mypage-reserve__info">
        <div class="mypage-reserve__type">상품구매 적립금_890846</div>
        <div class="mypage-reserve__orderId">주문번호 : <span class="order-number">P20210812142407</span></div>
    </div>
    <div class="mypage-reserve__point num-plus">200</div>
</div>
<!-- .item -->
<!-- item -->
<div class="mypage-reserve__item">
    <div class="mypage-reserve__date">2021.10.19</div>
    <div class="mypage-reserve__info">
        <div class="mypage-reserve__type">리뷰취소</div>
        <div class="mypage-reserve__orderId">주문번호 : <span class="order-number">P20210812142407</span></div>
    </div>
    <div class="mypage-reserve__point">-500</div>
</div>
<!-- .item -->
<!-- item -->
<div class="mypage-reserve__item">
    <div class="mypage-reserve__date">2021.10.19</div>
    <div class="mypage-reserve__info">
        <div class="mypage-reserve__type">포토상품리뷰</div>
        <div class="mypage-reserve__orderId">주문번호 : <span class="order-number">P20210812142407</span></div>
    </div>
    <div class="mypage-reserve__point num-plus">2000</div>
</div>
<!-- .item -->
<!-- item -->
<div class="mypage-reserve__item">
    <div class="mypage-reserve__date">2021.10.19</div>
    <div class="mypage-reserve__info">
        <div class="mypage-reserve__type">주문취소/반품_890846</div>
        <div class="mypage-reserve__orderId">주문번호 : <span class="order-number">P20210812142407</span></div>
    </div>
    <div class="mypage-reserve__point">-200</div>
</div>
<!-- .item -->
<!-- item -->
<div class="mypage-reserve__item">
    <div class="mypage-reserve__date">2021.10.19</div>
    <div class="mypage-reserve__info">
        <div class="mypage-reserve__type">상품구매 적립금_890846</div>
        <div class="mypage-reserve__orderId">주문번호 : <span class="order-number">P20210812142407</span></div>
    </div>
    <div class="mypage-reserve__point num-plus">200</div>
</div>
<!-- .item -->
