<!-- item -->
<div class="order-mypage__item">
    <div class="order-mypage__contents">
        <a href="#;" class="order-mypage__thumb"><img class="order-mypage__img" src="../../images/dummy/detail-img1.jpg" alt=""></a>
        <div class="order-mypage__cont">
            <div class="order-mypage__title">루이까또즈 MINI CAVIAR (미니캐비어) 사첼백 HO1PM21IV</div>
            <div class="order-mypage__deadline type-single">작성기한 : <span>2021.09.20 (D-30)</span></div>
        </div>
    </div>
    <a href="" class="order-mypage__btn btn-v1 type-white">리뷰작성</a>
</div>
<!-- .item -->