<!-- item -->
<div class="order-mypage__item">
    <div class="order-mypage__contents">
        <a href="#;" class="order-mypage__thumb"><img class="order-mypage__img" src="../../images/dummy/detail-img1.jpg" alt=""></a>
        <div class="order-mypage__cont">
            <div class="order-mypage__title">루이까또즈 MINI CAVIAR (미니캐비어) 사첼백 HO1PM21IV</div>
        </div>
    </div>

    <div class="order-mypage__view">
        <ul class="order-mypage__view--list">
            <li class="order-mypage__view--item">
                <span class="order-mypage__view--score">5.0</span>
                <div class="order-mypage__view--star">
                    <span>★</span><span>★</span><span>★</span><span>★</span><span>★</span>
                </div>
            </li>
            <li class="order-mypage__view--date">2021.07.21</li>
        </ul>
        <div class="order-mypage__view--cont">
            <div class="order-mypage__view--pre">너무 예뻐요! 확실히 소가죽이라 부드럽고 제품샷보다 내부 색상이 채도가 낮아서 더 취향이더라고요. 수납공간도 많고 동전 들어가는 부분이 넓어서 좋아요.</div>
            <div class="order-mypage__view--photo"></div>
        </div>
        <div>
            <ul class="order-mypage__list">
                <li class="order-mypage_item"><button>수정</button></li>
                <li class="order-mypage_item"><button>삭제</button></li>
            </ul>
        </div>
    </div>
</div>
<!-- .item -->