<%
type = "mypage"
page = "mypage"
lnbTitle = "상품 리뷰"
%>
<% include ../_include/_header %>
<div class="container">
    <% include ../_include/_lnbMyPage %>
    <div class="site-main">
        <section class="myReview">
            <div class="myReview-center">
                <!-- 탭 -->
                <div class="myReview-tab js-fixed-check">
                    <ul class="myReview-tab__fix">
                        <li class="myReview-tab__item is-current">
                            <a href="#;" class="myReview-tab__link js-basic-tab-link">리뷰작성 (<span class="view-count">20</span>)</a>
                        </li>
                        <li class="myReview-tab__item">
                            <a href="#;" class="myReview-tab__link js-basic-tab-link">작성한 리뷰 (<span class="view-count">10</span>)</a>
                        </li>
                    </ul>
                </div>
                <!-- 탭 -->

                <p class="myReview-text">리뷰를 작성하면 적립금을 받으실 수 있습니다.</p>
                 
                <!-- 탭 컨텐츠 -->
                <div class="myReview-tab__cont">
                    <div class="myReview-tab__info js-basic-tab-cont is-current">
                        <% include ../_include/_reviewItem %>
                        <% include ../_include/_reviewItem %>
                    </div>
                    <div class="myReview-tab__info js-basic-tab-cont">
                        <% include ../_include/_reviewPhoto %>
                    </div>
                </div>
                <!-- .탭 컨텐츠 -->
            </div>
        </section>
    </div>
</div>
<% include ../_include/_contentFooter %>
<% include ../_include/_footer %>
