<%
type = "mypage"
page = "mypage"
lnbTitle = "비밀번호변경"
%>
<% include ../_include/_header %>
<div class="container">
    <% include ../_include/_lnbMyPage %>
    <div class="site-main">
        <section class="myPass">
            <div class="myPass-center">                           
                <!-- 컨텐츠 -->
                <div class="myPass-cont">
                    <div class="input-list__item">
                        <input type="text" class="input-v1" placeholder="현재 비밀번호">
                    </div>
                    <div class="input-list__item">
                        <div class="input-list__inner">
                            <input type="text" class="input-v1" placeholder="새 비밀번호">
                        </div>
                        <div class="input-list__inner">
                            <input type="text" class="input-v1" placeholder="새 비밀번호 확인">
                        </div>
                    </div>
                    <button class="join-box__btn btn-v1 type-primary">확인</button>
                </div>
                <div class="myPass-infoSearch">
                    <p>고객님의 정보가 일치하지 않습니다.</p>
                    <div class="btn-group">
                        <ul class="btn-group__list type-three">
                            <li class="btn-group__item">
                                <button class="btn-group__btn btn-v1 type-white">아이디 찾기</button>
                            </li>
                            <li class="btn-group__item">
                                <button class="btn-group__btn btn-v1 type-white">비밀번호 찾기</button>
                            </li>
                        </ul>
                    </div>
                </div>
                <!-- .컨텐츠 -->
            </div>
        </section>
    </div>
</div>
<% include ../_include/_contentFooter %>
<% include ../_include/_footer %>
