@import "../base/variables";
@import "../base/mixins";
//faq 페이징
.center-faq{
    .paging{
        margin-top:calcRem(30rem);
    }
}

//faq 필터
.center{
    &-filter{
        margin-bottom:calcRem(40rem);
    }

    &-tab{
        margin-top:calcRem(30rem);
    }
}

//faq tab
.center-tab{
    &__list{
        overflow: hidden;
    }

    &__item{
        width:25%;
        float: left;
        text-align: center;
    }

    &__link{
        display: block;
        font-size:calcRem(11rem);
        line-height:calclH(18,11);
        letter-spacing: $defaultLetter;
        font-weight:$light;
        color:$darkgray;
        padding:calcRem(9rem) calcRem(5rem);
        background-color: $lightgray2;

        .is-current &{
            background-color: $point1;
            color:$whiteColor;
            font-weight:$medium ;
        }
    }
}

//faq list 레이아웃
.notice{
    &-faq{
        border-top:solid 1px $black1;
        position: relative;

        &:after{
            content:"";
            width:100%;
            height:1px;
            background-color: $gray2;
            z-index: $childZindex;
            position: absolute;
            bottom:0;
            left:0;
        }

        &__list{
            margin-bottom:-1px;
        }
    }
}

//faq 컨텐츠
.faq-item{

    &__inner{
        margin:0;
    }

    &__link{
        display: block;
        padding:0 calcRem(20rem);
    }

    &__text{
        display: block;
        border-bottom:solid 1px $lightgray1;
        @include body2;
        padding:calcRem(20rem) 0;
        position: relative;
        padding-left:calcRem(34rem);
        padding-right:calcRem(15rem);

        .is-active &{
            border-color:$gray2;
        }

        &:before{
            content: "";
            width:calcRem(24rem);
            height:calcRem(24rem);
            @include pageBackground('/images/common/ico_faq_q.svg','no-repeat center center / contain');
            background-size: calcRem(24rem) calcRem(24rem);
            position: absolute;
            left:0;
            top:calcRem(17rem);
        }

        &:after{
            content: "";
            width:calcRem(8rem);
            height:calcRem(4rem);
            @include pageBackground('/images/common/ico_faq_arrow.svg','no-repeat center center / contain');
            background-size: calcRem(8rem) calcRem(4rem);
            position: absolute;
            right:0;
            top:calcRem(28rem);

            .is-active &{
                transform: rotate(180deg);
            }
        }
    }

    //답변
    .faq-item__cont{
        @include body3;
        font-weight: $regular;
        background-color: $lightgray2;
        padding:calcRem(20rem) calcRem(15rem) calcRem(30rem) calcRem(50rem);
        margin:0 calcRem(20rem);
        position: relative;
        display: none;

        &:before{
            content: "";
            width:calcRem(24rem);
            height:calcRem(24rem);
            @include pageBackground('/images/common/ico_faq_a.svg','no-repeat center center / contain');
            background-size: calcRem(24rem) calcRem(24rem);
            position: absolute;
            left:calcRem(15rem);
            top:calcRem(16rem);
        }

        .is-active &{
            display: block;
        }

        strong{
            font-weight: $medium;
        }

        p{
            margin:calcRem(15rem) 0 0;

            &:first-child{
                margin:0;
            }
        }
    }
}