@import "../base/variables";
@import "../base/mixins";
//1:1문의 페이징
.center-inquiry{
    .paging{
        margin-top:calcRem(40rem);
    }
}

//1:1문의 탑버튼
.inquiry{
    &-header{
        padding:calcRem(8rem) calcRem(20rem) calcRem(40rem);
        text-align: center;

        .btn--border{
            font-weight: $medium;
        }
    }
}

//1:1 리스트
.inquiry{

    //레이아웃
    &-list{
        border-top:solid 1px $black1;

        &__item{
            border-bottom:solid 1px $lightgray2;

            &:last-child{
                border-color:$black1;
            }
        }
    }

    //컨텐츠
    &-item{
        &__link{
            display: flex;
            align-items: center;
            padding:calcRem(20rem) calcRem(20rem);
        }

        &__state{
            margin-right:calcRem(27rem);
            width:calcRem(36rem);
            box-sizing: border-box;
        }

        &__tag{
            display: block;
            font-size:calcRem(11rem);
            line-height:calclH(18,11);
            letter-spacing: $defaultLetter;
            font-weight:$medium;
            padding:0 calcRem(0rem);
            text-align: center;
            width:100%;
            border-width: 1px;
            border-style: solid;

            &.inquiry-item__waiting{
                border-color: $gray1;
                color:$gray1;
            }

            &.inquiry-item__end{
                border-color: $point1;
                color:$point1;
            }
        }

        &__cont{
            position: relative;
            padding-right:calcRem(30rem);
            width:calc(100% - #{calcRem(63rem)});
            box-sizing: border-box;

            &:after{
                content: "";
                width:calcRem(4rem);
                height:calcRem(12rem);
                @include pageBackground('/images/common/ico-notice-list-arrow.svg','no-repeat center center / contain');
                background-size: calcRem(4rem) calcRem(12rem);
                position: absolute;
                right:0;
                @include vertical-center;
            }
        }

        &__title{
            @include body2;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
        }

        &__date{
            font-size:calcRem(11rem);
            line-height:calclH(18,11);
            letter-spacing: $defaultLetter;
            font-weight:$regular;
            color:$darkgray;
            margin-top:calcRem(5rem);
        }
    }
}

//1:1 싱글페이지
.center-inquiry{
    &__single{
        border-top:solid 1px $black1;
    }

    //header
    &__header{
        border-bottom:solid 1px $lightgray1;
        padding:calcRem(20rem) 0;
        margin-bottom:calcRem(25rem);
    }

    &__item{
        margin-top:calcRem(4rem);

        &:first-child{
            margin-top:0;
        }
    }

    &__inner{
        overflow: hidden;
        margin:0;
    }

    &__title{
        float:left;
        min-width: calcRem(70rem);
        padding-right:calcRem(10rem);
        box-sizing: border-box;
        @include body3;
    }

    &__text{
        overflow: hidden;
        margin:0;
        @include body3;
        font-weight: $regular;
    }

    //질문
    &__question{
        font-family: $font-kor;
        &--title{
            margin:0 0 calcRem(18rem);
            @include title1;
            position: relative;
            padding-left:calcRem(23rem);

            &:before{
                content: "Q.";
                position: absolute;
                top:0;
                left:0;
                font-family: $defaultFont;
            }
        }

        &--text{
            @include body3;
            line-height:calclH(19,12);

            strong{
                font-weight: $medium;
            }

            p{
                margin:calcRem(15rem) 0 0;

                &:first-child{
                    margin:0;
                }
            }
        }
    }

    &__thumbs{
        margin-top:calcRem(20rem);
        line-height: 0;

        &--item{
            margin-top:calcRem(10rem);

            &:first-child{
                margin-top:0;
            }
        }

        &--img{
            width:100%;
            display: block;
        }
    }

    //답변
    &__answer{
        margin-top:calcRem(40rem);
        background-color: $lightgray2;
        border-top:solid 1px $gray2;
        padding:calcRem(25rem) calcRem(20rem) calcRem(35rem);
        font-family: $font-kor;

        &--title{
            margin:0 0 calcRem(18rem);
            @include title1;
            position: relative;
            padding-left:calcRem(23rem);

            &:before{
                content: "A.";
                position: absolute;
                top:0;
                left:0;
                font-family: $defaultFont;
            }
        }

        &--text{
            @include body3;
            line-height:calclH(19,12);
            color:$darkgray;

            strong{
                font-weight: $medium;
            }

            p{
                margin:calcRem(15rem) 0 0;

                &:first-child{
                    margin:0;
                }
            }
        }
    }

    //하단버튼
    &__btn{
        margin-top:calcRem(50rem);

        &--inner{
            margin:0 calcRem(-5rem);

            &:after{
                @include block-reset;
            }
        }

        &--item{
            width:50%;
            float:left;
            padding:0 calcRem(5rem);
            box-sizing: border-box;
        }
    }
}

//하단 픽시드 버튼
.inquiry-fix{
    position: fixed;
    bottom:0;
    left:0;
    width:100%;
    background-color: $bgSiteColor;
    z-index: $fixButtonZindex;

    &__list{
        overflow: hidden;
    }

    &__item{
        float:left;
        width:37%;
        position: relative;

        &:nth-child(2){
            width:63%;

            &:after{
                display: none;
            }
        }
    }

    &__link{
        display:block;
        @include title1;
        color:$black1;
        text-align: center;
        padding:calcRem(9rem) calcRem(15rem);
        border:solid 1px $gray2;

        .inquiry-fix__item:nth-child(2) &{
            border-color:$point1;
            background-color: $point1;
            color:$whiteColor;
        }
    }
}

//글쓰기
.inquiry{
    //상단 폼
    &-form{
        &__info{
            margin-bottom:calcRem(20rem);
        }

        &__item{
            margin-top:calcRem(15rem);

            &:first-child{
                margin-top:0;
            }
        }
    }

    //주문검색
    &-order{
        margin-bottom:calcRem(20rem);

        &__info{
            position: relative;
            padding-top:calcRem(15rem);
            margin-top:calcRem(15rem);
        }

        &__close{
            position: absolute;
            right:0;
            top:0;
            width:calcRem(18rem);
            height:calcRem(18rem);
            @include pageBackground('/images/common/ico_view_img_close.svg','no-repeat center center / contain');
            background-size: calcRem(18rem) calcRem(18rem);
        }

        &__item{
            margin-top:calcRem(5rem);

            &:first-child{
                margin-top:0;
            }
        }

        &__inner{
            margin:0;

            &:after{
                @include block-reset;
            }
        }

        &__title{
            float:left;
            @include body3;
            min-width: calcRem(70rem);
            box-sizing: border-box;
        }
        
        &__text{
            overflow: hidden;
            @include body3;
        }
    }

    //상품검색
    &-product{
        margin-bottom:calcRem(20rem);

        &__info{
            position: relative;
            margin-top:calcRem(15rem);
        }

        &__close{
            position: absolute;
            right:0;
            top:0;
            width:calcRem(18rem);
            height:calcRem(18rem);
            @include pageBackground('/images/common/ico_view_img_close.svg','no-repeat center center / contain');
            background-size: calcRem(18rem) calcRem(18rem);
        }

        &__text{
            @include body5;
            margin:calcRem(5rem) 0 0;
        }

        &__body{
            display: table;
            table-layout: fixed;
            width:100%;
        }

        &__thumb{
            display: table-cell;
            vertical-align: middle;
            width:calcRem(120rem);
            line-height: 0;
        }

        &__title{
            display: table-cell;
            vertical-align: middle;
            padding-left:calcRem(15rem);
            @include body2;
            font-weight: $regular;
        }
    }

    //이미지 첨부
    &-image{
        margin-bottom:calcRem(40rem);

        &__header{
            position: relative;
            overflow: hidden;
        }

        &__file{
            position: absolute;
            top:0;
            left:0;
            width:100%;
            display: block;
            height:100%;
            z-index: $childZindex;
            font-size: calcRem(100rem);
            opacity: 0;
        }

        &__text{
            @include body5;
            margin:calcRem(5rem) 0 0;
        }

        //이미지 스크롤
        &__scroll{
            margin:0 calcRem(-20rem);
            box-sizing: border-box;
            overflow: hidden;
            padding:0 calcRem(20rem);
            overflow-x: scroll;
            line-height:0;
            font-size:0;
            scrollbar-width: none;
            position: relative;

            &::-webkit-scrollbar {
                display: none;
            }

            &--inner{
                white-space: nowrap;
                padding:calcRem(25rem) 0 calcRem(15rem);
            }

            &--item{
                display: inline-block;
                margin-right:calcRem(10rem);
                width:calcRem(77rem);
                position: relative;

                &:last-child{
                    margin-right:calcRem(20rem);
                }
            }
        }
    }

    //알림신청
    &-notification{
        &__title{
            @include title2;
            margin-bottom:calcRem(12rem);
        }

        &__item{
            margin-top:calcRem(15rem);

            &:first-child{
                margin-top:0;
            }
        }
    }
}

//이미지 첨부 item
.view-image{
    position: relative;

    &__close{
        position: absolute;
        top:calcRem(3rem);
        right:calcRem(3rem);
        width:calcRem(18rem);
        height:calcRem(18rem);
        @include pageBackground('/images/common/ico_view_img_close.svg','no-repeat center center / contain');
        background-size: calcRem(18rem) calcRem(18rem);
        z-index: $childZindex;
    }
}