@import "../base/variables";
@import "../base/mixins";
//폼


//개인정보 수집 이용약관
.inquiry{
    &-policy{
        &__list{
            border:solid 1px $boxgray;
            padding:calcRem(20rem) calcRem(15rem);
            margin-bottom:calcRem(15rem);
        }

        &__item{
            margin-top:calcRem(10rem);

            &:after{
                @include block-reset;
            }

            &:first-child{
                margin-top:0;
            }
        }

        &__bullet{
            float:left;
            margin-right:calcRem(5rem);
            display: block;
            @include body3;
        }

        &__text{
            overflow: hidden;
            display: block;
            @include body3;
        }

        &__title{
            @include title2;
            margin-bottom:calcRem(12rem);
        }
    }
}
