@import "../base/variables";
@import "../base/mixins";
@import "../pages/product";

@mixin imageBlock {
    display:block;
    width:100%;
}

// collection main
.collection{
    &-wrap{
        padding-top: calcRem(20rem);
    }
    // 컬렉션 메인 비주얼
    &-visual{
        position: relative;
        &__img{
            @include imageBlock;
        }
        &__detail{
            position: absolute;
            width: 100%;
            text-align: center;
            @include vertical-center;
        }
        &__link{
            display: block;
        }
        &__button{
            color: #fff;
            border: 1px solid #fff;
            margin: 0 calcRem(20rem);
            padding: calcRem(12rem) 0;
        }
    }

    // 컬렉션 상품슬라이드
    &-slide{
        position: relative;
        padding: calcRem(30rem) 0 calcRem(71rem);
        .swiper{
            &-button{
                &-next{
                    @include vertical-center;
                    display: inline-block;
                    width: calcRem(10rem);
                    height: calcRem(20rem);
                    position: absolute;
                    right: calcRem(10rem);
                    background: url('../../images/collection/collection_slide_next.png') no-repeat center center /contain;
                    z-index: 100;
                }
                &-prev{
                    @include vertical-center;
                    display: inline-block;
                    width: calcRem(10rem);
                    height: calcRem(20rem);
                    position: absolute;
                    left: calcRem(10rem);
                    background: url('../../images/collection/collection_slide_prev.png') no-repeat center center /contain;
                    z-index: 100;
                }
            }
        }
    }

    // more collection
    &-more{
        position: relative;
        overflow: hidden;
        &__title{
            display: block;
            padding-bottom: calcRem(30rem);
        }
        &__txt{
            font-size: calcRem(20rem);
            text-align: center;
            text-transform: uppercase;
        }
        &__container{
            overflow: visible;
        }
        &__slide{
            padding: 0 calcRem(44rem);
        }
        &__item{
            padding: 0 calcRem(5rem);
            box-sizing: border-box;
        }
        &__wrap{
            width: 100%;
        }
        &__img{
            display: block;
            width: 100%;
        }
        .swiper-pagination{
            margin-top: calcRem(20rem);
            display: block;
            text-align: center;
            font-size: 0;
            line-height: 0;
                &-current{
                    font-size:calcRem(12rem);
                    line-height:calclH(19,12);
                    padding-right:calcRem(11rem);
                    position: relative;
                    &:after{
                        content: "";
                        width: 1px;
                        height: 0.625rem;
                        background-color: #B8B8B8;
                        position: absolute;
                        right: 0;
                        top: 50%;
                        transform: translateY(-50%);
                    }
                }
            &-total{
                font-size:calcRem(12rem);
                line-height:calclH(19,12);
                padding-left:calcRem(11rem);
            }
        }
        .swiper{
            &-button{
                &-next{
                    @include vertical-center;
                    display: inline-block;
                    width: calcRem(10rem);
                    height: calcRem(20rem);
                    position: absolute;
                    right: calcRem(10rem);
                    background: url('../../images/collection/collection_slide_next_w.png') no-repeat center center /contain;
                    z-index: 100;
                }
                &-prev{
                    @include vertical-center;
                    display: inline-block;
                    width: calcRem(10rem);
                    height: calcRem(20rem);
                    position: absolute;
                    left: calcRem(10rem);
                    background: url('../../images/collection/collection_slide_prev_w.png') no-repeat center center /contain;
                    z-index: 100;
                }
            }
        }
        &__detail{
            @include vertical-center;
            position: absolute;
            width: 80%;
            text-align: center;
            z-index: 10;
        }
        &__link{
            display: block;
        }
        &__box{
            color: #fff;
            border: 1px solid #fff;
            padding: calcRem(8rem);
        }
    }

    // collection detail
    // 컬렉션 상세 비주얼
    &-detail{
        position: relative;
        padding-top: calcRem(18rem);
        &__img{
            display: block;
            width: 100%;
        }
        &__title{
            width: 100%;
            position: absolute;
            bottom: calcRem(80rem);
            text-align: center;
        }
        &__name{
            margin-bottom: calcRem(10rem);
            color: #de9230;
            font-size: calcRem(20rem);
        }
        &__info{
            font-size: calcRem(12rem);
            color: #fff;
        }
    }

    // 컬렉션 아이템소개
    &-info{
        background-color: #f5d661;
        text-align: center;
        &__middle{
            padding: calcRem(50rem) 0;
            font-size: calcRem(10rem);
            font-weight: 300;
            line-height: 1.8;
            background: #ffffff !important;
        }
        &__title{
            padding: calcRem(50rem) 0 calcRem(20rem);
            font-size: calcRem(14rem);
            font-weight: 300;
        }
        &__txt{
            padding-bottom: calcRem(50rem);
            font-size: calcRem(10rem);
            font-weight: 300;
        }
    }

    // 컬렉션 모델슬라이드
    &-model{
        position: relative;
        .swiper{
            &-button{
                &-next{
                    @include vertical-center;
                    display: inline-block;
                    width: calcRem(10rem);
                    height: calcRem(20rem);
                    position: absolute;
                    right: calcRem(20rem);
                    background: url('../../images/collection/collection_slide_next_w.png') no-repeat center center /contain;
                    z-index: 100;
                }
                &-prev{
                    @include vertical-center;
                    display: inline-block;
                    width: calcRem(10rem);
                    height: calcRem(20rem);
                    position: absolute;
                    left: calcRem(20rem);
                    background: url('../../images/collection/collection_slide_prev_w.png') no-repeat center center /contain;
                    z-index: 100;
                }
            }
        }
        &__wrap{
            width: 100%;
            &.monogram{
                padding: 0 10%;
            }
        }
        &__img{
            display: block;
            width: 100%;
        }
    }

    // 룩북 바로가기 버튼
    &-view{
                    position: relative;
                    padding: calcRem(60rem) calcRem(20rem) 0;
                    padding-top: calcRem(60rem);
                    &__button{
                        /*margin: calcRem(60rem) calcRem(40rem) calcRem(20rem);*/
            border: 1px solid #000;
            text-align: center;
        }
        &__link{
            display: block;
            padding: calcRem(10rem);
            text-transform: uppercase;
        }
    }

    // 컬렉션 상품 리스트
    &-product{
        &-list{
            padding-top: calcRem(40rem);
        }
    }
    &-list{
        position: relative;
        padding-bottom: calcRem(60rem);
        &__header{
            padding: 0 calcRem(20rem);
        }
        &__name{
            padding-bottom: calcRem(16rem);
            text-align: center;
            font-size: calcRem(20rem);
            text-transform: uppercase;
            border-bottom: 1px solid #dddddd;
        }
        &__wrap{
            width: 100%;
            //padding-bottom: calcRem(60rem);
            overflow: hidden;
        }
        &__item{
            width: 50%;
            float: left;
            padding-top: calcRem(40rem);
        }
    }
}

.collection-slide-pagination {
    position: absolute;
    left: 0;
    right: 0;
    bottom: calcVw(20vw) !important;
    text-align: center;
    width: 100%;
    z-index: 50;
    line-height: 0;
    font-size: 0;
}
.collection-slide-paginationSecond{
    position: absolute;
    left: 0;
    right: 0;
    bottom: calcVw(20vw) !important;
    text-align: center;
    width: 100%;
    z-index: 50;
    line-height: 0;
    font-size: 0;
}

    .swiper-pagination-bullet {
        margin-left: calcVw(7vw);
        width: calcVw(15vw);
        height: calcVw(1vw);
        background: rgba(255, 255, 255, 0.2);
        opacity: 1 !important;
        display: inline-block;
        border-radius: 0;
        &:first-child{
            margin-left: 0;
        }
    }
    .swiper-pagination-bullet-active{
        background: #fff !important;
    }