@import "../base/variables";
@import "../base/mixins";

//font
@font-face {
    font-family: 'Gotham';
    src: url(../../fonts/gotham/GothamBlack.ttf) format("truetype");
    font-weight: 600;
    font-style: normal;
}
@font-face {
    font-family: 'Gotham';
    src: url(../../fonts/gotham/GothamMedium.ttf) format("truetype");
    font-weight: 500;
    font-style: normal;
}

@import url("https://use.typekit.net/fln0ron.css");

//옆으로 이동
@keyframes moving{
    0%{
        -webkit-transform: translateX(0%);
        transform: translateX(0%);
    }
    100%{
        -webkit-transform: translateX(-50%);
        transform: translateX(-50%);
    }
}

@mixin imageBlock {
    display:block;
    width:100%;
}

.site-project{
    margin-bottom: calcRem(-50rem);
}

.fyl3-wrap{
    position: relative;
}

//옆으로 이동
.move-txt{
    animation: moving 5s infinite linear;
}


.fyl{
    // 섹션1(영상)
    &-section1{
        &__video {
            position: relative;
            line-height: 0;
            &--source{
                width: 100%;
                position: relative;
            }

            .btn-play{
                top: 50%;
                left: 50%;
                display: inline-block;
                position: absolute;
                width: calcRem(100rem);
                height: calcRem(100rem);
                transform: translate(-50%, -50%);
                border: none;
                &.is-play{
                    @include pageBackground('/images/project/fyl3/icon_play_btn.png','no-repeat center center / cover')
                }
            }
        }
    }

    // 섹션2(타이핑)
    &-section2{
        background-color: #ffe100;

        &__wrap{
            padding: calcRem(87rem) 0 calcRem(95rem);
        }

        &__fix{
            margin:0 auto;
            text-align: center;
            &--word{
                color: #000;
                text-transform: uppercase;
                text-align: center;
                font-size: calcRem(14rem);
                line-height: calcRem(14rem);
                &:nth-child(2){
                    padding: 0 calcRem(86rem);
                }
            }
        }
        &__moving{
            overflow: hidden;
            &--word{
                margin: 0;
                display: inline-block;
                font-family: retiro-std-48pt, sans-serif;
                font-weight: 400;
                font-size: calcRem(100rem);
                line-height: 100%;
                text-transform: uppercase;
            }
        }

        &__content{
            padding: calcRem(48rem) 0 0 calcRem(20rem);
        }
    }

    // 섹셩3(작가 리스트)

    // 색상4(작품 리스트)

    // 색상5(하단 소개)
}













