@import "../base/variables";
@import "../base/mixins";
@import "../pages/product";

//메인 레이아웃
.page-main{
	.section-body{
		padding-bottom:calcRem(50rem);
	}
}

//메인 탑배너슬라이드
.main-banner{
	position: relative;
	&__inner{
		display: block;
		width:100%;
		height: auto;
		line-height:0;
	}
	&__source{
		display: block;
		&--img{
			height: auto;
		}
		&--video{
			height: 100vh;
		}
	}
	&__img{
		width: 100%;
	}
	&__video{
		width: 100%;
	}
	&__content{
		bottom: calcRem(50rem);
		position: absolute;
	}
	&__name{
		color: #fff;
		font-size: calcRem(16rem);
		line-height: calcRem(28rem);
	}
	&__pagination{
		bottom: calcRem(22rem);
		width: 100%;
		position: absolute;
		color: #fff;
		text-align: center;
		z-index: 100;
		font-size:0;
		line-height:0;

		&.disabled{
			display: none !important;
		}

		.swiper-pagination{
			&-current {
				font-size: calcRem(12rem);
				line-height: calclH(19, 12);
				padding-right: calcRem(11rem);
				position: relative;

				&:after {
					content: "";
					width: 1px;
					height: calcRem(10rem);
					background-color: $gray1;
					position: absolute;
					right: 0;
					@include vertical-center;
				}
			}
			&-total{
				font-size:calcRem(12rem);
				line-height:calclH(19,12);
				padding-left:calcRem(10rem);
			}
		}
	}

	// 프로그래스바
	.swiper-progress-bar{
		bottom: 0;
		position: absolute;
		width: 100%;
		display: block;
		z-index: 1;
		height: calcRem(3rem);
		.slide_progress-bar {
			position: absolute;
			height: calcRem(3rem);
			background: rgba(255, 255, 255, 0.5);
			width: auto;
			clear: both;
			opacity: 0;
			bottom: 0;
			left: 0;
			right: 0;
			&:after {
				position: absolute;
				top: 0;
				left: 0;
				background: #9B192F;
				height: 100%;
				width: 0;
				content: "";
				transition: 0.1s width linear;
			}
		}
		&.active {
			.slide_progress-bar {
				opacity: 1;
			}
		}
		&.animate {
			.slide_progress-bar {
				&:after {
					width: 100%;
					transition: width linear;
					transition-delay: unset;
					transition-duration: 5s;
				}
			}
		}
	}
}

//메인 배너슬라이드2
.main-banner2{
	position: relative;
	padding-top: calcRem(60rem);
	&__inner{
		display: block;
		width:100%;
		height: auto;
		line-height:0;
	}
	&__source{
		display: block;
		&--img{
			height: auto;
		}
		&--video{
			height: 100vh;
		}
	}
	&__img{
		width: 100%;
	}
	&__video{
		width: 100%;
	}
	&__content{
		bottom: calcRem(50rem);
		position: absolute;
	}
	&__name{
		color: #fff;
		font-size: calcRem(16rem);
		line-height: calcRem(28rem);
	}
	&__pagination{
		bottom: calcRem(22rem);
		width: 100%;
		position: absolute;
		color: #fff;
		text-align: center;
		z-index: 100;
		font-size:0;
		line-height:0;

		.swiper-pagination{
			&-current {
				font-size: calcRem(12rem);
				line-height: calclH(19, 12);
				padding-right: calcRem(11rem);
				position: relative;

				&:after {
					content: "";
					width: 1px;
					height: calcRem(10rem);
					background-color: $gray1;
					position: absolute;
					right: 0;
					@include vertical-center;
				}
			}
			&-total{
				font-size:calcRem(12rem);
				line-height:calclH(19,12);
				padding-left:calcRem(10rem);
			}
		}
	}

	// 프로그래스바
	.swiper-progress-bar{
		bottom: 0;
		position: absolute;
		width: 100%;
		display: block;
		z-index: 1;
		height: calcRem(3rem);
		.slide_progress-bar {
			position: absolute;
			height: calcRem(3rem);
			background: rgba(255, 255, 255, 0.5);
			width: auto;
			clear: both;
			opacity: 0;
			bottom: 0;
			left: 0;
			right: 0;
			&:after {
				position: absolute;
				top: 0;
				left: 0;
				background: #9B192F;
				height: 100%;
				width: 0;
				content: "";
				transition: 0.1s width linear;
			}
		}
		&.active {
			.slide_progress-bar {
				opacity: 1;
			}
		}
		&.animate {
			.slide_progress-bar {
				&:after {
					width: 100%;
					transition: width linear;
					transition-delay: unset;
					transition-duration: 5s;
				}
			}
		}
	}
}

//메인 배너슬라이드3
.main-banner3{
	position: relative;
	padding-top: calcRem(60rem);
	&__inner{
		display: block;
		width:100%;
		line-height:0;
	}
	&__source{
		display: block;
		height: calcRem(540rem);
		&--img{
		}
		&--video{
		}
	}
	&__img{
		max-width: 100%;
		height: 100%;
		width: 100%;
		object-fit: cover;
	}
	&__video{
		width: 100%;
	}
	&__content{
		bottom: calcRem(50rem);
		position: absolute;
	}
	&__name{
		color: #fff;
		font-size: calcRem(16rem);
		line-height: calcRem(28rem);
	}
	&__pagination{
		bottom: calcRem(22rem);
		width: 100%;
		position: absolute;
		color: #000;
		text-align: center;
		z-index: 100;
		font-size:0;
		line-height:0;

		.swiper-pagination{
			&-current {
				font-size: calcRem(12rem);
				line-height: calclH(19, 12);
				padding-right: calcRem(11rem);
				position: relative;

				&:after {
					content: "";
					width: 1px;
					height: calcRem(10rem);
					background-color: $gray1;
					position: absolute;
					right: 0;
					@include vertical-center;
				}
			}
			&-total{
				font-size:calcRem(12rem);
				line-height:calclH(19,12);
				padding-left:calcRem(10rem);
			}
		}
	}

	// 프로그래스바
	.swiper-progress-bar{
		bottom: 0;
		position: absolute;
		width: 100%;
		display: block;
		z-index: 1;
		height: calcRem(3rem);
		.slide_progress-bar {
			position: absolute;
			height: calcRem(3rem);
			background: rgba(255, 255, 255, 0.5);
			width: auto;
			clear: both;
			opacity: 0;
			bottom: 0;
			left: 0;
			right: 0;
			&:after {
				position: absolute;
				top: 0;
				left: 0;
				background: #9B192F;
				height: 100%;
				width: 0;
				content: "";
				transition: 0.1s width linear;
			}
		}
		&.active {
			.slide_progress-bar {
				opacity: 1;
			}
		}
		&.animate {
			.slide_progress-bar {
				&:after {
					width: 100%;
					transition: width linear;
					transition-delay: unset;
					transition-duration: 5s;
				}
			}
		}
	}
}

//메인 신상슬라이드
.main-new {
	position: relative;
	overflow: hidden;
	padding-top: calcRem(60rem);
	&__header{
		position: absolute;
		width: 100%;
		text-align: center;
		padding-top: calcRem(55rem);
	}
	&__title{
		top: 0;
		position: relative;
		font-size: calcRem(20rem);
		line-height: calcRem(32rem);
		z-index: 90;
	}
	&__container{
		overflow: visible;
	}
	&__slide{
		position: relative;
		margin: 0 calcRem(18rem);
	}
	&__item{
		padding: 0 calcRem(1.5rem);
		box-sizing: border-box;
	}
	&__inner {
		display: block;
		width: 100%;
		line-height: 0;
	}
	&__img {
		display: block;
		width: 100%;
	}

	&__content {
		bottom: calcRem(50rem);
		position: absolute;
		color: #000;
		text-align: center;
	}

	&__name {
		font-size: calcRem(14rem);
		font-weight: 300;
		line-height: calcRem(28rem);
	}
	&__price {
		font-size: calcRem(14rem);
		font-weight: 400;
		line-height: calcRem(22rem);
	}
	&__pagination {
		bottom: calcRem(18rem);
		width: 100%;
		position: absolute;
		color: #000;
		text-align: center;
		z-index: 100;
		font-size: 0;
		line-height: 0;

		.swiper-pagination {
			&-current {
				font-size: calcRem(12rem);
				line-height: calclH(19, 12);
				padding-right: calcRem(11rem);
				position: relative;

				&:after {
					content: "";
					width: 1px;
					height: calcRem(10rem);
					background-color: $gray1;
					position: absolute;
					right: 0;
					@include vertical-center;
				}
			}

			&-total {
				font-size: calcRem(12rem);
				line-height: calclH(19, 12);
				padding-left: calcRem(10rem);
			}
		}
	}
	&__more{
		display: block;
	}
	&__link{
		display: block;
	}
	&__button{
		margin: calcRem(20rem) calcRem(75rem) 0;
		padding: calcRem(8rem) 0;
		border: 1px solid #000;
		text-align: center;
		text-transform: uppercase;
	}
}

//구매자 베스트
.main-best{
	padding-top: calcRem(60rem);
	&__header{
		margin-bottom:calcRem(20rem);
		text-align: center;
	}

	&__title{
		@include heading3;
		text-transform: uppercase;
		margin:0 0 calcRem(15rem);
	}

	//tab
	&__tab{
		&--inner{
			text-align: center;
			font-size:0;
			line-height:0;
			margin:0 calcRem(-20rem);
			border-top: 1px solid #b8b8b8;
		}

		&--item{
			display: inline-block;
			vertical-align: middle;
			padding: calcRem(8rem) 0;
			width: 29.33333%;
			border-top: 2px solid transparent;
			/*padding:0 calcRem(15rem);*/
			&.is-current{
				border-top: 2px solid #000;
			}
		}

		&--link{
			display: block;
			@include body3;
			opacity: 0.5;
			text-transform: uppercase;

			.is-current &{
				opacity: 1;
			}
		}
	}
}

//메인 컬렉션
.main-collection{
	position: relative;
	padding-top: calcRem(60rem);
	&__center{
		position: absolute;
		width: 100%;
		text-align: center;
		@include vertical-center;
	}
	&__inner{
		display: block;
		position: absolute;
		width: 100%;
	}
	&__img{
		width: 100%;
		display: block;
	}
	&__button{
		margin: 0 calcRem(20rem);
		padding: calcRem(14rem) 0 calcRem(10rem);
		color: #fff;
		border: 1px solid #fff;
		text-transform: uppercase;
	}
}

//선물 추천
.main-gift{
	position: relative;
	margin-top: calcRem(60rem);
	&__visual{
		position: relative;
	}
	&__img{
		width: 100%;
		display: block;
	}
	&__wrap{
		position: absolute;
		width: 100%;
		@include vertical-center;
	}
	&__header{
		padding: 0 calcRem(20rem);
		color: #fff;
		text-align: center;
	}
	&__title{
		line-height: calcRem(32rem);
		font-size: calcRem(20rem);
		font-weight: 500;
		text-transform: uppercase;
	}
	&__txt{
		line-height: calcRem(20rem);
		font-size: calcRem(12rem);
		font-weight: 400;
	}
	&__info{
		@include body3;
		padding: calcRem(40rem) calcRem(20rem) calcRem(45rem);
		color: #fff;
		text-align: center;
	}
	&__gender{
		padding: 0 calcRem(20rem);
	}
	&__link{
		display: block;
	}
	&__button{
		padding: calcRem(10rem) 0;
		color: #fff;
		border: 1px solid #fff;
		text-align: center;
		text-transform: uppercase;
	}
	&__link + &__link{
		margin-top: calcRem(30rem);
	}
}

//루이까또즈 멤버십
.main-membership{
	color: #9B192F;
	border-bottom: 1px solid #cbcbcb;
	.membership-wrap{
		padding: calcRem(60rem) 0;
		text-align: center;
	}
	&__header{
		font-size: calcRem(12rem);
	}
	&__title{
		font-size: calcRem(20rem);
	}
	&__logo{
		padding: calcRem(24rem) 0 calcRem(30rem);
	}
	&__img{
		width: calcRem(42rem);
		width: calcRem(45rem);
	}
	&__info{
		padding-bottom: calcRem(34rem);
		font-size: calcRem(12rem);
		font-weight: 300;
		line-height: calcRem(20rem);
	}
	&__title{

	}
	&__link{
		display: block;
	}
	&__button{
		width: calcRem(210rem);
		margin: 0 auto;
		padding: calcRem(8rem) 0;
		color: #fff;
		background: #9b192f;
		font-size: calcRem(12rem);
		font-weight: 400;
		line-height: calcRem(20rem);
		text-transform: uppercase;
	}
}

// 프로젝트
.main-project{
	padding-top: calcRem(60rem);
	&__header{
		padding-bottom: calcRem(60rem);
		text-align: center;
		font-size: calcRem(12rem);
	}
	&__title{
		font-size: calcRem(20rem);
	}
	&__link{
		display: block;
	}
	&__wrap{
		position: relative;
	}
	&__link + &__link{
		padding-top: calcRem(4rem);
	}
	&__visual{
		position: relative;
	}
	&__img{
		width: 100%;
		display: block;
	}
	&__name{
		width: 100%;
		position: absolute;
		color: #fff;
		text-align: center;
		@include vertical-center;
	}
}

//best slide
//detail thumb
.best-thumb{
	//썸네일
	&__inner{
		position: relative;
		width:100%;
		display: block;

		&:after{
			content:"";
			display: block;
			padding-bottom:100%;
		}
	}

	&__img{
		@include ab-center;
		width:100%;
		padding-bottom: calcRem(20rem);
	}

	//prev, next
	&--prev{
		width:calcRem(8rem);
		height:calcRem(16rem);
		position: absolute;
		left:0;
		@include vertical-center;
		@include pageBackground('/images/common/ico_slide_prev.svg','no-repeat center center / contain');
		background-size:calcRem(8rem) calcRem(16rem) ;
		z-index: $childZindex;
	}

	&--next{
		width:calcRem(8rem);
		height:calcRem(16rem);
		position: absolute;
		right:0;
		@include vertical-center;
		@include pageBackground('/images/common/ico_slide_next.svg','no-repeat center center / contain');
		background-size:calcRem(8rem) calcRem(16rem) ;
		z-index: $childZindex;
	}

	//페이징
	&__pagination{
		padding-top: calcRem(20rem);
		text-align: center;
		font-size:0;
		line-height:0;

		.swiper-pagination{
			&-current{
				font-size:calcRem(12rem);
				line-height:calclH(19,12);
				padding-right:calcRem(11rem);
				position: relative;

				&:after{
					content:"";
					width:1px;
					height:calcRem(10rem);
					background-color: $gray1;
					position: absolute;
					right:0;
					@include vertical-center;
				}
			}

			&-total{
				font-size:calcRem(12rem);
				line-height:calclH(19,12);
				padding-left:calcRem(10rem);
			}
		}
	}

	//상품명,가격
	&__bottom{
		bottom: 0;
		position: fixed;
		width: 100%;
		text-align: center;
		font-size: calcRem(12rem);
		line-height: calcRem(20rem);
	}

	&__name{
		@include body3;
	}

	&__price {
		@include body2;
	}
}


//검색 후 결과페이지
.main-search{
	&__wrap{
		padding: 0 calcRem(20rem);
		text-align: center;
	}
	// 검색결과명
	&__top{
		display: block;
		padding-bottom: calcRem(30rem);
	}
	&__result{
		font-size: calcRem(17rem);
		font-weight: 500;
		line-height: calcRem(27rem);
	}
	&__txt{
		padding-top: calcRem(5rem);
		font-size: calcRem(14rem);
		font-weight: 300;
		line-height: calcRem(22rem);
	}
	&__num{
		color: #9B192F;
	}

	// 검색결과 상품슬라이드
	&__bottom{
		padding-bottom: calcRem(30rem);
	}

	&__wrapper{
		font-size: 0;
		white-space: nowrap;
		box-sizing: border-box;
	}

	&__item{
		display: inline-table;
		padding: 3px 7px;
		color:  #000;
		border: 1px solid #cbcbcb;
		&.is-active{
			color: #9B192F;
			border: 1px solid #9B192F;
		}
	}
	&__item + &__item{
		margin-left: calcRem(10rem);
	}

	&__inner{
		display: block;
		font-size: calcRem(11rem);
		font-weight: 300;
		line-height: calcRem(17rem);
		box-sizing: border-box;
	}
}