@import "../base/variables";
@import "../base/mixins";


// 유저 멤버쉽 레벨,혜택보러가기
.myLouis-level{
    $level : '.myLouis-level';
    overflow: hidden;
    padding:0 calcRem(20rem) calcRem(25rem);

    &__icon{
        float: left;
        width:calcRem(48rem);
        height:calcRem(48rem);
        margin-right: calcRem(15rem)
    }
    &.level-1{
        #{$level}__icon{ @include pageBackground('/images/membership/membership_1.png','no-repeat center center / contain'); }
    }
    &.level-2 {
        #{$level}__icon{ @include pageBackground('/images/membership/membership_2.png','no-repeat center center / contain'); }
        #{$level}__name{ color:$gold; }
    }
    &.level-3{
        #{$level}__icon{ @include pageBackground('/images/membership/membership_3.png','no-repeat center center / contain'); }
        #{$level}__name{ color:$silver; }
    }
    &.level-4{
        #{$level}__icon{ @include pageBackground('/images/membership/membership_4.png','no-repeat center center / contain'); }
        #{$level}__name{ color:$club; }
    }
    &.level-5{
        #{$level}__icon{ @include pageBackground('/images/membership/membership_5.png','no-repeat center center / contain'); }
        #{$level}__name{ color:$clubPlus; }
    }
    &.level-6{
        #{$level}__icon{ @include pageBackground('/images/membership/membership_6.png','no-repeat center center / contain'); }
        #{$level}__name{ color:$web; }
    }

    &__name{
        @include body4;
        font-weight: 400;
        margin-top: calcRem(7rem);
    }
    
    @mixin moreArrow {
        content: '';
        display: inline-block;
        width:calcRem(6rem);
        height:calcRem(10rem);
        box-sizing: border-box;
        margin-left: calcRem(10rem);
    }
    &__more--userInfo{
        @include title1;
        &:after{ 
            @include moreArrow;
            @include pageBackground('/images/common/ico_paging_next.svg','no-repeat center center / contain');
        }
    }
    &__more--membership{
        @include body2;
        float: right;
        margin-top: 3px;
        color: $point1;
        &:after{
            @include moreArrow;
            @include pageBackground('/images/common/ico_red_arrow.svg','no-repeat center center / contain');
        }
    }
}

.myLouis-contents{
    border-top: 1px solid $black1;
    border-bottom: 1px solid $black1;
    padding-bottom: calcRem(9rem);
    margin-bottom:calcRem(17rem);
}

// 유저 정보 :: 쿠폰,적립금,위시리스트,최근본상품
.myLouis-info{
    &__list{ 
        padding:calcRem(24rem) calcRem(20rem) calcRem(20rem); 
        overflow: hidden;
    }

    &__item{
        float: left;
        width: 25%;
        text-align: center;

        &-icon{
            box-sizing: border-box;
            margin: auto;
        }
        &:nth-child(1) &-icon{ 
            @include pageBackground('/images/common/ico_coupon.svg','no-repeat center center / contain'); 
            width:calcRem(25rem);
            height:calcRem(18rem);
        }
        &:nth-child(2) &-icon{ 
            @include pageBackground('/images/common/ico_wallet.svg','no-repeat center center / contain'); 
            width:calcRem(20rem);
            height:calcRem(19rem);
        }
        &:nth-child(3) &-icon{ 
            @include pageBackground('/images/common/ico_wish.svg','no-repeat center center / contain'); 
            width:calcRem(21rem);
            height:calcRem(19rem);
        }
        &:nth-child(4) &-icon{ 
            @include pageBackground('/images/common/ico_history.svg','no-repeat center center / contain');
            width:calcRem(19rem);
            height:calcRem(20rem); 
        }

        &-name{
            @include body2;
            margin-top: calcRem(5rem);
        }

        &-num{
            @include body2;
            font-weight: 400;
            color: $point1;
        }
    }
}

// navi::link list
.myLouis-navi{
    &__list{
        border-top: 1px solid $gray2;
        padding: calcRem(5rem) calcRem(20rem) 0;
    }

    &__item{
        padding: calcRem(11rem) calcRem(10rem) calcRem(13rem);
        @include body3;
        &:not(:last-child){
            border-bottom: 1px solid $bgColor;
        }

        position: relative;
        &:after{
            content: '';
            position: absolute;
            right:calcRem(10rem);
            @include vertical-center;
            @include pageBackground('/images/common/ico_paging_next.svg','no-repeat center center / contain');
            width:calcRem(6rem);
            height:calcRem(10rem);
        }
    }
}

//하단 픽시드 버튼
.myPage-fix{
    position: fixed;
    bottom:0;
    left:0;
    width:100%;
    background-color: $bgSiteColor;
    z-index: $fixButtonZindex;

    &__list{
        overflow: hidden;
    }

    &__item{
        float:left;
        width:37%;
        position: relative;

        &:nth-child(2){
            width:63%;

            &:after{
                display: none;
            }
        }
    }

    &__link{
        display:block;
        @include title1;
        color:$black1;
        text-align: center;
        padding:calcRem(9rem) calcRem(15rem);
        border:solid 1px $gray2;

        .myPage-fix__item:nth-child(2) &{
            border-color:$point1;
            background-color: $point1;
            color:$whiteColor;
        }
    }
    
    &.myPage-fix__red{
        border-color:$point1;
        background-color: $point1;
        color:$whiteColor;

        .myPage-fix__item{
            &:not(:last-child):after{
                content: '';
                position: absolute;
                @include vertical-center;
                right: 0;
                width: 1px;
                height: calcRem(14rem);
                background:$bulletColor;
            }
        }

        .myPage-fix__link{
            border-color:$point1;
            color:$whiteColor;
        }
    }
}




/**********************
  PAGE
  회원정보수정 - 인증
**********************/
.myInfo-cont{
    padding:0 calcRem(20rem);
    &__text{
        @include body3;
    // line-height: calclH(19,12);
    }

    &__numberBox{
        margin: calcRem(20rem) 0 calcRem(10rem);
        padding: calcRem(15rem) calcRem(20rem);
        
        span{vertical-align: middle;}

        .identi-num{
            font-size: calcRem(20rem);
            font-weight: $medium;
            margin-left: calcRem(15rem);
        }
    }

    .input-list{
        &__item{
            padding-top: calcRem(20rem);
        }
        .join-box__btn{
            margin-top: calcRem(20rem); 
        }
    }
}


/**********************
  PAGE
  회원정보수정 - 수정
**********************/
.myInfoModify-center{
    .myInfo-cont{
        &__text{ padding:0 calcRem(20rem); }
        &__table{
            margin-top: calcRem(20rem);
            border-top: 1px solid $black1;
            border-bottom: 1px solid $black1;
            padding:0 calcRem(20rem);

            &--title{
                margin:calcRem(30rem) 0 0;
                @include title2;
                text-align: center;
                border-bottom: 1px solid $lightgray2;
                padding-bottom: calcRem(20rem);
            }
        }
    }

    .center-bullet{
        padding:calcRem(20rem) calcRem(20rem) 0;
    }
}
.list-table{
    border: 0;
    margin-bottom: calcRem(20rem);

    tbody{
        tr:last-child th,
        tr:last-child td{border:0;}
        
        .basic-table{
            &--bold{
                background: $whiteColor;
                text-align: left;
            }

            &--btn{
                float: right;
                text-decoration: underline;
            }
        }

        .form__checkbox{
            margin-bottom:calcRem(10rem);
        }

        .form__radio{
            display: inline-block;
            &:not(:last-child){
                margin-right:calcRem(10rem);
            }
        }

        .form-date__field{
            width:calcRem(143rem);
        }
    }
}



.paging{
    margin-top: calcRem(25rem);
}