@import "../base/variables";
@import "../base/mixins";

/**********************
  PAGE
  주문배송조회
**********************/

//3개월,6개월,1년 기간조회 버튼
.myOrderList-filter{
    $filter : ".myOrderList-filter";
    padding: calcRem(20rem);
    background: $lightgray2;

    &__btnList{
        overflow: hidden;
        
        #{$filter}__item{
            float: left;
            width:  calcRem(60rem);
            height:  calcRem(26rem);
            &:not(:last-child){ margin-right: calcRem(5rem); }

            .myOrderList-btn{
                height:  calcRem(26rem);
                padding: 0;
                box-sizing: border-box;
                border-color: $gray2;
                background: $whiteColor;
                display: block;
            }

            &:last-child{
                width:  calcRem(77rem);
                float: right;
            }

            &.is-current{
                .myOrderList-btn{
                    background: $point1;
                    color: $whiteColor;
                    border-color: $point1;
                }
            }
        }
    }

    //기간조회 detail
    &__detail{
        display: none;
        margin-top:calcRem(20rem);
        border-top: 1px solid $lightgray4;

        #{$filter}__date{
            height:calcRem(36rem);
            margin:calcRem(18rem) 0;
        }
        #{$filter}__search-btn{
            width: calcRem(210rem);
            height:calcRem(36rem);
            
            @include body2;
            color:$whiteColor;
            text-align: center;
            background-color: $darkgray;
           
            margin: auto;
            padding:calcRem(9rem) calcRem(5rem);
            box-sizing: border-box;
        }
        &.is-view{display: block;}
    }
    
}

// 배송까지 workflow 
.myOrderList-workflow{
    margin:calcRem(20rem) 0;
    &__list{overflow: hidden;}
    &__item{
        float: left;
        width: calcRem(60rem);
        text-align: center;
        @include body5;
        position: relative;

        &-figure{ 
            color: $point1;
            font-size:calcRem(12rem);
            font-weight: $regular;
        }

        &:not(:last-child):after{
            content: '';
            position: absolute;
            top: calcRem(26rem);
            right: calcRem(-3rem);

            width:calcRem(6rem);
            height:calcRem(11rem);
            @include pageBackground('/images/common/ico_more_gray.svg','no-repeat center center / contain');
        }
    }
}


// 마이페이지 주문리스트 
.order-mypage__item{
    $orderList : '.order-mypage';

    padding: calcRem(20rem);
    border-top: 1px solid $black1;
    &:last-child{ border-bottom: 1px solid $black1; }

    // 주문번호, 진행 상태/step, 날짜
    #{$orderList}__info{
        padding:calcRem(10rem) 0 calcRem(30rem);
        overflow: hidden;
        @include body2;
        border-bottom: 1px solid $lightgray4;

        #{$orderList}__type{
            float: left;
        }
        #{$orderList}__step{
            float: right;
        }

        #{$orderList}__orderId-link{
            margin-left:calcRem(5rem);
            &:after{
                content: '';
                display: inline-block;
                width:calcRem(6rem);
                height:calcRem(10rem);
                box-sizing: border-box;
                margin-left: calcRem(10rem);
                vertical-align: middle;
                @include pageBackground('/images/common/ico_paging_next.svg','no-repeat center center / contain');
            }
        }
        #{$orderList}__date{
            @include body5;
            color: $darkgray;
        }
        #{$orderList}__step{
            margin-left:auto;
            color:$point1;
        }
    }

    // 배송조회/리뷰/확정 버튼
    #{$orderList}__btn{
        padding: calcRem(6rem) calcRem(10rem);
        @include body2;
        margin-bottom:calcRem(10rem);
    }

    // 상품명, 금액, 링크버튼
    #{$orderList}__contents{
        padding:calcRem(16rem) calcRem(10rem) calcRem(22rem) 0;      
        overflow: hidden;

        #{$orderList}__cont{
            display: inline-block;
            vertical-align: middle;
            width: 48%;
        }

        #{$orderList}__title{ 
            @include body2; 
        }
        
        #{$orderList}__thumb{
            // float: left;
            margin-right:calcRem(15rem);
            width:calcRem(120rem);
            display: inline-block;
            position: relative;
            overflow: hidden;
            vertical-align: middle;
            
            img,
            #{$orderList}__img{ 
                width:100%;
                @include ab-center; 
            }

            &:after{
                content: "";
                display: block;
                padding-bottom:100%;
            }
        }
                
        #{$orderList}__option{
            margin-top:calcRem(12rem);
    
            &--item{
                // margin-top:calcRem(5rem);
    
                &:after{
                    @include block-reset;
                }
    
                // &:first-child{
                //     margin-top:0;
                // }
            }
    
            &--title{
                display: block;
                float:left;
                margin-right:calcRem(5rem);
                @include body3;
            }
    
            &--text{
                display: block;
                overflow: hidden;
                @include body3;
            }
        }
        
        #{$orderList}__price{
            margin-top:calcRem(20rem);
            clear: both;
            padding-left:calcRem(20rem);
            padding-right:calcRem(20rem);
            position: relative;
            line-height:0;
            font-size:0;
    
            &--current{
                @include title2;
                margin-right:calcRem(12rem);
                display: inline-block;
                vertical-align: middle;
            }
    
            &--sale{
                @include title2;
                color:$throughColor;
                text-decoration: line-through;
                display: inline-block;
                vertical-align: middle;
                margin-left: 20px;
            }

            &.type-single{
                padding:0;
                @include title1;
            }
        }
    }
}


/**********************
  PAGE
  주문배송조회 상세
**********************/
//주문 상품정보 
.myOrderListDetail-type{
    padding: calcRem(20rem);
    border-top: 1px solid $black1;

    //주문 번호
    .myOrderListDetail-title{
        padding-bottom:  calcRem(20rem);
        border-bottom: 1px solid $lightgray4;
        @include body2;

        &__date{
            @include body5;
            color: $darkgray;
        }
    } 

    .myOrderListDetail-cont{
        //주문 상품정보 title
        &__title{
            @include title2;
            margin:calcRem(20rem) 0;
        }

        //주문상품 현재 상태
        &__state{
            @include body2;
            overflow: hidden;

            &--title{
                color: $point1;
                width: calcRem(77rem);
                display: inline-block;
                vertical-align: middle;
            }
            &--list{ 
                display: inline-block;
                vertical-align: middle;
            }
            &--item{
                display: inline-block;
                vertical-align: middle;
                width: calcRem(77rem);
                .myOrderList-btn{
                    box-sizing: border-box;
                    border-color: $gray2;
                    background: $whiteColor;
                    display: block;
                }
            }
        }
    }

    .order-mypage__item{
        border:0;
        padding-top: 0;

        .order-mypage__contents{
            padding:calcRem(30rem) calcRem(10rem) calcRem(10rem) 0;
        }

        .order-mypage__price{
            margin-top:calcRem(20rem);
            clear: both;
            padding-right:calcRem(20rem);
            position: relative;
            line-height:0;
            font-size:0;
    
            &--current{
                @include title2;
                margin-right:calcRem(12rem);
                display: inline-block;
                vertical-align: middle;
            }
    
            &--sale{
                @include title2;
                color:$throughColor;
                text-decoration: line-through;
                display: inline-block;
                vertical-align: middle;
            }
        }


        //메세지 카드
        .order-mypage__meta{
            margin-top:calcRem(15rem);
            line-height:0;
            // padding-left:calcRem(20rem);
            // padding-right:calcRem(20rem);

            &--state{
                @include body2;
                margin-top:calcRem(25rem);
            }

            &--list{
                margin:0 calcRem(-15rem);
                &:after{
                    @include block-reset;
                }
            }

            &--item{
                float:left;
                margin:0 calcRem(15rem);
                position: relative;
                padding-right:calcRem(24rem);
            }

            &--btn{
                width:calcRem(16rem);
                height:calcRem(16rem);
                position: absolute;
                right:0;
                @include vertical-center;
                @include pageBackground('/images/common/ico_info-btn.svg','no-repeat center center / contain');
                background-size:calcRem(16rem) calcRem(16rem) ;
            }
        } 

        //message
        .order-mypage__message{
            margin-top:calcRem(15rem);
            // padding-left:calcRem(20rem);
            // padding-right:calcRem(20rem);
            // display: none;
    
            &.is-active{
                display: block;
            }
    
            textarea{
                height:calcRem(57rem);
            }
        }
    }
}

// 배송정보
.myOrderListDetail-info{
    padding:calcRem(20rem) calcRem(20rem) calcRem(30rem);
    border-top: 1px solid $gray1;

    .myOrderListDetail-title{
        @include title2;
        margin-top:calcRem(10rem);
        margin-bottom:calcRem(8rem);

        .info-more{
            float: right;
            @include body2;

            &:after{
                content: '';
                display: inline-block;
                width:calcRem(4rem);
                height:calcRem(9rem);
                box-sizing: border-box;
                margin-left: calcRem(5rem);
                @include pageBackground('/images/common/ico_address_more.svg','no-repeat center center / contain');    
            }
        }
    }

    .user-address{
        &__meta{
            margin-bottom:calcRem(3rem);
            @include body3;
    
            &--name{
                @include body3;
                margin-right:calcRem(4rem);
            }
    
            &--position{
                @include body3;
                margin-left:calcRem(4rem);
            }
        }

        &__tel{
            @include body3;
            margin-bottom:calcRem(2rem);
        }
    
        &__address{
            @include body3;
        }

        &__state{
            @include body3;
            margin-top:calcRem(20rem);
        }
    }
}


.myOrderListDetail-payment{
    padding:calcRem(20rem) calcRem(20rem) calcRem(30rem);

    .payment-total{
        $this:&;

        &__title{
            margin: 0;
            margin-bottom:calcRem(20rem);
            
            .payment-total__text{  @include title2;  }
            .payment-total__price{  
                @include title2;  
                color: $point1;
            }
        }
    
        &__inner{
            margin:0;
    
            &:after{
                @include block-reset;
            }
        }
    
        &__text{
            float:left;
            @include body3;
    
            #{$this}__title &{
                @include title2;
            }
        }
    
        &__price{
            overflow: hidden;
            text-align: right;
            @include body3;
    
            #{$this}__title &{
                @include title2;
                color:$point1;
            }
        }
    
        &__item{
            margin-top:calcRem(10rem);
    
            &:first-child{
                margin-top:0;
            }
        }

    }
    
}

//결제방식
.myOrderListDetail-paymentMethod{
    padding:calcRem(20rem) calcRem(20rem) calcRem(30rem);

    .payment-info{
        &__title{
            @include title2;
            margin-top:calcRem(10rem);
            margin-bottom:calcRem(8rem);
        }
    
        &__item{
            @include body3;
        }
    }
}

//주문자 정보
.myOrderListDetail-user{
    padding:calcRem(20rem) calcRem(20rem) calcRem(0);
    border-top: 1px solid $gray1;

    .myOrderListDetail-title{
        @include title2;
        margin-top:calcRem(10rem);
        margin-bottom:calcRem(8rem);
    }
    .order-info{
        &__title{
            &--inner{
                font-size:0;
                line-height:0;
                margin:0;
    
                &:after{
                    @include block-reset;
                }
            }
    
            &--name{
                display: block;
                vertical-align: middle;
                @include body3;
                font-weight: $regular;
            }
    
            &--tel{
                display: block;
                vertical-align: middle;
                @include body3;
                margin:calcRem(4rem) 0 0;
            }
        }
    
        &__email{
            margin-top:calcRem(4rem);
            @include body3;
        }
    }
}



/**********************
  PAGE
  취소/반품
**********************/
//전체, 취소내역, 반품내역 탭
.myReturnOrder-tab{
    height:calcRem(35rem);
    position: relative;

    //head
    &__fix{
        border-top:solid 1px $gray1;
        position: absolute;
        padding:0 calcRem(20rem);
        height:calcRem(35rem);
        background-color: $whiteColor;
        top:0;
        left:0;
        width:100%;
        z-index: $childZindex;
        box-sizing: border-box;

        &:after{
            @include block-reset;
        }

        .is-fixed &{
            transition: transform 0.3s;
            position: fixed;
            transform:translateZ(0) translateY(0);
        }

        .is-fixed.is-down &{
            transform:translateZ(0) translateY(calcRem(45rem));
        }
    }

    &__item{
        width:33.333%;
        float:left;
        text-align: center;
    }

    &__link{
        display: block;
        @include body3;
        padding:calcRem(8rem) calcRem(5rem);
        position: relative;

        .is-current &{
            font-weight: $medium;
        }

        &:after{
            content:"";
            height:calcRem(2rem);
            background-color: $black1;
            position: absolute;
            top:-1px;
            left:0;
            right:0;
            opacity: 0;

            .is-current &{
                opacity: 1;
            }
        }
    }

    //cont
    &__cont{
        padding:calcRem(35rem) calcRem(20rem) 0;
    }

    &__info{
        display:none;

        &.is-current{
            display: block;
        }
    }
}

