@import "../base/variables";
@import "../base/mixins";
//product top banner
.product-banner{
    margin-bottom:calcRem(20rem);
    line-height:0;
    position: relative;

    &.img:after{
        content:"";
        display: block;
        padding-bottom:112%;
    }

    &.video:after{
        content:"";
        display: block;
        padding-bottom:57%;
    }

    &__img{
        @include ab-center;
        width:100%;
    }

    &__file{
        @include ab-center;
        width:100% !important;
        height:100% !important;
    }
}

//product Post Layout
.product-post{
    $this:&;
    overflow: hidden;
    margin-top:calcRem($productTopMargin);

    &__list{
        overflow: hidden;
        margin:calcRem(-20rem) 0;
    }

    &__item{
        padding:calcRem(20rem) 0;
        #{$this}--post &{
            width:50%;
            float:left;

            &:nth-child(odd){
                clear: both;
            }
        }

        #{$this}--list &{
            width:100%;
        }
    }
}

//product Post Item
.product-item{
    $this:&;

    &__link{
        position: relative;
        display: block;
    }

    &__state{
        font-size:calcRem(10rem);
        line-height:calclH(16,10);
        font-weight: $medium;
        color:$point1;
        position: absolute;
        top:calcRem(20rem);
        left:calcRem(20rem);
        z-index: $childZindex;

        &--expected{
            position: relative;
            padding-left:calcRem(5rem);
            margin-left:calcRem(5rem);

            &:after{
                content:"";
                width:1px;
                height:calcRem(6rem);
                background-color: $gray2;
                position: absolute;
                left:0;
                @include vertical-center;
            }
        }
    }

    &__thumb{
        line-height:0;
        position: relative;
        overflow: hidden;

        &:after{
            content:"";
            display: block;
            padding-bottom:100%;
        }
    }

    &__img{
        position: absolute;
        width:100%;
        @include ab-center;
    }

    &__cont{
        margin-top:calcRem(10rem);
        padding:0 calcRem(20rem);
        text-align: center;
    }

    &__title{
        text-transform: uppercase;
        @include body3;
    }

    &__price{
        margin-top:calcRem(10rem);

        &--sale{
            @include body3;
            color:$throughColor;
            text-decoration: line-through;
            display:block;
        }

        &--current{
            @include body2;
            display:block;
        }
    }
}

