@import "../base/variables";
@import "../base/mixins";
@import "../pages/product";

@mixin imageBlock {
  display:block;
  width:100%;
}

.promotion{
    // 프로모션 리스트
    // 프로모션 메인배너
    &-banner{
        position: relative;
        padding-top: calcRem(20rem);
        &__img{
          width: 100%;
          @include imageBlock;
        }
        &__bottom{
          position: absolute;
          width: 100%;
          text-align: center;
          bottom: calcRem(40rem);
        }
        &__txt{
          color: #fff;
          font-size: calcRem(14rem);
        }
        &__link{
          position: relative;
          display: block;
        }
        &__visual{
            &.is-video{
              position: relative;
              width: 100%;
              height: 100vh;
              overflow: hidden;
            }
        }
        &__video{
            width: auto;
            height: 100vh;
        }
    }

    // 프로모션 배너 리스트 그룹
    &-wrap{
        padding: calcRem(60rem) calcRem(20rem) 0;
    }

    // 프로모션 배너 리스트
    &-list + &-list{
      padding-top: calcRem(20rem);
    }
    &-list{
      margin-bottom: calcRem(36rem);

        &__link{
          display: block;
        }
        &__img{
          @include imageBlock;
        }
        &__name{
          padding-top: calcRem(10rem);
          text-align: center;
          font-size: calcRem(14rem);
          font-weight: 100;
        }

      #planListArea{
       // 프로모션 상세 :: 스테이징 구조에 따른 스타일적용
        .promotion-list__link{
          margin-bottom: calcRem(36rem);
        }
      }
    }

    // 프로모션 뷰 비주얼
    &-view{
        padding: calcRem(17rem) 0 calcRem(41rem);
        &__name{
          font-size: calcRem(16rem);
        }
        &__title{
          text-align: center;
          padding: 0 0 calcRem(10rem);
        }
        &__date{
          margin-top: calcRem(9rem);
          // font-size: calcRem(11rem);
          font-size: calcRem(12rem);
          font-weight: 100;
          color: #484848;
        }
        &__img{
          @include imageBlock;
        }
    }

    // 프로모션 상품 리스트
    &-group{
        margin-bottom: calcRem(-60rem);
    }
    &-product{
        // position: relative;
        &__header{
          padding: 0 20px;
          text-align: center;
        }
        &__name{
          padding-bottom: calcRem(10rem);
          border-bottom: 1px solid #dddddd;

        }
        &__wrap{
          width: 100%;
          overflow: hidden;
        }
        &__item{
          width: 50%;
          float: left;
          padding: calcRem(20rem) 0 calcRem(60rem);
          position: relative;
          box-sizing: border-box;

          .product-item{
            &__state{
              text-transform: uppercase;

              &.type-circle{
                color: $whiteColor;
                text-align: center;
                padding-top: calcRem(8rem);
                box-sizing: border-box;
              }
            }
          }
          
          &:nth-child(odd){
            clear:both;
          }
        }
    }

}


// 프로모션 상세 :: 스테이징 구조에 따른 스타일적용
.container + .promotion-wrap{
  padding-top: 0;
}