<!-- terms popup -->
<section id="addressModifyPop" class="popup type-write">
    <header class="popup__header">
        <h3 class="popup__tit">배송지 변경</h3>
        <button class="popup__close js-popup-close">close</button>
    </header>
    <section class="popup__body">
        <div class="wrap">
            <div class="address-modify">
                <% include ../_include/_addressInfoModify %>
            </div>
        </div>
        <div class="popup-confirm__footer">
            <ul class="popup-confirm__list">
                <li class="popup-confirm__item"><a class="popup-confirm__link" href="javascript:void(0);">확인</a></li>
            </ul>
        </div>
    </section>
</section>

