<!-- filter popup -->
<section id="filterPop" class="popup type-footer">
    <header class="popup__header">
        <h3 class="popup__tit">FILTER</h3>
        <button class="popup__close js-popup-close">close</button>
    </header>
    
    <section class="popup__body">
        <div class="wrap">
            <!-- filter cont -->
            <dl class="popup-section">
               <dt class="popup-section__title">CATEGORY</dt>
                <dd class="popup-section__cont">
                    <ul class="popup-checkform">
                        <li class="popup-checkform__item">
                            <div class="list-radio">
                                <input class="list-radio__input sr-only" type="radio" name="filterCategory" id="filterCategory1">
                                <label for="filterCategory1" class="list-radio__label">BAG ALL</label>
                            </div>
                        </li>
                        <li class="popup-checkform__item">
                            <div class="list-radio">
                                <input class="list-radio__input sr-only" type="radio" name="filterCategory" id="filterCategory2" checked>
                                <label for="filterCategory2" class="list-radio__label">숄더백</label>
                            </div>
                        </li>
                        <li class="popup-checkform__item">
                            <div class="list-radio">
                                <input class="list-radio__input sr-only" type="radio" name="filterCategory" id="filterCategory3">
                                <label for="filterCategory3" class="list-radio__label">토드백</label>
                            </div>
                        </li>
                        <li class="popup-checkform__item">
                            <div class="list-radio">
                                <input class="list-radio__input sr-only" type="radio" name="filterCategory" id="filterCategory4">
                                <label for="filterCategory4" class="list-radio__label">크로스백</label>
                            </div>
                        </li>
                        <li class="popup-checkform__item">
                            <div class="list-radio">
                                <input class="list-radio__input sr-only" type="radio" name="filterCategory" id="filterCategory5">
                                <label for="filterCategory5" class="list-radio__label">미니백/클러치백</label>
                            </div>
                        </li>
                        <li class="popup-checkform__item">
                            <div class="list-radio">
                                <input class="list-radio__input sr-only" type="radio" name="filterCategory" id="filterCategory6">
                                <label for="filterCategory6" class="list-radio__label">백팩</label>
                            </div>
                        </li>
                    </ul>
                </dd>
            </dl>
            <dl class="popup-section">
                <dt class="popup-section__title">PRICE</dt>
                <dd class="popup-section__cont">
                    <ul class="popup-checkform">
                        <li class="popup-checkform__item">
                            <div class="list-radio">
                                <input class="list-radio__input sr-only" type="radio" name="filterPrice" id="filterPrice1" checked>
                                <label for="filterPrice1" class="list-radio__label">PRICE ALL</label>
                            </div>
                        </li>
                        <li class="popup-checkform__item">
                            <div class="list-radio">
                                <input class="list-radio__input sr-only" type="radio" name="filterPrice" id="filterPrice2">
                                <label for="filterPrice2" class="list-radio__label">10만원 이하</label>
                            </div>
                        </li>
                        <li class="popup-checkform__item">
                            <div class="list-radio">
                                <input class="list-radio__input sr-only" type="radio" name="filterPrice" id="filterPrice3">
                                <label for="filterPrice3" class="list-radio__label">10만원 - 20만원</label>
                            </div>
                        </li>
                        <li class="popup-checkform__item">
                            <div class="list-radio">
                                <input class="list-radio__input sr-only" type="radio" name="filterPrice" id="filterPrice4">
                                <label for="filterPrice4" class="list-radio__label">20만원 - 30만원</label>
                            </div>
                        </li>
                        <li class="popup-checkform__item">
                            <div class="list-radio">
                                <input class="list-radio__input sr-only" type="radio" name="filterPrice" id="filterPrice5">
                                <label for="filterPrice5" class="list-radio__label">30만원 - 40만원</label>
                            </div>
                        </li>
                        <li class="popup-checkform__item">
                            <div class="list-radio">
                                <input class="list-radio__input sr-only" type="radio" name="filterPrice" id="filterPrice6">
                                <label for="filterPrice6" class="list-radio__label">40만원 - 50만원</label>
                            </div>
                        </li>
                        <li class="popup-checkform__item">
                            <div class="list-radio">
                                <input class="list-radio__input sr-only" type="radio" name="filterPrice" id="filterPrice7">
                                <label for="filterPrice7" class="list-radio__label">50만원 이상</label>
                            </div>
                        </li>
                    </ul>
                </dd>
            </dl>
            <!-- .filter cont -->
        </div>
        <!-- filter Footer -->
        <div class="popup-filter__footer">
            <div class="popup-filter__result"><span class="popup-filter__result--point">67</span>개의 상품 결과가 있습니다.</div>
            <div class="popup-filter__group">
                <ul class="popup-filter__list">
                    <li class="popup-filter__item"><a class="popup-filter__link" href="javascript:void(0);">Reset</a></li>
                    <li class="popup-filter__item"><a class="popup-filter__link" href="javascript:void(0);">Search</a></li>
                </ul>
            </div>
        </div>
        <!-- .filter Footer -->
    </section>
</section>
<!-- .filter popup -->