<!-- terms popup -->
<section id="lookbookPop" class="popup">
    <header class="popup__header">
        <h3 class="popup__tit">LOOK BOOK</h3>
        <button class="popup__close js-popup-close">close</button>
    </header>
    <section class="popup__body">
            <div class="lookbook-wrap">
                <!--룩북 소개-->
                <div class="lookbook-wrap__contents">
                    <div class="lookbook-wrap__title">MINI MONTÉ</div>
                    <div class="lookbook-wrap__txt">
                        It is the limited edition which is inspired by high valued
                        archive of Louis Quatorze. With the bold symbolic logo
                        ornament and leather to perfect heritage mood, it shows
                        the neutro style's hand bags as reinterpreting
                        contemporary what they combine modern and retro style together.
                    </div>
                </div>
                <!--//룩북 소개-->

                <!--룩북 이미지-->
                <div class="lookbook-wrap__list">
                    <div class="lookbook-wrap__item">
                        <img class="lookbook-wrap__img" src="../../images/collection/collection_bgColor01.png" alt=""/>
                    </div>
                </div>
                <!--//룩북 이미지-->

                <!--룩북 이미지-->
                <div class="lookbook-wrap__list">
                    <div class="lookbook-wrap__item">
                        <img class="lookbook-wrap__img" src="https://mcdn.louisclub.com/static/mo/img/collection/view/minimonte/2.jpg" alt=""/>
                    </div>
                </div>
                <!--//룩북 이미지-->

                <!--룩북 이미지-->
                <div class="lookbook-wrap__list">
                    <div class="lookbook-wrap__item">
                        <img class="lookbook-wrap__img" src="https://mcdn.louisclub.com/static/mo/img/collection/view/minimonte/3.jpg" alt=""/>
                    </div>
                </div>
                <!--//룩북 이미지-->

                <!--룩북 이미지-->
                <div class="lookbook-wrap__list">
                    <div class="lookbook-wrap__item">
                        <img class="lookbook-wrap__img" src="../../images/collection/collection_bgColor01.png" alt=""/>
                    </div>
                </div>
                <!--//룩북 이미지-->
            </div>
    </section>
</section>