<!-- 멤버쉽 전환 완료 -->
<section id="membershipJoin_success" class="popup type-write">
    <header class="popup__header">
        <h5 class="popup__tit">멤버십회원으로 전환</h3>
        <button class="popup__close js-popup-close">close</button>
    </header>
    <section class="popup__body">
        <div class="membershipJoin-result">
            <div class="membershipJoin-result__text">멤버십 회원으로 전환이 <span class="text--point">완료</span>되었습니다.</div>
            <div class="membershipJoin-result__table">
                <table class="basic-table">
                    <caption class="sr-only">구매 채별별 적립율</caption>
                    <colgroup>
                        <col style="width:38%;">
                        <col style="">
                    </colgroup>
                    <tbody>
                        <tr>
                            <th scope="row" class="basic-table--bold">아이디</th>
                            <td class="basic-table--left">youngv**</td>
                        </tr>
                        <tr>
                            <th scope="row" class="basic-table--bold">가입유형</th>
                            <td class="basic-table--left">네이버 계정</td>
                        </tr>
                        <tr>
                            <th scope="row" class="basic-table--bold">이메일</th>
                            <td class="basic-table--left">abcdefg**@***</td>
                        </tr>
                        <tr>
                            <th scope="row" class="basic-table--bold">휴대폰 번호</th>
                            <td class="basic-table--left">010-****-1622</td>
                        </tr>
                        <tr>
                            <th scope="row" class="basic-table--bold">가입일</th>
                            <td class="basic-table--left">2020.05.20</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <ul class="membershipJoin-result__bullet">
                <li class="membershipJoin-result__bullet__item">멤버십회원은 하나의 ID로 온라인 및 오프라인 매장에서 적립금 사용 및 적립이 가능 합니다. </li>
            </ul>
            <div class="membershipJoin-result__link text--point"><a href="#">멤버쉽 혜택 자세히 보기</a></div>
        </div>
        <div class="popup-write__footer">
            <ul class="popup-write__list">
                <li class="popup-write__item"><a class="popup-write__link" href="javascript:void(0);">홈으로</a></li>
                <li class="popup-write__item"><a class="popup-write__link" href="javascript:void(0);">로그인 하기</a></li>
            </ul>
        </div>
    </section>
</section>
<!-- .멤버쉽 전환 기존멤버쉽 존재 -->