<!-- qna write popup -->
<section id="inquiryOrderPop" class="popup type-write">
    <header class="popup__header">
        <h3 class="popup__tit">주문내역</h3>
        <button class="popup__close js-popup-close">close</button>
    </header>

    <section class="popup__body">
        <div class="popup-orderlist">
            <div class="popup-orderlist__header">최근 6개월 동안의 주문내역 입니다.</div>
            <div class="popup-orderlist__body">
                <!-- 상품이 없을경우 노출 -->
                <!--<div class="popup-orderlist__no-cart">주문하신 상품이 없습니다.</div>-->
                <!-- .상품이 없을경우 노출 -->
                <!-- list -->
                <div class="popup-orderlist__list">
                    <!-- item -->
                    <div class="orderlist-item">
                        <div class="orderlist-item__header">
                            <div class="form__radio">
                                <input class="form__radio--input sr-only" type="radio" name="popupProduct" id="popupProduct1">
                                <label class="form__radio--text" for="popupProduct1">주문번호<span class="orderlist-item__number">P20210812142407</span></label>
                            </div>
                            <div class="orderlist-item__date">2021.10.27</div>
                        </div>
                        <div class="orderlist-item__body">
                            <div class="orderlist-item__product">
                                <div class="orderlist-item__thumb"><img src="../../images/dummy/detail-img1.jpg" alt="" /></div>
                                <div class="orderlist-item__cont">
                                    <div class="orderlist-item__title">루이까또즈 MINI CAVIAR (미니캐비어) 사첼백<br />HO1PM21IV</div>
                                    <div class="orderlist-item__price">289,290원</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- .item -->
                    <!-- item -->
                    <div class="orderlist-item">
                        <div class="orderlist-item__header">
                            <div class="form__radio">
                                <input class="form__radio--input sr-only" type="radio" name="popupProduct" id="popupProduct2">
                                <label class="form__radio--text" for="popupProduct2">주문번호<span class="orderlist-item__number">P20210812142407</span></label>
                            </div>
                            <div class="orderlist-item__date">2021.10.27</div>
                        </div>
                        <div class="orderlist-item__body">
                            <div class="orderlist-item__product">
                                <div class="orderlist-item__thumb"><img src="../../images/dummy/detail-img1.jpg" alt="" /></div>
                                <div class="orderlist-item__cont">
                                    <div class="orderlist-item__title">루이까또즈 MINI CAVIAR (미니캐비어) 사첼백<br />HO1PM21IV</div>
                                    <div class="orderlist-item__price">289,290원</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- .item -->


                    <!-- test 용도로 리스트 많이 추가 -->
                    <!-- item -->
                    <div class="orderlist-item">
                        <div class="orderlist-item__header">
                            <div class="form__radio">
                                <input class="form__radio--input sr-only" type="radio" name="popupProduct" id="popupProduct1">
                                <label class="form__radio--text" for="popupProduct1">주문번호<span class="orderlist-item__number">P20210812142407</span></label>
                            </div>
                            <div class="orderlist-item__date">2021.10.27</div>
                        </div>
                        <div class="orderlist-item__body">
                            <div class="orderlist-item__product">
                                <div class="orderlist-item__thumb"><img src="../../images/dummy/detail-img1.jpg" alt="" /></div>
                                <div class="orderlist-item__cont">
                                    <div class="orderlist-item__title">루이까또즈 MINI CAVIAR (미니캐비어) 사첼백<br />HO1PM21IV</div>
                                    <div class="orderlist-item__price">289,290원</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- .item -->
                    <!-- item -->
                    <div class="orderlist-item">
                        <div class="orderlist-item__header">
                            <div class="form__radio">
                                <input class="form__radio--input sr-only" type="radio" name="popupProduct" id="popupProduct2">
                                <label class="form__radio--text" for="popupProduct2">주문번호<span class="orderlist-item__number">P20210812142407</span></label>
                            </div>
                            <div class="orderlist-item__date">2021.10.27</div>
                        </div>
                        <div class="orderlist-item__body">
                            <div class="orderlist-item__product">
                                <div class="orderlist-item__thumb"><img src="../../images/dummy/detail-img1.jpg" alt="" /></div>
                                <div class="orderlist-item__cont">
                                    <div class="orderlist-item__title">루이까또즈 MINI CAVIAR (미니캐비어) 사첼백<br />HO1PM21IV</div>
                                    <div class="orderlist-item__price">289,290원</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- .item -->
                    <!-- item -->
                    <div class="orderlist-item">
                        <div class="orderlist-item__header">
                            <div class="form__radio">
                                <input class="form__radio--input sr-only" type="radio" name="popupProduct" id="popupProduct1">
                                <label class="form__radio--text" for="popupProduct1">주문번호<span class="orderlist-item__number">P20210812142407</span></label>
                            </div>
                            <div class="orderlist-item__date">2021.10.27</div>
                        </div>
                        <div class="orderlist-item__body">
                            <div class="orderlist-item__product">
                                <div class="orderlist-item__thumb"><img src="../../images/dummy/detail-img1.jpg" alt="" /></div>
                                <div class="orderlist-item__cont">
                                    <div class="orderlist-item__title">루이까또즈 MINI CAVIAR (미니캐비어) 사첼백<br />HO1PM21IV</div>
                                    <div class="orderlist-item__price">289,290원</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- .item -->
                    <!-- item -->
                    <div class="orderlist-item">
                        <div class="orderlist-item__header">
                            <div class="form__radio">
                                <input class="form__radio--input sr-only" type="radio" name="popupProduct" id="popupProduct2">
                                <label class="form__radio--text" for="popupProduct2">주문번호<span class="orderlist-item__number">P20210812142407</span></label>
                            </div>
                            <div class="orderlist-item__date">2021.10.27</div>
                        </div>
                        <div class="orderlist-item__body">
                            <div class="orderlist-item__product">
                                <div class="orderlist-item__thumb"><img src="../../images/dummy/detail-img1.jpg" alt="" /></div>
                                <div class="orderlist-item__cont">
                                    <div class="orderlist-item__title">루이까또즈 MINI CAVIAR (미니캐비어) 사첼백<br />HO1PM21IV</div>
                                    <div class="orderlist-item__price">289,290원</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- .item -->
                    <!-- item -->
                    <div class="orderlist-item">
                        <div class="orderlist-item__header">
                            <div class="form__radio">
                                <input class="form__radio--input sr-only" type="radio" name="popupProduct" id="popupProduct1">
                                <label class="form__radio--text" for="popupProduct1">주문번호<span class="orderlist-item__number">P20210812142407</span></label>
                            </div>
                            <div class="orderlist-item__date">2021.10.27</div>
                        </div>
                        <div class="orderlist-item__body">
                            <div class="orderlist-item__product">
                                <div class="orderlist-item__thumb"><img src="../../images/dummy/detail-img1.jpg" alt="" /></div>
                                <div class="orderlist-item__cont">
                                    <div class="orderlist-item__title">루이까또즈 MINI CAVIAR (미니캐비어) 사첼백<br />HO1PM21IV</div>
                                    <div class="orderlist-item__price">289,290원</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- .item -->
                    <!-- item -->
                    <div class="orderlist-item">
                        <div class="orderlist-item__header">
                            <div class="form__radio">
                                <input class="form__radio--input sr-only" type="radio" name="popupProduct" id="popupProduct2">
                                <label class="form__radio--text" for="popupProduct2">주문번호<span class="orderlist-item__number">P20210812142407</span></label>
                            </div>
                            <div class="orderlist-item__date">2021.10.27</div>
                        </div>
                        <div class="orderlist-item__body">
                            <div class="orderlist-item__product">
                                <div class="orderlist-item__thumb"><img src="../../images/dummy/detail-img1.jpg" alt="" /></div>
                                <div class="orderlist-item__cont">
                                    <div class="orderlist-item__title">루이까또즈 MINI CAVIAR (미니캐비어) 사첼백<br />HO1PM21IV</div>
                                    <div class="orderlist-item__price">289,290원</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- .item -->
                    <!-- item -->
                    <div class="orderlist-item">
                        <div class="orderlist-item__header">
                            <div class="form__radio">
                                <input class="form__radio--input sr-only" type="radio" name="popupProduct" id="popupProduct1">
                                <label class="form__radio--text" for="popupProduct1">주문번호<span class="orderlist-item__number">P20210812142407</span></label>
                            </div>
                            <div class="orderlist-item__date">2021.10.27</div>
                        </div>
                        <div class="orderlist-item__body">
                            <div class="orderlist-item__product">
                                <div class="orderlist-item__thumb"><img src="../../images/dummy/detail-img1.jpg" alt="" /></div>
                                <div class="orderlist-item__cont">
                                    <div class="orderlist-item__title">루이까또즈 MINI CAVIAR (미니캐비어) 사첼백<br />HO1PM21IV</div>
                                    <div class="orderlist-item__price">289,290원</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- .item -->
                    <!-- item -->
                    <div class="orderlist-item">
                        <div class="orderlist-item__header">
                            <div class="form__radio">
                                <input class="form__radio--input sr-only" type="radio" name="popupProduct" id="popupProduct2">
                                <label class="form__radio--text" for="popupProduct2">주문번호<span class="orderlist-item__number">P20210812142407</span></label>
                            </div>
                            <div class="orderlist-item__date">2021.10.27</div>
                        </div>
                        <div class="orderlist-item__body">
                            <div class="orderlist-item__product">
                                <div class="orderlist-item__thumb"><img src="../../images/dummy/detail-img1.jpg" alt="" /></div>
                                <div class="orderlist-item__cont">
                                    <div class="orderlist-item__title">루이까또즈 MINI CAVIAR (미니캐비어) 사첼백<br />HO1PM21IV</div>
                                    <div class="orderlist-item__price">289,290원</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- .item -->
                    <!-- item -->
                    <div class="orderlist-item">
                        <div class="orderlist-item__header">
                            <div class="form__radio">
                                <input class="form__radio--input sr-only" type="radio" name="popupProduct" id="popupProduct1">
                                <label class="form__radio--text" for="popupProduct1">주문번호<span class="orderlist-item__number">P20210812142407</span></label>
                            </div>
                            <div class="orderlist-item__date">2021.10.27</div>
                        </div>
                        <div class="orderlist-item__body">
                            <div class="orderlist-item__product">
                                <div class="orderlist-item__thumb"><img src="../../images/dummy/detail-img1.jpg" alt="" /></div>
                                <div class="orderlist-item__cont">
                                    <div class="orderlist-item__title">루이까또즈 MINI CAVIAR (미니캐비어) 사첼백<br />HO1PM21IV</div>
                                    <div class="orderlist-item__price">289,290원</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- .item -->
                    <!-- item -->
                    <div class="orderlist-item">
                        <div class="orderlist-item__header">
                            <div class="form__radio">
                                <input class="form__radio--input sr-only" type="radio" name="popupProduct" id="popupProduct2">
                                <label class="form__radio--text" for="popupProduct2">주문번호<span class="orderlist-item__number">P20210812142407</span></label>
                            </div>
                            <div class="orderlist-item__date">2021.10.27</div>
                        </div>
                        <div class="orderlist-item__body">
                            <div class="orderlist-item__product">
                                <div class="orderlist-item__thumb"><img src="../../images/dummy/detail-img1.jpg" alt="" /></div>
                                <div class="orderlist-item__cont">
                                    <div class="orderlist-item__title">루이까또즈 MINI CAVIAR (미니캐비어) 사첼백<br />HO1PM21IV</div>
                                    <div class="orderlist-item__price">289,290원</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- .item -->
                    <!-- item -->
                    <div class="orderlist-item">
                        <div class="orderlist-item__header">
                            <div class="form__radio">
                                <input class="form__radio--input sr-only" type="radio" name="popupProduct" id="popupProduct1">
                                <label class="form__radio--text" for="popupProduct1">주문번호<span class="orderlist-item__number">P20210812142407</span></label>
                            </div>
                            <div class="orderlist-item__date">2021.10.27</div>
                        </div>
                        <div class="orderlist-item__body">
                            <div class="orderlist-item__product">
                                <div class="orderlist-item__thumb"><img src="../../images/dummy/detail-img1.jpg" alt="" /></div>
                                <div class="orderlist-item__cont">
                                    <div class="orderlist-item__title">루이까또즈 MINI CAVIAR (미니캐비어) 사첼백<br />HO1PM21IV</div>
                                    <div class="orderlist-item__price">289,290원</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- .item -->
                    <!-- item -->
                    <div class="orderlist-item">
                        <div class="orderlist-item__header">
                            <div class="form__radio">
                                <input class="form__radio--input sr-only" type="radio" name="popupProduct" id="popupProduct2">
                                <label class="form__radio--text" for="popupProduct2">주문번호<span class="orderlist-item__number">P20210812142407</span></label>
                            </div>
                            <div class="orderlist-item__date">2021.10.27</div>
                        </div>
                        <div class="orderlist-item__body">
                            <div class="orderlist-item__product">
                                <div class="orderlist-item__thumb"><img src="../../images/dummy/detail-img1.jpg" alt="" /></div>
                                <div class="orderlist-item__cont">
                                    <div class="orderlist-item__title">루이까또즈 MINI CAVIAR (미니캐비어) 사첼백<br />HO1PM21IV</div>
                                    <div class="orderlist-item__price">289,290원</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- .item -->
                    <!-- item -->
                    <div class="orderlist-item">
                        <div class="orderlist-item__header">
                            <div class="form__radio">
                                <input class="form__radio--input sr-only" type="radio" name="popupProduct" id="popupProduct1">
                                <label class="form__radio--text" for="popupProduct1">주문번호<span class="orderlist-item__number">P20210812142407</span></label>
                            </div>
                            <div class="orderlist-item__date">2021.10.27</div>
                        </div>
                        <div class="orderlist-item__body">
                            <div class="orderlist-item__product">
                                <div class="orderlist-item__thumb"><img src="../../images/dummy/detail-img1.jpg" alt="" /></div>
                                <div class="orderlist-item__cont">
                                    <div class="orderlist-item__title">루이까또즈 MINI CAVIAR (미니캐비어) 사첼백<br />HO1PM21IV</div>
                                    <div class="orderlist-item__price">289,290원</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- .item -->
                    <!-- item -->
                    <div class="orderlist-item">
                        <div class="orderlist-item__header">
                            <div class="form__radio">
                                <input class="form__radio--input sr-only" type="radio" name="popupProduct" id="popupProduct2">
                                <label class="form__radio--text" for="popupProduct2">주문번호<span class="orderlist-item__number">P20210812142407</span></label>
                            </div>
                            <div class="orderlist-item__date">2021.10.27</div>
                        </div>
                        <div class="orderlist-item__body">
                            <div class="orderlist-item__product">
                                <div class="orderlist-item__thumb"><img src="../../images/dummy/detail-img1.jpg" alt="" /></div>
                                <div class="orderlist-item__cont">
                                    <div class="orderlist-item__title">루이까또즈 MINI CAVIAR (미니캐비어) 사첼백<br />HO1PM21IV</div>
                                    <div class="orderlist-item__price">289,290원</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- .item -->
                    <!-- item -->
                    <div class="orderlist-item">
                        <div class="orderlist-item__header">
                            <div class="form__radio">
                                <input class="form__radio--input sr-only" type="radio" name="popupProduct" id="popupProduct1">
                                <label class="form__radio--text" for="popupProduct1">주문번호<span class="orderlist-item__number">P20210812142407</span></label>
                            </div>
                            <div class="orderlist-item__date">2021.10.27</div>
                        </div>
                        <div class="orderlist-item__body">
                            <div class="orderlist-item__product">
                                <div class="orderlist-item__thumb"><img src="../../images/dummy/detail-img1.jpg" alt="" /></div>
                                <div class="orderlist-item__cont">
                                    <div class="orderlist-item__title">루이까또즈 MINI CAVIAR (미니캐비어) 사첼백<br />HO1PM21IV</div>
                                    <div class="orderlist-item__price">289,290원</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- .item -->
                    <!-- item -->
                    <div class="orderlist-item">
                        <div class="orderlist-item__header">
                            <div class="form__radio">
                                <input class="form__radio--input sr-only" type="radio" name="popupProduct" id="popupProduct2">
                                <label class="form__radio--text" for="popupProduct2">주문번호<span class="orderlist-item__number">P20210812142407</span></label>
                            </div>
                            <div class="orderlist-item__date">2021.10.27</div>
                        </div>
                        <div class="orderlist-item__body">
                            <div class="orderlist-item__product">
                                <div class="orderlist-item__thumb"><img src="../../images/dummy/detail-img1.jpg" alt="" /></div>
                                <div class="orderlist-item__cont">
                                    <div class="orderlist-item__title">루이까또즈 MINI CAVIAR (미니캐비어) 사첼백<br />HO1PM21IV</div>
                                    <div class="orderlist-item__price">289,290원</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- .item -->
                    <!-- item -->
                    <div class="orderlist-item">
                        <div class="orderlist-item__header">
                            <div class="form__radio">
                                <input class="form__radio--input sr-only" type="radio" name="popupProduct" id="popupProduct1">
                                <label class="form__radio--text" for="popupProduct1">주문번호<span class="orderlist-item__number">P20210812142407</span></label>
                            </div>
                            <div class="orderlist-item__date">2021.10.27</div>
                        </div>
                        <div class="orderlist-item__body">
                            <div class="orderlist-item__product">
                                <div class="orderlist-item__thumb"><img src="../../images/dummy/detail-img1.jpg" alt="" /></div>
                                <div class="orderlist-item__cont">
                                    <div class="orderlist-item__title">루이까또즈 MINI CAVIAR (미니캐비어) 사첼백<br />HO1PM21IV</div>
                                    <div class="orderlist-item__price">289,290원</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- .item -->
                    <!-- item -->
                    <div class="orderlist-item">
                        <div class="orderlist-item__header">
                            <div class="form__radio">
                                <input class="form__radio--input sr-only" type="radio" name="popupProduct" id="popupProduct2">
                                <label class="form__radio--text" for="popupProduct2">주문번호<span class="orderlist-item__number">P20210812142407</span></label>
                            </div>
                            <div class="orderlist-item__date">2021.10.27</div>
                        </div>
                        <div class="orderlist-item__body">
                            <div class="orderlist-item__product">
                                <div class="orderlist-item__thumb"><img src="../../images/dummy/detail-img1.jpg" alt="" /></div>
                                <div class="orderlist-item__cont">
                                    <div class="orderlist-item__title">루이까또즈 MINI CAVIAR (미니캐비어) 사첼백<br />HO1PM21IV</div>
                                    <div class="orderlist-item__price">289,290원</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- .item -->
                    <!-- item -->
                    <div class="orderlist-item">
                        <div class="orderlist-item__header">
                            <div class="form__radio">
                                <input class="form__radio--input sr-only" type="radio" name="popupProduct" id="popupProduct1">
                                <label class="form__radio--text" for="popupProduct1">주문번호<span class="orderlist-item__number">P20210812142407</span></label>
                            </div>
                            <div class="orderlist-item__date">2021.10.27</div>
                        </div>
                        <div class="orderlist-item__body">
                            <div class="orderlist-item__product">
                                <div class="orderlist-item__thumb"><img src="../../images/dummy/detail-img1.jpg" alt="" /></div>
                                <div class="orderlist-item__cont">
                                    <div class="orderlist-item__title">루이까또즈 MINI CAVIAR (미니캐비어) 사첼백<br />HO1PM21IV</div>
                                    <div class="orderlist-item__price">289,290원</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- .item -->
                    <!-- item -->
                    <div class="orderlist-item">
                        <div class="orderlist-item__header">
                            <div class="form__radio">
                                <input class="form__radio--input sr-only" type="radio" name="popupProduct" id="popupProduct2">
                                <label class="form__radio--text" for="popupProduct2">주문번호<span class="orderlist-item__number">P20210812142407</span></label>
                            </div>
                            <div class="orderlist-item__date">2021.10.27</div>
                        </div>
                        <div class="orderlist-item__body">
                            <div class="orderlist-item__product">
                                <div class="orderlist-item__thumb"><img src="../../images/dummy/detail-img1.jpg" alt="" /></div>
                                <div class="orderlist-item__cont">
                                    <div class="orderlist-item__title">루이까또즈 MINI CAVIAR (미니캐비어) 사첼백<br />HO1PM21IV</div>
                                    <div class="orderlist-item__price">289,290원</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- .item -->
                    <!-- test 용도로 리스트 많이 추가 -->
                    
                </div>
                <!-- .list -->
            </div>
        </div>
        <!-- wirte Footer -->
        <div class="popup-write__footer">
            <ul class="popup-write__list">
                <li class="popup-write__item"><a class="popup-write__link" href="javascript:void(0);">취소</a></li>
                <li class="popup-write__item"><a class="popup-write__link" href="javascript:void(0);">확인</a></li>
            </ul>
        </div>
        <!-- .wirte Footer -->
    </section>
</section>
<!-- .qna write popup -->