<section id="returnOrder" class="popup type-notFixed">
    <header class="popup__header">
        <h3 class="popup__tit">반품신청</h3>
        <button class="popup__close js-popup-close">close</button>
    </header>
    <section class="popup__body">
        <div class="return-order__contents">
            <div class="order-mypage__info">
                <a href="#;" class="order-mypage__thumb"><img class="order-mypage__img" src="../../images/dummy/detail-img1.jpg" alt=""></a>
                <div class="order-mypage__cont">
                    <div class="order-mypage__title">루이까또즈 MINI CAVIAR (미니캐비어) 사첼백 HO1PM21IV</div>
                    <div class="order-mypage__option">
                        <ul class="order-mypage__option--list">
                            <li class="order-mypage__option--item">
                                <span class="order-mypage__option--title">색상 :</span>
                                <span class="order-mypage__option--text">WHITE</span>
                            </li>
                            <li class="order-mypage__option--item">
                                <span class="order-mypage__option--title">옵션 :</span>
                                <span class="order-mypage__option--text">FREESIZE</span>
                            </li>
                            <li class="order-mypage__option--item">
                                <span class="order-mypage__option--title">수량 :</span>
                                <span class="order-mypage__option--text">1개</span>
                            </li>
                            <li class="order-mypage__option--item">
                                <span class="order-mypage__option--title">배송 :</span>
                                <span class="order-mypage__option--text">무료배송</span>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="order-mypage__price">
                <span class="order-mypage__price--current">289,290원</span>
                <span class="order-mypage__price--sale">328,000원</span>
            </div>
    
            <div class="order-mypage__message">
                <select name="wirteOption" class="form__select js-placeholder js-custom-message is-check" title="배송 메세지 선택">
                    <option value="1">반품사유 선택</option>
                    <option value="2">사유2</option>
                </select>

                <textarea class="form__input--textarea js-max-keyup" title="내용" 
                          placeholder="상세 사유를 입력하세요."></textarea>
            </div>

            <p class="order-mypage__text">반품 사유가 구매자 책임인 경우 최초 발송 비용을 포함한 왕복 배송비가 부과될 수 있습니다.</p>
            
            <div class="order-mypage__textBox">
                <p class="order-mypage__textBox--title">반품 비용 구매자 부담</p>
                <ul class="center-bullet">
                    <li class="center-bullet__item">상품에 이상은 없으나 구매의사 없음</li>
                    <li class="center-bullet__item">옵션을 잘못 선택함</li>
                </ul>
            </div>

            <div class="order-mypage__textBox">
                <p class="order-mypage__textBox--title">반품 비용 쇼핑몰 부담</p>
                <ul class="center-bullet">
                    <li class="center-bullet__item">상품에 결함이 있음</li>
                    <li class="center-bullet__item">도착한 상품이 상품정보와 다름</li>
                </ul>
            </div>
        </div>
        <div class="popup-write__footer">
            <ul class="popup-write__list">
                <li class="popup-write__item"><a class="popup-write__link" href="javascript:void(0);">취소</a></li>
                <li class="popup-write__item"><a class="popup-write__link" href="javascript:void(0);">반품신청</a></li>
            </ul>
        </div>
    </section>
</section>