<section id="returnOrderCancel" class="popup type-notFixed">
    <header class="popup__header">
        <h3 class="popup__tit">주문취소</h3>
        <button class="popup__close js-popup-close">close</button>
    </header>
    <section class="popup__body">
        <div class="return-orderCancel__contents">
            <div class="order-mypage__header">
                <h3 class="order-mypage__header--title">주문을 취소 하시겠습니까?</h3>
            </div>
            <div class="order-mypage__body--top">
                <div class="order-mypage__type no-step">
                    <div class="order-mypage__orderId">주문번호 P20210812142407</div>
                    <div class="order-mypage__date">2021.10.19 오후 04:10</div>
                </div>
                <div class="order-mypage__info">
                    <a href="#;" class="order-mypage__thumb"><img class="order-mypage__img" src="../../images/dummy/detail-img1.jpg" alt=""></a>
                    <div class="order-mypage__cont">
                        <div class="order-mypage__title">루이까또즈 MINI CAVIAR (미니캐비어) 사첼백 HO1PM21IV</div>
                        <div class="order-mypage__option">
                            <ul class="order-mypage__option--list">
                                <li class="order-mypage__option--item">
                                    <span class="order-mypage__option--title">색상 :</span>
                                    <span class="order-mypage__option--text">WHITE</span>
                                </li>
                                <li class="order-mypage__option--item">
                                    <span class="order-mypage__option--title">옵션 :</span>
                                    <span class="order-mypage__option--text">FREESIZE</span>
                                </li>
                                <li class="order-mypage__option--item">
                                    <span class="order-mypage__option--title">수량 :</span>
                                    <span class="order-mypage__option--text">1개</span>
                                </li>
                                <li class="order-mypage__option--item">
                                    <span class="order-mypage__option--title">배송 :</span>
                                    <span class="order-mypage__option--text">무료배송</span>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
    
                <div class="order-mypage__price">
                    <span class="order-mypage__price--current">289,290원</span>
                    <span class="order-mypage__price--sale">328,000원</span>
                </div>
            </div>
                
            <div class="order-mypage__body--bottom">
                <div class="order-mypage__message">
                    <select name="wirteOption" class="form__select js-placeholder js-custom-message is-check" title="배송 메세지 선택">
                        <option value="1">취소사유 선택</option>
                        <option value="2">사유2</option>
                    </select>
    
                    <textarea class="form__input--textarea js-max-keyup" title="내용" 
                              placeholder="상세 사유를 입력하세요."></textarea>
                </div>
            
                <p class="order-mypage__title">결제수단별 환불안내</p>
    
                <div class="order-mypage__textBox">
                    <p class="order-mypage__textBox--title">신용카드</p>
                    <ul class="center-bullet">
                        <li class="center-bullet__item">간편 신용카드/체크카드 : 취소 완료 후 3~5영업일 이후 환불(승인/매입 구분 불가)</li>
                        <li class="center-bullet__item">간편 계좌이체 : 취소 완료 즉시 환불 (단, 은행 정기점검시간 등에는 환불 불가)</li>
                        <li class="center-bullet__item">포인트 : 취소 완료 즉시 환불</li>
                        <li class="center-bullet__item">은행 점검 관련</li>
                    </ul>
    
                    <ul class="center-bullet-number">
                        <li class="center-bullet-number__item">정기 점검 시간 : 23시 30분 ~ 00시 30분</li>
                        <li class="center-bullet-number__item">추가 점검 시간: 정기 점검 시간 외에 은행별 추가 점검 시간에는 해당 은행을 이용하기 어렵습니다.</li>
                    </ul>
    
                    <ul class="center-bullet type-small">
                        <li class="center-bullet__item">우리은행 : 매월 두 번째 토요일 23시 30분 ~ 일요일 06시까지</li>
                        <li class="center-bullet__item">농협은행 : 매월 세 번째 일요일 23시 30분 ~ 월요일 04시까지</li>
                    </ul>

                    <!-- <p class="order-mypage__textBox--title">네이버페이</p>
                    <ul class="center-bullet">
                        <li class="center-bullet__item">신용카드 : 취소완료일로부터 영업일 기준 3일~5일 이내 카드 승인 취소</li>
                        <li class="center-bullet__item">실시간계좌이체 : 취소완료일로부터 영업일 기준 2일~3일 이내 최초 결제 시 이용한 계좌로 입금</li>
                    </ul>

                    <p class="order-mypage__textBox--title">카카오페이</p>
                    <ul class="center-bullet">
                        <li class="center-bullet__item">신용카드 : 취소완료일로부터 영업일 기준 3일~5일 이내 카드 승인 취소</li>
                        <li class="center-bullet__item">실시간계좌이체 : 취소완료일로부터 영업일 기준 2일~3일 이내 최초 결제 시 이용한 계좌로 입금</li>
                    </ul> -->

                    <p class="order-mypage__textBox--title">페이코</p>
                    <ul class="center-bullet">
                        <li class="center-bullet__item">영업일 1~3일 이내에 등록된 환불계좌로 환불됩니다.</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="popup-write__footer">
            <ul class="popup-write__list">
                <li class="popup-write__item"><a class="popup-write__link" href="javascript:void(0);">취소</a></li>
                <li class="popup-write__item"><a class="popup-write__link" href="javascript:void(0);">주문취소</a></li>
            </ul>
        </div>
    </section>
</section>