<section id="" class="popup">
    <header class="popup__header">
        <h3 class="popup__tit">리뷰 이미지</h3>
        <button class="popup__close js-popup-close">close</button>
    </header>
    <section class="popup__body">
        <div class="reviewImages__contents">
            <div class="reviewImages__view">
                <div class="swiper-container">
                    <div class="swiper-wrapper"></div>
                    <div class="swiper-button-next detail-thumb--next"></div>
                    <div class="swiper-button-prev detail-thumb--prev"></div>
                </div>
                <div class="swiper-pagination detail-thumb__pagination"></div>
            </div>
        </div>
    </section>
</section>