<!-- shipping popup -->
<section id="shippingPop" class="popup type-tab">
    <header class="popup__header">
        <h3 class="popup__tit">배송지 정보</h3>
        <button class="popup__close js-popup-close">close</button>
    </header>
    <!-- tab -->
    <!-- shipping tab -->
    <div class="shipping-tab">
        <ul class="shipping-tab__fix">
            <li class="shipping-tab__item is-current">
                <a href="#;" class="shipping-tab__link js-pop-tab-link">내주소록</a>
            </li>
            <li class="shipping-tab__item">
                <a href="#;" class="shipping-tab__link js-pop-tab-link">새로운 주소</a>
            </li>
            <li class="shipping-tab__item">
                <a href="#;" class="shipping-tab__link js-pop-tab-link">최근 배송지</a>
            </li>
            <li class="shipping-tab__item">
                <a href="#;" class="shipping-tab__link js-pop-tab-link">주문자 정보</a>
            </li>
        </ul>
    </div>
    <!-- shipping tab -->
    <section class="popup__body">
        <div class="wrap">
            <!-- shipping Tab content -->
            <div class="shipping-tab__cont">
                <!-- 내주소록 -->
                <div class="shipping-tab__info js-pop-tab-cont is-current">
                    <% include ../_include/_shippingPopAddress %>
                </div>
                <!-- .내주소록 -->
                <!-- 새로운 주소 -->
                <div class="shipping-tab__info js-pop-tab-cont">
                    <% include ../_include/_shippingPopNewAddress %>
                </div>
                <!-- .새로운 주소 -->
                <!-- 최근 배송지 -->
                <div class="shipping-tab__info js-pop-tab-cont">
                    <% include ../_include/_shippingPopNowAddress %>
                </div>
                <!-- .최근 배송지 -->
                <!-- 주문자 정보 -->
                <div class="shipping-tab__info js-pop-tab-cont">
                    <% include ../_include/_shippingPopaddressInfo %>
                </div>
                <!-- .주문자 정보 -->
            </div>
            <!-- .shipping Tab content -->
        </div>
        <!-- confirm Footer -->
        <div class="popup-confirm__footer">
            <ul class="popup-confirm__list">
                <li class="popup-confirm__item"><a class="popup-confirm__link" href="javascript:void(0);">선택 주소 사용</a></li>
            </ul>
        </div>
        <!-- .confirm Footer -->
    </section>
</section>
<!-- .shipping popup -->