<!-- 360view popup -->
<section id="viewArPop" class="slide-popup">
    <a class="slide-popup__close js-popup-close" href="#;"><span class="sr-only">닫기</span></a>
    <div class="popup-slider">
        <div class="swiper-container popup-slider__container">
            <div class="swiper-wrapper popup-slider__wrapper">
                <div class='swiper-slide popup-slider__item'>
                    <div class="product-ar">
                        <div id="ov-mgGdFXoxiS6PPRrWC8k5gX"></div>
                    </div>
                </div>
                <div class='swiper-slide popup-slider__item'>
                    <div class="product-ar">
                        <div id="ov-mgGdFXoxiS6PPRrWC8k5gX"></div>
                    </div>
                </div>
                <div class='swiper-slide popup-slider__item'>
                    <div class="product-ar">
                        <div id="ov-mgGdFXoxiS6PPRrWC8k5gX"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="popup-slider__button">
        <div class="swiper-button-next popup-slider__button--next"></div>
        <div class="swiper-button-prev popup-slider__button--prev"></div>
    </div>
</section>
<!-- .360view popup -->