<%
	type = "join"
	page = "join"
    popup = "false"
    lnbTitle = "NEW ARRIVAL"
%>
<% include ../_include/_header %>
<div class="container">
	<% include ../_include/_lnbSelect %>
    <div class="site-main">
	    <section class="product">
            <div class="wrap">
                <!-- Product List Filter -->
                <div class="list-filter">
                    <div class="filter__layout">
                        <a href="#;" class="filter__link filter__link--list">217개 상품</a>
                    </div>
                </div>
                <!-- .Product List Filter -->
            </div>
        </section>
    </div>
</div>

<% include ../_include/_footer %>