<%
type = "fyl3"
page = "fyl3"
popup = "false"
lnbTitle = "FYL3-SHAPE.SHIFTER"
%>
<% include ../_include/_header %>
<div class="container">
    <% include ../_include/_lnbSelectFYL3 %>
    <div class="site-project">
        <div class="fyl3-wrap">
            <!-- 섹션1(영상) -->
            <section class="fyl-section fyl-section1">
                <div class="fyl-section1__video">
                    <video class="fyl-section1__video--source" src="https://mcdn.louisclub.com/static/mo/img/find/find_video_211029.mp4" poster="https://mcdn.louisclub.com/static/mo/img/find/about_thumbnail.png?ver=211028" loop="" autoplay="" muted="muted" playsinline="" data-object-fit="cover"></video>
                    <button class="btn-play"></button>
                </div>
            </section>
            <!-- //섹션1(영상) -->


        </div>
    </div>
</div>
<% include ../_include/_contentFooter %>
<% include ../_include/_cartFix %>
<% include ../_include/_footer %>