<%
type = "fyl3"
page = "fyl3"
popup = "false"
lnbTitle = "FYL3-SHAPE.SHIFTER"
%>
<% include ../_include/_header %>
<div class="container">
    <% include ../_include/_lnbSelectFYL3 %>
    <div class="site-project">
        <div class="fyl3-wrap">
            <!-- 섹션1(영상) -->
            <section class="fyl-section fyl-section1">
                <div class="fyl-section1__video">
                    <video class="fyl-section1__video--source jsPlayVideo" src="https://mcdn.louisclub.com/static/mo/img/find/find_video_211029.mp4" poster="" loop="" autoplay="" muted="muted" playsinline="" data-object-fit="cover"></video>
                    <button class="btn-play is-play jsPlayButton"></button>
                </div>
            </section>
            <!-- //섹션1(영상) -->

            <!-- 섹션2(타이핑) -->
            <section class="fyl-section fyl-section2">
                <div class="fyl-section2__wrap">
                    <div class="fyl-section2__typography">
                        <div class="fyl-section2__fix">
                            <span class="fyl-section2__fix--word">find</span>
                            <span class="fyl-section2__fix--word">your</span>
                            <span class="fyl-section2__fix--word">light3</span>
                        </div>
                        <div class="fyl-section2__moving">
                            <p class="fyl-section2__moving--word move-txt">SHAPE.SHIFTER</p>
                        </div>
                    </div>

                    <div class="fyl-section2__content">
                        <div class="reading">
                            <span data-start="0" data-duration="6.8" class="phrase">
                                <div style="position: relative; display: inline-block; opacity: 1;" class="splitted splitted1">쉐이프 쉬프터는</div>
                                <div style="position: relative; display: inline-block; opacity: 1;" class="splitted splitted2">신화나 소설 속에서</div>
                                <div style="position: relative; display: inline-block; opacity: 1;" class="splitted splitted3">형태가 변신하는</div>
                                <div style="position: relative; display: inline-block; opacity: 1;" class="splitted splitted4">능력자를 의미하며</div>
                                <div style="position: relative; display: inline-block; opacity: 1;" class="splitted splitted5">이야기 속에서</div>
                                <div style="position: relative; display: inline-block; opacity: 1;" class="splitted splitted6">물리적인 모양을</div>
                                <div style="position: relative; display: inline-block; opacity: 1;" class="splitted splitted7">변신하는 능력은</div>
                                <div style="position: relative; display: inline-block; opacity: 1;" class="splitted splitted8">초인적인 능력,</div>
                                <div style="position: relative; display: inline-block; opacity: 1;" class="splitted splitted9">신의 개입,</div>
                                <div style="position: relative; display: inline-block; opacity: 1;" class="splitted splitted10">악마의 조직,</div>
                                <div style="position: relative; display: inline-block; opacity: 1;" class="splitted splitted11">마법과 주문 같은</div>
                                <div style="position: relative; display: inline-block; opacity: 1;" class="splitted splitted12">초월의 능</div>
                                <div style="position: relative; display: inline-block; opacity: 1;" class="splitted splitted13">력으로 가능했습니다.</div>
                                <div style="position: relative; display: inline-block; opacity: 1;" class="splitted splitted14">역사적으로 누적된</div>
                                <div style="position: relative; display: inline-block; opacity: 1;" class="splitted splitted15">수많은 설화와</div>
                                <div style="position: relative; display: inline-block; opacity: 1;" class="splitted splitted16">사례들은 고정된</div>
                            </span>
                            <span data-start="7.5" data-duration="1.9" class="phrase">
                                <div style="position: relative; display: inline-block; opacity: 1;" class="splitted splitted1">모습을 전복하려는</div>
                                <div style="position: relative; display: inline-block; opacity: 1;" class="splitted splitted2">인간의 모양 변신에</div>
                                <div style="position: relative; display: inline-block; opacity: 1;" class="splitted splitted3">대한 욕망을</div>
                                <div style="position: relative; display: inline-block; opacity: 1;" class="splitted splitted4">투사합니다.</div>
                            </span>
                            <span data-start="10" data-duration="3" class="phrase">
                                <div style="position: relative; display: inline-block; opacity: 1;" class="splitted splitted1">올해 Find your light3는</div>
                                <div style="position: relative; display: inline-block; opacity: 1;" class="splitted splitted2">루이까또즈의</div>
                                <div style="position: relative; display: inline-block; opacity: 1;" class="splitted splitted3">헤리티지인 가방이</div>
                                <div style="position: relative; display: inline-block; opacity: 1;" class="splitted splitted4">가지고 있는 원형의</div>
                                <div style="position: relative; display: inline-block; opacity: 1;" class="splitted splitted5">한계를 뛰어</div>
                                <div style="position: relative; display: inline-block; opacity: 1;" class="splitted splitted6">넘어 가방에 물리적</div>
                                <div style="position: relative; display: inline-block; opacity: 1;" class="splitted splitted7">변형을 가하며</div>
                                <div style="position: relative; display: inline-block; opacity: 1;" class="splitted splitted8">자유롭게 창작하는</div>
                                <div style="position: relative; display: inline-block; opacity: 1;" class="splitted splitted9">프로젝트입니다.</div>
                            </span>
                            <span data-start="13.5" data-duration="3" class="phrase">
                                <div style="position: relative; display: inline-block; opacity: 1;" class="splitted splitted1">10인의 아티스트와</div>
                                <div style="position: relative; display: inline-block; opacity: 1;" class="splitted splitted2">함께 패션과 미술의</div>
                                <div style="position: relative; display: inline-block; opacity: 1;" class="splitted splitted3">혼성적 경계에서</div>
                                <div style="position: relative; display: inline-block; opacity: 0.8025;" class="splitted splitted4">새로운 차원의 감각을</div>
                                <div style="position: relative; display: inline-block; opacity: 0;" class="splitted splitted5">추구하며</div>
                                <div style="position: relative; display: inline-block; opacity: 0;" class="splitted splitted6">동시대 예술의</div>
                                <div style="position: relative; display: inline-block; opacity: 0;" class="splitted splitted7">가능성을 탐험합니다.</div>
                                <div style="position: relative; display: inline-block; opacity: 0;" class="splitted splitted8">in</div>
                                <div style="position: relative; display: inline-block; opacity: 0;" class="splitted splitted9">your</div>
                                <div style="position: relative; display: inline-block; opacity: 0;" class="splitted splitted10">life</div> </span><span data-start="16.1" data-duration="2.3" class="phrase"><div style="position: relative; display: inline-block; opacity: 0;" class="splitted splitted1">are</div> <div style="position: relative; display: inline-block; opacity: 0;" class="splitted splitted2">taking</div> <div style="position: relative; display: inline-block; opacity: 0;" class="splitted splitted3">you</div> <div style="position: relative; display: inline-block; opacity: 0;" class="splitted splitted4">to</div> <div style="position: relative; display: inline-block; opacity: 0;" class="splitted splitted5">the</div> <div style="position: relative; display: inline-block; opacity: 0;" class="splitted splitted6">next</div> <div style="position: relative; display: inline-block; opacity: 0;" class="splitted splitted7">level.</div> </span><span data-start="18.5" data-duration="5" class="phrase"><div style="position: relative; display: inline-block; opacity: 0;" class="splitted splitted1">Because</div> <div style="position: relative; display: inline-block; opacity: 0;" class="splitted splitted2">certainly,</div> <div style="position: relative; display: inline-block; opacity: 0;" class="splitted splitted3">you</div> <div style="position: relative; display: inline-block; opacity: 0;" class="splitted splitted4">don't</div> <div style="position: relative; display: inline-block; opacity: 0;" class="splitted splitted5">want</div> <div style="position: relative; display: inline-block; opacity: 0;" class="splitted splitted6">to</div> <div style="position: relative; display: inline-block; opacity: 0;" class="splitted splitted7">invest</div> <div style="position: relative; display: inline-block; opacity: 0;" class="splitted splitted8">your</div> <div style="position: relative; display: inline-block; opacity: 0;" class="splitted splitted9">time</div> <div style="position: relative; display: inline-block; opacity: 0;" class="splitted splitted10">in</div> <div style="position: relative; display: inline-block; opacity: 0;" class="splitted splitted11">doing</div> <div style="position: relative; display: inline-block; opacity: 0;" class="splitted splitted12">things</div> </span><span data-start="23.1" data-duration="3.5" class="phrase"><div style="position: relative; display: inline-block; opacity: 0;" class="splitted splitted1">that</div> <div style="position: relative; display: inline-block; opacity: 0;" class="splitted splitted2">aren't</div> <div style="position: relative; display: inline-block; opacity: 0;" class="splitted splitted3">aligned</div> <div style="position: relative; display: inline-block; opacity: 0;" class="splitted splitted4">with</div> <div style="position: relative; display: inline-block; opacity: 0;" class="splitted splitted5">your</div> <div style="position: relative; display: inline-block; opacity: 0;" class="splitted splitted6">dreams</div> <div style="position: relative; display: inline-block; opacity: 0;" class="splitted splitted7">and</div> <div style="position: relative; display: inline-block; opacity: 0;" class="splitted splitted8">goals.</div> </span></div>
                    </div>
                </div>
            </section>
            <!-- //섹션2(타이핑) -->

        </div>
    </div>
</div>
<% include ../_include/_contentFooter %>
<% include ../_include/_cartFix %>
<% include ../_include/_footer %>