//Layout
.popup{
    display:none;
    position:fixed;
    top:0;
    left:0;
    right:0;
    min-height:100vh;
    background-color:#fff;
    z-index:$popupZindex;
    &.is-active{
        display:block;
    }
    &__header{
        position:relative;
        display:flex;
        width:100%;
        height:calcRem(58rem);
        align-items: center;
        justify-content: center;
        border-bottom:solid 1px $lightgray1;

        //배송정보 팝업
        .type-tab &{
            border-color:$gray1;
        }
    }
    &__tit{
        @include title1();
    }
    &__close{
        overflow:hidden;
        position:absolute;
        display:block;
        top:0;
        right:calcRem($sitePadding);
        bottom:0;
        width:calcRem(14rem);
        height:calcRem(14rem);
        margin:auto 0;
        border:none;
        outline:none;
        @include background('/images/common/close.svg','no-repeat center center / contain');
        text-indent: -9999px;
    }
    &__body{
        overflow:auto;
        height:calc(100vh - #{calcRem(58rem)});
        padding-top:calcRem(20rem);
        padding-bottom:calcRem(20rem);
        box-sizing: border-box;

        //필터 팝업
        .type-footer &{
            height:calc(100vh - #{calcRem(171rem)});
        }

        //qna 글쓰기 팝업
        .type-write &{
            height:calc(100vh - #{calcRem(100rem)});
        }

        //배송정보 팝업
        .type-tab &{
            height:calc(100vh - #{calcRem(136rem)});
            padding-top:calcRem(30rem);
            padding-bottom:calcRem(30rem);
        }
    }
}

//개인정보처리방침 컨텐츠
.etc{
    $this:&;
    &__dl{margin:0;}
    &__dt{margin-bottom:calcRem(10rem); @include body2();
    }
    &__dd{margin:0; @include body3();
        & + #{$this}__dt{margin-top:calcRem(20rem);}
    }
}

//필터 팝업
.popup{
    //컨텐츠
    &-section{
        margin-top:calcRem(26rem);

        &:first-child{
            margin-top:0;
        }

        &__title{
            @include title1;
            margin-bottom:calcRem(16rem);
        }
    }

    &-checkform{
        &__item{
            margin-top:calcRem(24rem);

            &:first-child{
                margin-top:0;
            }
        }
    }
    //푸터
    &-filter{
        &__footer{
            position: absolute;
            bottom:0;
            left:0;
            right:0;
            z-index: $childZindex;
            background: $whiteColor;
            border-top:solid 1px $gray2;
        }

        &__result{
            padding:calcRem(23rem) calcRem(20rem);
            text-align:center;
            @include body1;
        }

        &__group{
            background-color: $point1;
        }

        &__list{
            overflow: hidden;
        }

        &__item{
            float:left;
            width:30%;
            position: relative;

            &:nth-child(2){
                width:70%;

                &:after{
                    display: none;
                }
            }

            &:after{
                content:"";
                width:1px;
                height:calcRem(14rem);
                background-color:$whiteColor;
                position: absolute;
                right:0;
                @include vertical-center;
            }
        }

        &__link{
            display:block;
            font-size:calcRem(12rem);
            line-height: calclH(19,12);
            color:$whiteColor;
            text-align: center;
            padding:calcRem(13rem) calcRem(15rem);
        }
    }
}

//qna 글쓰기 팝업
.popup{
    &-write{
        //헤더
        &__header{
            padding-bottom:calcRem(13rem);
            position: relative;

            &:before{
                content:"";
                position: absolute;
                height:1px;
                bottom:0;
                left:calcRem(-20rem);
                right:calcRem(-20rem);
                background-color:$gray1;
            }

            &:after{
                @include block-reset;
            }
        }

        &__thumb{
            float:left;
            width:calcRem(82rem);
            margin-right:calcRem(10rem);
            position: relative;

            &:after{
                content:"";
                display: block;
                padding-bottom: 100%;
            }
        }

        &__img{
            width:100%;
            @include ab-center;
        }

        &__cont{
            overflow: hidden;

            &--title{
                @include body2;
            }
        }

        //폼
        &__form{
            padding:calcRem(30rem) 0 calcRem(50rem);

            &--item{
                margin-top:calcRem(10rem);

                &:first-child{
                    margin-top:0;
                }
            }

            &--info{
                margin:calcRem(20rem) 0 0;
                @include body3;
                padding-left:calcRem(8rem);
                position: relative;

                &:before{
                    content:"";
                    width:calcRem(2rem);
                    height:calcRem(2rem);
                    border-radius: 100%;
                    background-color: $black1;
                    position: absolute;
                    top:calcRem(8rem);
                    left:0;
                }
            }
        }

        //푸터
        &__footer{
            position: absolute;
            bottom:0;
            left:0;
            right:0;
            z-index: $childZindex;
            background: $whiteColor;
        }

        &__list{
            overflow: hidden;
        }

        &__item{
            float:left;
            width:37%;
            position: relative;

            &:nth-child(2){
                width:63%;

                &:after{
                    display: none;
                }
            }
        }

        &__link{
            display:block;
            @include title1;
            color:$black1;
            text-align: center;
            padding:calcRem(9rem) calcRem(15rem);
            border:solid 1px $gray2;

            .popup-write__item:nth-child(2) &{
                border-color:$point1;
                background-color: $point1;
                color:$whiteColor;
            }
        }
    }
}

//스몰 팝업
.small-popup{
    position: fixed;
    top:0;
    left:0;
    right:0;
    bottom:0;
    z-index: $popupZindex;
    display: none;

    &.is-active{
        display: block;
    }

    &__close{
        width:calcRem(14rem);
        height:calcRem(14rem);
        @include background('/images/common/ico_small_popup_close.svg','no-repeat center center / contain');
        background-size:calcRem(14rem) calcRem(14rem) ;
        position: absolute;
        top:calcRem(-34rem);
        right:0;
    }

    &__dim{
        position: absolute;
        top:0;
        left:0;
        right:0;
        bottom:0;
        background-color:$black1;
        opacity: 0.5;
    }

    &__body{
        @include ab-center;
        background-color: $bgSiteColor;
        width:calc(100% - #{calcRem(80rem)});
        z-index: $childZindex;
        padding:calcRem(30rem) calcRem(40rem) calcRem(40rem);
        box-sizing: border-box;
    }

    &__header{
        padding-bottom:calcRem(20rem);
        border-bottom:solid 1px $gray1;

        &--title{
            margin:0;
            @include title1;
            text-align: center;
        }
    }

    &__cont{
        overflow: hidden;
        overflow-y: auto;
        max-height: calc(100vh - #{calcRem(200rem)});

        &::-webkit-scrollbar {
            display: none;
        }
    }
}

//혜택가 안내
.pop-benefits{
    $this:&;

    &__list{
        padding:calcRem(20rem) 0;
    }

    &__inner{
        margin:0;
    }

    &__item{
        margin-top:calcRem(15rem);

        &:first-child{
            margin-top:0;
        }
    }

    &__inner{
        &:after{
            @include block-reset;
        }
    }

    &__title{
        float:left;
        @include body3;

        #{$this}__item--total &{
            font-weight: $regular;
        }
    }

    &__text{
        overflow:hidden;
        text-align: right;
        @include body3;

        #{$this}__item--total &{
            font-weight: $regular;
        }

        &--sale{
            color:$point1;
            display: block;
            font-weight: $regular;
        }
    }

    &__info{
        &--text{
            border-top:solid 1px $gray1;
            padding-top:calcRem(20rem);
            margin:0;
            @include body4;
            text-align: center;
        }
    }
}

//무이자 할부 안내
.installment{

    //테이블
    &-table{
        border-top:solid 1px $gray2;
        thead{
            th{
                @include body2;
                padding:calcRem(12rem) calcRem(5rem);
                text-align: center;
                vertical-align: middle;
                border-bottom: solid 1px $gray2;
            }
        }

        tbody{
            th{
                padding:calcRem(15rem) calcRem(5rem);
                @include body4;
                font-size:calcRem(11rem);
                vertical-align: middle;
                border-bottom: solid 1px $gray2;
            }

            td{
                padding:calcRem(15rem) 0;
                @include body3;
                vertical-align: middle;
                border-bottom: solid 1px $gray2;
            }
        }

        //상세 값
        &__info{
            margin-top:calcRem(10rem);
        }

        &__thumb{
            line-height:0;

            img{
                display: block;
                margin:0 auto;
            }

            &.thumb-kb img{
                width:calcRem(100rem);
            }

            &.thumb-lotte img{
                width:calcRem(104rem);
            }

            &.thumb-hana img{
                width:calcRem(113rem);
            }

            &.thumb-samsung img{
                width:calcRem(99rem);
            }

            &.thumb-shinhan img{
                width:calcRem(104rem);
            }

            &.thumb-bc img{
                width:calcRem(98rem);
            }

            &.thumb-nh img{
                width:calcRem(104rem);
            }

            &.thumb-citi img{
                width:calcRem(85rem);
            }

            &.thumb-uri img{
                width:calcRem(92rem);
            }

            &.thumb-kj img{
                width:calcRem(107rem);
            }

            &.thumb-junb img{
                width:calcRem(93rem);
            }
        }
    }

    //유의사항
    &-info{
        padding-top:calcRem(30rem);
        padding-bottom:calcRem(30rem);

        &__title{
            margin:0 0 calcRem(10rem);
            @include body2;
        }

        &__item{
            margin-top:calcRem(5rem);
            @include body3;
            padding-left:calcRem(7rem);
            position: relative;

            &:first-child{
                margin-top:0;
            }

            &:after{
                content:"";
                width:calcRem(2rem);
                height:calcRem(2rem);
                border-radius: 100%;
                background-color: $black1;
                position: absolute;
                top:calcRem(7rem);
                left:0;
            }
        }
    }
}

//슬라이드 팝업(제품 상세)
.slide-popup{
    position: fixed;
    top:0;
    left:0;
    right:0;
    bottom:0;
    background-color: $whiteColor;
    z-index: $popupZindex;
    display: none;

    &.is-active{
        display: block;
    }

    &__close{
        width:calcRem(30rem);
        height:calcRem(30rem);
        position: absolute;
        top:calcRem(85rem);
        right:calcRem(20rem);
        z-index: $popupButtonZindex;
        @include background('/images/common/ico_pop_slide_close.png','no-repeat center center / contain');
        background-size:calcRem(30rem) calcRem(30rem) ;
    }
}

//슬라이드 팝업 슬라이트구성
.popup-slider{
    $this:&;
    position: absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;

    &__item{
        overflow: hidden;
        transition-property: opacity;
        transition-duration: 0.2s;
        opacity: 0;

        &.swiper-slide-active{
            opacity: 1;
        }
    }

    //버튼
    &__button{
        width:calcRem(90rem);
        position: absolute;
        bottom:calcRem(100rem);
        left:50%;
        margin-left:calcRem(-90rem)/2;
        z-index: $popupButtonZindex;

        &:after{
            @include block-reset;
        }

        &--prev{
            width:calcRem(30rem);
            height:calcRem(30rem);
            display: block;
            border:solid 1px $gray2;
            background-color: $whiteColor;
            border-radius: 100%;
            position: relative;
            float:left;

            &:after{
                content:"";
                width:calcRem(6rem);
                height:calcRem(12rem);
                @include background('/images/common/ico_pop_slide_prev.svg','no-repeat center center / contain');
                background-size:calcRem(6rem) calcRem(12rem) ;
                @include ab-center;
            }

            &.swiper-button-disabled{
                opacity: 0.3;
                pointer-events: none;
            }
        }

        &--next{
            width:calcRem(30rem);
            height:calcRem(30rem);
            display: block;
            border:solid 1px $gray2;
            background-color: $whiteColor;
            border-radius: 100%;
            position: relative;
            float:right;

            &:after{
                content:"";
                width:calcRem(6rem);
                height:calcRem(12rem);
                @include background('/images/common/ico_pop_slide_next.svg','no-repeat center center / contain');
                background-size:calcRem(6rem) calcRem(12rem) ;
                @include ab-center;
            }

            &.swiper-button-disabled{
                display: none;
                pointer-events: none;
            }
        }
    }
}

//360vew
.product-ar{
    width:100%;
    height:100%;

    //컨트롤러
    .ov-control-panel{
        display:none;
    }
}

//카트 옵션
.button-popup{
    position: fixed;
    top:0;
    left:0;
    right:0;
    bottom:0;
    z-index: $popupZindex;
    display: none;

    &.is-active{
        display: block;
    }

    &__dim{
        position: absolute;
        top:0;
        left:0;
        right:0;
        bottom:0;
        background-color:$black1;
        opacity: 0.5;
    }

    &__body{
        @include ab-center;
        background-color: $bgSiteColor;
        width:calc(100% - #{calcRem(40rem)});
        z-index: $childZindex;
        border:solid 1px $gray1;
        box-sizing: border-box;
    }

    &__cont{
        overflow: hidden;
        overflow-y: auto;
        max-height: calc(100vh - #{calcRem(200rem)});
        padding:calcRem(30rem) calcRem(25rem);

        &::-webkit-scrollbar {
            display: none;
        }
    }

    &__title{
     text-align: center;
        margin-bottom: calcRem(30rem);
        @include title1;
    }

    &__option{
        &--count{
            margin-top:calcRem(20rem);

            .quantity{
                max-width: calcRem(68rem);
                box-sizing: border-box;
                float: right;
            }
        }

        &--inner{
            display: table;
            table-layout: fixed;
            width:100%;
        }

        &--title{
            display: table-cell;
            vertical-align: middle;
            width:calcRem(100rem);
            @include body3;
            font-size: calcRem(11rem);
        }

        &--quantity{
            display: table-cell;
            vertical-align: middle;
        }
    }

    //버튼 푸터
    &__footer{
        position: relative;
        z-index: $childZindex;
        margin-left:-1px;
        margin-right:-1px;
        margin-bottom:-1px;
        overflow: hidden;

        &--item{
            float:left;

            &:nth-child(1){
                width:35%;
            }

            &:nth-child(2){
                width:65%;
            }
        }

        &--link{
            display: block;
            text-align: center;
            @include body2;
            border:solid 1px $gray1;
            padding:calcRem(10rem) calcRem(10rem);

            &-red{
                border-color:$point1;
                background-color: $point1;
                color:$whiteColor;
            }
        }
    }
}

//선물포장 안내
.pop{
    &-gift{
        padding-top:calcRem(20rem);

        &__title{
           @include body2;
            margin-bottom:calcRem(5rem);
        }

        &__item{
            margin-top:calcRem(40rem);

            &:first-child{
                margin-top:0;
            }
        }
    }

    &-bullet__text{
        margin:0;
        font-size:calcRem(11rem);
        padding-left:calcRem(7rem);
        position: relative;
        line-height:calclH(18,11);
        letter-spacing: $defaultLetter;
        font-weight: $light;
        color:$black1;

        &:after{
            content:"";
            width:calcRem(2rem);
            height:calcRem(2rem);
            border-radius: 100%;
            position: absolute;
            top:calcRem(8rem);
            left:0;
            background:$black1;
        }
    }
}

//메시지 카드 안내
.pop{
    &-message{
        padding-top:calcRem(20rem);

        &__item{
            margin-top:calcRem(5rem);

            &:first-child{
                margin-top:0;
            }
        }
    }

    &-bullet__text{
        margin:0;
        font-size:calcRem(11rem);
        padding-left:calcRem(7rem);
        position: relative;
        line-height:calclH(18,11);
        letter-spacing: $defaultLetter;
        font-weight: $light;
        color:$black1;

        &:after{
            content:"";
            width:calcRem(2rem);
            height:calcRem(2rem);
            border-radius: 100%;
            position: absolute;
            top:calcRem(8rem);
            left:0;
            background:$black1;
        }
    }
}

//쿠폰 조회/적용
.popup{
    &-coupon{
        &__header{
            margin:0 calcRem(-20rem);
            padding:0 calcRem(30rem) calcRem(20rem);
            border-bottom: solid 1px $gray1;
        }

        &__item{
            margin-top: calcRem(8rem);

            &:first-child{
                margin-top:0;
            }
        }

        &__inner{
            margin:0;

            &:after{
                @include block-reset;
            }
        }

        &__title{
            float:left;
            @include title2;
        }

        &__text{
            overflow: hidden;
            text-align: right;
            @include title2;
            color:$point1;
        }

        //상품 리스트
        &__product--item{
            padding:calcRem(25rem) calcRem(20rem) 0;
            margin-top:calcRem(25rem);
            border-top:solid 1px $gray1;
            margin-left:calcRem(-20rem);
            margin-right:calcRem(-20rem);

            &:first-child{
                padding-top:0;
                margin-top:0;
                border-top:none;
            }
        }
    }
}

//상품 목록
.coupon-product{
    display: table;
    table-layout: fixed;
    width:100%;

    &__thumb{
        display: table-cell;
        vertical-align: middle;
        width:calcRem(120rem);
    }

    &__title{
        display: table-cell;
        vertical-align: middle;
        padding-left:calcRem(15rem);
        @include body2;
        font-weight: $regular;
    }

    //상품 옵션
    &__list{
        padding-top:calcRem(25rem);
        margin-top:calcRem(25rem);
        border-top:solid 1px $lightgray1;
    }

    &__item{
        margin-top:calcRem(10rem);

        &:first-child{
            margin-top:0;
        }

        &--title{
            @include body2;
            margin-bottom:calcRem(10rem);
        }

        &--cont{
            margin:0;
        }
    }

    &__price{
        margin-top:calcRem(10rem);
        text-align: right;
        font-size:0;
        line-height:0;

        &--title{
            @include body3;
            display: inline-block;
            vertical-align: middle;
            margin-right:calcRem(5rem);
        }

        &--text{
            @include body3;
            display: inline-block;
            vertical-align: middle;
            color:$point1;
            min-width:calcRem(85rem);
        }
    }
}

//배송 정보 레이아웃
.popup-confirm{
    &__footer{
        position: absolute;
        bottom:0;
        left:0;
        right:0;
        z-index: $childZindex;
        background: $whiteColor;
    }

    &__list{
        overflow: hidden;
    }

    &__item{
        width:100%;
        position: relative;
    }

    &__link{
        display:block;
        @include title1;
        color:$whiteColor;
        text-align: center;
        padding:calcRem(9rem) calcRem(15rem);
        border:solid 1px $point1;
        background-color: $point1;
    }
}

//배송지 탭
//제품 정보 탭
.shipping-tab{
    padding:0 calcRem(20rem);

    //head
    &__fix{
        height:calcRem(35rem);
        background-color: $whiteColor;
        left:0;
        width:100%;
        z-index: $childZindex;

        &:after{
            @include block-reset;
        }

        .is-fixed &{
            position: fixed;
            top:calcRem(45rem);
        }
    }

    &__item{
        width:25%;
        float:left;
        text-align: center;
    }

    &__link{
        display: block;
        @include body3;
        padding:calcRem(8rem) calcRem(5rem);
        position: relative;

        .is-current &{
            font-weight: $medium;
        }

        &:after{
            content:"";
            height:calcRem(2rem);
            background-color: $black1;
            position: absolute;
            top:-1px;
            left:0;
            right:0;
            opacity: 0;

            .is-current &{
                opacity: 1;
            }
        }
    }

    //cont
    &__info{
        display:none;

        &.is-current{
            display: block;
        }
    }
}

//배송지 정보:내주소록
.my-address{
    &__item{
        margin:0 calcRem(-20rem);
        padding:calcRem(25rem) calcRem(20rem);
        border-top:solid 1px $gray1;

        &:first-child{
            padding-top:0;
            border-top:none;
        }

        &:last-child{
            padding-bottom:0;
        }
    }
}

.radio-address{

    &__meta{
        margin-top:calcRem(15rem);
        padding-left:calcRem(20rem);
    }

    &__text{
        @include body3;
    }

    &__tel{
        @include body3;
        margin-top:calcRem(8rem);
    }
}

.form__radio{
    &--select{
        color:$gray2;
        margin-left:calcRem(5rem);
        font-weight: $regular;
    }
}

//주소검색(1)
.address-search{
    &__section{
        display: none;

        &.is-current{
            display: block;
        }
    }

    &__text{
        margin:calcRem(10rem) 0 0;
        @include body3;
    }

    &__list{
        margin-top:calcRem(20rem);
    }

    &__item{
        margin-top:calcRem(20rem);
        font-size:calcRem(11rem);
        line-height:calclH(18,11);
        letter-spacing: $defaultLetter;
        font-weight:$light;
        position: relative;
        padding-left:calcRem(7rem);

        &:before{
            content:"-";
            position: absolute;
            top:calcRem(-1rem);
            left:0;
            color:$black1;
        }

        &:first-child{
            margin-top:0;
        }
    }
}

//주소 검색 리스트
.address-list{

    &__item{
        border-bottom:solid 1px $gray1;
    }
}

.zipcode-address{
    display: block;
    padding:calcRem(20rem) 0;

    &:after{
        @include block-reset;
    }

    &__zip{
        float:left;
        margin-right:calcRem(5rem);
        min-width:calcRem(55rem);
        box-sizing: border-box;
        @include body3;
    }
    
    &__cont{
        overflow: hidden;

        &--zip{
            display: block;
            @include body3;
        }

        &--address{
            display: block;
            @include body3;
            color:$grayTextColor;
            margin-top:calcRem(2rem);
        }
    }

    //주소검색(3)
    &__form{
        margin-top:calcRem(20rem);
    }
}

//주소검색(3)
.address-search{
    &__btn{
        margin-top:calcRem(20rem);

        &--item{
            margin-top:calcRem(10rem);

            &:first-child{
                margin-top:0;
            }
        }
    }
}

//주문내역
.popup-orderlist{

    &__header{
        @include body3;
        padding:0 calcRem(20rem) calcRem(20rem);
        border-bottom:solid 1px $black1;
    }

    &__no-cart{
        @include body5;
        text-align: center;
        padding:calcRem(40rem) calcRem(20rem);
    }
}

//주문내역 제품 컨텐츠
.orderlist-item{
    border-bottom:solid 1px $gray2;

    &__header{
        padding:calcRem(20rem) calcRem(20rem);
        border-bottom:solid 1px $lightgray1;

        .form__radio--text{
            font-weight: $medium;
        }
    }

    &__number{
        margin-left:calcRem(5rem);
    }

    &__date{
        @include body5;
        font-weight: $regular;
        color:$darkgray;
        margin-top:calcRem(1rem);
        padding-left:calcRem(20rem);
    }

    &__body{
        padding:calcRem(20rem) calcRem(20rem) calcRem(30rem);

        &:after{
            @include block-reset;
        }
    }

    &__thumb{
        float:left;
        width:calcRem(120rem);
        margin-right:calcRem(15rem);
    }

    &__cont{
        overflow: hidden;
    }

    &__title{
        @include body2;
    }

    &__price{
        @include title2;
        margin-top:calcRem(20rem);
    }
}

//상품검색
.product-search{
    margin-bottom:calcRem(40rem);
    padding:0 calcRem(20rem);

    &__item{
        margin-top:calcRem(10rem);

        &:first-child{
            margin-top:0;
        }
    }

    &__code{
        margin-top:calcRem(20rem);
    }

    &__btn{
        margin-top:calcRem(30rem);
    }

    &__body{
        padding-bottom:calcRem(20rem);
    }

    &__no-cart{
        @include body5;
        text-align: center;
        padding:calcRem(30rem) calcRem(20rem);
    }
}

