//Product List Filter
//layout
.list-filter{
  border-bottom: 1px solid $gray2;
  padding-bottom:calcRem(15rem);
  &:after{
    @include block-reset;
  }
}

//filter Layout
.filter{
    $this:&;
    &__layout{
        float:left;
    }
    &__link{
        display: block;
        font-size: calcRem(11rem);
        line-height:calclH(18,11);
        padding-left:calcRem(17rem);
        position: relative;

        &:after{
            content:"";
            position: absolute;
            top:50%;
            left:0;
            transform:translateY(-50%);
            width:calcRem(12rem);
            height:calcRem(12rem);
            background-size:calcRem(12rem) calcRem(12rem);
        }
        &--post{
            &:after{
                @include background('/images/common/ico-filter_post.png','no-repeat center center / contain');
            }
        }

        &--list{
            &:after{
                @include background('/images/common/ico_filter_list.png','no-repeat center center / contain');
            }
        }
    }
}

//filter Select
.filter {
    $this: &;
    &__meta {
        float:right;
        padding-right:calcRem(40rem);
        position: relative;

        &--btn{
            border: 1px solid $gray2;
            width:calcRem(24rem);
            height:calcRem(24rem);
            @include btn-reset;
            position: absolute;
            top:50%;
            right:0;
            transform:translateY(-50%);

            &:after{
                content:"";
                width:calcRem(12rem);
                height:calcRem(11rem);
                @include background('/images/common/ico_filter.png','no-repeat center center / contain');
                background-size:calcRem(12rem) calcRem(11rem);
                @include ab-center;
            }
        }
    }
}


