<%
type = "main"
page = "main"
popup = "false"
%>
<% include ../_include/_header %>
<div class="container">
    <div class="site-main">
        <section class="product">
            <!--검색 후 결과페이지-->
            <div class="main-search">
                <div class="main-search__wrap">
                    <div class="main-search__top">
                        <div class="main-search__result">"라라지갑"</div>
                        <!--검색어 있음-->
                        <div class="main-search__txt main-search__txt--exist">
                            <span class="main-search__num">15</span>개의 검색 결과입니다.
                        </div>
                        <!--//검색어 있음-->

                        <!--검색어 없음-->
                        <!--<div class="main-search__txt main-search__txt--none">검색어가 존재하지 않습니다.</div>-->
                        <!--검색어 없음-->
                    </div>
                    <div class="main-search__bottom">
                        <div class="swiper-container main-search__container">
                            <ul class="swiper-wrapper main-search__wrapper">
                                <!--선택한 결과값 : is-active 클래스추가-->
                                <li class="swiper-slide main-search__item">
                                    <a href="#;" class="main-search__inner is-active">라라지갑</a>
                                </li>
                                <li class="swiper-slide main-search__item">
                                    <a href="#;" class="main-search__inner">미니캐비어</a>
                                </li>
                                <li class="swiper-slide main-search__item">
                                    <a href="#;" class="main-search__inner">뮤트컬러템</a>
                                </li>
                                <li class="swiper-slide main-search__item">
                                    <a href="#;" class="main-search__inner">L-QUILTING MINI</a>
                                </li>
                                <li class="swiper-slide main-search__item">
                                    <a href="#;" class="main-search__inner">PARIS COLLECTION</a>
                                </li>
                                <li class="swiper-slide main-search__item">
                                    <a href="#;" class="main-search__inner">라라지갑</a>
                                </li>
                                <li class="swiper-slide main-search__item">
                                    <a href="#;" class="main-search__inner">미니캐비어</a>
                                </li>
                                <li class="swiper-slide main-search__item">
                                    <a href="#;" class="main-search__inner">뮤트컬러템</a>
                                </li>
                                <li class="swiper-slide main-search__item">
                                    <a href="#;" class="main-search__inner">L-QUILTING MINI</a>
                                </li>
                                <li class="swiper-slide main-search__item">
                                    <a href="#;" class="main-search__inner">PARIS COLLECTION</a>
                                </li>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--//검색 후 결과페이지-->
            <% include ../_include/_productFilterSearch %>
            <!-- product post -->
            <div class="product-post product-post--post">
                <ul class="product-post__list">
                    <li class="product-post__item">
                        <!-- item -->
                        <div class="product-item">
                            <a href="" class="product-item__link">
                                <div class="product-item__state">SOLD OUT</div>
                                <div class="product-item__thumb">
                                    <img class="product-item__img" src="../../images/dummy/product_img1.jpg" alt="" />
                                </div>
                                <div class="product-item__cont">
                                    <div class="product-item__title">루이까또즈 L-Quilting Mini(엘퀼팅 미니) 여성크로스백 HP3QT06OR</div>
                                    <div class="product-item__price">
                                        <span class="product-item__price--sale">328,000원</span>
                                        <span class="product-item__price--current">289,290원</span>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <!-- .item -->
                    </li>
                    <li class="product-post__item">
                        <!-- item -->
                        <div class="product-item">
                            <a href="" class="product-item__link">
                                <div class="product-item__state">NEW</div>
                                <div class="product-item__thumb">
                                    <img class="product-item__img" src="../../images/dummy/product_img2.png" alt="" />
                                </div>
                                <div class="product-item__cont">
                                    <div class="product-item__title">루이까또즈 L-Quilting Mini(엘퀼팅 미니) 여성크로스백 HP3QT06OR</div>
                                    <div class="product-item__price">
                                        <span class="product-item__price--sale">328,000원</span>
                                        <span class="product-item__price--current">289,290원</span>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <!-- .item -->
                    </li>
                    <li class="product-post__item">
                        <!-- item -->
                        <div class="product-item">
                            <a href="" class="product-item__link">
                                <div class="product-item__state">NEW<span class="product-item__state--expected">출시예정</span></div>
                                <div class="product-item__thumb">
                                    <img class="product-item__img" src="../../images/dummy/product_img1.jpg" alt="" />
                                </div>
                                <div class="product-item__cont">
                                    <div class="product-item__title">루이까또즈 L-Quilting Mini(엘퀼팅 미니) 여성크로스백 HP3QT06OR</div>
                                    <div class="product-item__price">
                                        <span class="product-item__price--sale">328,000원</span>
                                        <span class="product-item__price--current">289,290원</span>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <!-- .item -->
                    </li>
                    <li class="product-post__item">
                        <!-- item -->
                        <div class="product-item">
                            <a href="" class="product-item__link">
                                <div class="product-item__thumb">
                                    <img class="product-item__img" src="../../images/dummy/product_img2.png" alt="" />
                                </div>
                                <div class="product-item__cont">
                                    <div class="product-item__title">루이까또즈 L-Quilting Mini(엘퀼팅 미니) 여성크로스백 HP3QT06OR</div>
                                    <div class="product-item__price">
                                        <span class="product-item__price--sale">328,000원</span>
                                        <span class="product-item__price--current">289,290원</span>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <!-- .item -->
                    </li>
                    <li class="product-post__item">
                        <!-- item -->
                        <div class="product-item">
                            <a href="" class="product-item__link">
                                <div class="product-item__thumb">
                                    <img class="product-item__img" src="../../images/dummy/product_img1.jpg" alt="" />
                                </div>
                                <div class="product-item__cont">
                                    <div class="product-item__title">루이까또즈 L-Quilting Mini(엘퀼팅 미니) 여성크로스백 HP3QT06OR</div>
                                    <div class="product-item__price">
                                        <span class="product-item__price--sale">328,000원</span>
                                        <span class="product-item__price--current">289,290원</span>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <!-- .item -->
                    </li>
                    <li class="product-post__item">
                        <!-- item -->
                        <div class="product-item">
                            <a href="" class="product-item__link">
                                <div class="product-item__thumb">
                                    <img class="product-item__img" src="../../images/dummy/product_img2.png" alt="" />
                                </div>
                                <div class="product-item__cont">
                                    <div class="product-item__title">루이까또즈 L-Quilting Mini(엘퀼팅 미니) 여성크로스백 HP3QT06OR</div>
                                    <div class="product-item__price">
                                        <span class="product-item__price--sale">328,000원</span>
                                        <span class="product-item__price--current">289,290원</span>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <!-- .item -->
                    </li>
                </ul>
            </div>
            <!-- .product post -->
            <% include ../_include/_paging %>
        </section>
    </div>
</div>

<% include ../_include/_contentFooter %>
<% include ../_include/_cartFix %>
<% include ../_include/_cartFix %>
<% include ../_popup/_filter %>
<% include ../_include/_footer %>