<%
	type = "main"
	page = "main"
	popup = "false"
%>
<% include ../_include/_header %>
<main style="padding-top:100px;">
	<p class="heading1">안녕하세요</p>
	<p class="heading2">안녕하세요</p>
	<p class="title1">안녕하세요</p>
	<p class="title2">안녕하세요</p>
	<p class="body1">안녕하세요</p>
	<p class="body2">안녕하세요</p>
	<p class="body3">안녕하세요</p>
	<p class="body4">안녕하세요111</p>
</main>
<% include ../_include/_contentFooter %>
<% include ../_include/_footer %>
