<%
	type = "main"
	page = "main"
	popup = "false"
%>
<% include ../_include/_header %>
<div class="section-body">
	<!-- recommend gift -->
	<div class="main-gift">
		<div class="wrap">
			<!-- header -->
			<div class="main-gift__header">
				<h2 class="main-gift__title">recommend gift</h2>
				<div class="main-gift__tab">
					<ul class="main-gift__tab--inner">
						<li class="main-gift__tab--item">
							<a href="#;" class="main-gift__tab--link js-slide-tab" data-link="bag">BAG</a>
						</li>
						<li class="main-gift__tab--item">
							<a href="#;" class="main-gift__tab--link js-slide-tab" data-link="women">WOMEN WALLET</a>
						</li>
						<li class="main-gift__tab--item">
							<a href="#;" class="main-gift__tab--link js-slide-tab" data-link="men">MEN WALLET</a>
						</li>
					</ul>
				</div>
			</div>
			<!-- .header -->
			<!-- gift Slide -->
			<div class="gift-thumb">
				<div class="swiper-container gift-thumb__container">
					<div class="swiper-wrapper gift-thumb__wrapper">
						<div class='swiper-slide gift-thumb__item' data-slide="bag">
							<div class="gift-thumb__inner">
								<img class="gift-thumb__img" src="../../images/dummy/detail-img1.jpg" alt="" />
							</div>
						</div>
						<div class='swiper-slide gift-thumb__item'>
							<div class="gift-thumb__inner">
								<img class="gift-thumb__img" src="../../images/dummy/detail-img1.jpg" alt="" />
							</div>
						</div>
						<div class='swiper-slide gift-thumb__item' data-slide="women">
							<div class="gift-thumb__inner">
								<img class="gift-thumb__img" src="../../images/dummy/detail-img1.jpg" alt="" />
							</div>
						</div>
						<div class='swiper-slide gift-thumb__item'>
							<div class="gift-thumb__inner">
								<img class="gift-thumb__img" src="../../images/dummy/detail-img1.jpg" alt="" />
							</div>
						</div>
						<div class='swiper-slide gift-thumb__item' data-slide="men">
							<div class="gift-thumb__inner">
								<img class="gift-thumb__img" src="../../images/dummy/detail-img1.jpg" alt="" />
							</div>
						</div>
						<div class='swiper-slide gift-thumb__item'>
							<div class="gift-thumb__inner">
								<img class="gift-thumb__img" src="../../images/dummy/detail-img1.jpg" alt="" />
							</div>
						</div>
					</div>
					<div class="swiper-button-next gift-thumb--next"></div>
					<div class="swiper-button-prev gift-thumb--prev"></div>
				</div>
				<div class="swiper-pagination  gift-thumb__pagination"></div>
			</div>
			<!-- .gift Slide -->
		</div>
	</div>
	<!-- .recommend gift -->
</div>
<% include ../_include/_contentFooter %>
<% include ../_include/_footer %>
