<%
type = "main"
page = "main"
popup = "false"
lnbTitle = "최근본상품"
%>
<% include ../_include/_header %>
<div class="container">
    <% include ../_include/_lnb %>
    <div class="site-main">
        <section class="product">
            <!--최근본상품 없을 시-->
            <!--<div class="main-viewed">
                <div class="main-viewed__wrap">
                    <div class="main-viewed__txt">최근 본 상품이 없습니다.</div>
                </div>
            </div>-->
            <!--//최근본상품 없을 시-->
            <!-- product post -->
            <div class="product-post product-post--post">
                <ul class="product-post__list">
                    <li class="product-post__item">
                        <!-- item -->
                        <div class="product-item">
                            <a href="" class="product-item__link">
                                <div class="product-item__state">SOLD OUT</div>
                                <div class="product-item__thumb">
                                    <img class="product-item__img" src="../../images/dummy/product_img1.jpg" alt="" />
                                </div>
                                <div class="product-item__cont">
                                    <div class="product-item__title">루이까또즈 L-Quilting Mini(엘퀼팅 미니) 여성크로스백 HP3QT06OR</div>
                                    <div class="product-item__price">
                                        <span class="product-item__price--sale">328,000원</span>
                                        <span class="product-item__price--current">289,290원</span>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <!-- .item -->
                    </li>
                    <li class="product-post__item">
                        <!-- item -->
                        <div class="product-item">
                            <a href="" class="product-item__link">
                                <div class="product-item__state">NEW</div>
                                <div class="product-item__thumb">
                                    <img class="product-item__img" src="../../images/dummy/product_img2.png" alt="" />
                                </div>
                                <div class="product-item__cont">
                                    <div class="product-item__title">루이까또즈 L-Quilting Mini(엘퀼팅 미니) 여성크로스백 HP3QT06OR</div>
                                    <div class="product-item__price">
                                        <span class="product-item__price--sale">328,000원</span>
                                        <span class="product-item__price--current">289,290원</span>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <!-- .item -->
                    </li>
                    <li class="product-post__item">
                        <!-- item -->
                        <div class="product-item">
                            <a href="" class="product-item__link">
                                <div class="product-item__state">NEW<span class="product-item__state--expected">출시예정</span></div>
                                <div class="product-item__thumb">
                                    <img class="product-item__img" src="../../images/dummy/product_img1.jpg" alt="" />
                                </div>
                                <div class="product-item__cont">
                                    <div class="product-item__title">루이까또즈 L-Quilting Mini(엘퀼팅 미니) 여성크로스백 HP3QT06OR</div>
                                    <div class="product-item__price">
                                        <span class="product-item__price--sale">328,000원</span>
                                        <span class="product-item__price--current">289,290원</span>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <!-- .item -->
                    </li>
                    <li class="product-post__item">
                        <!-- item -->
                        <div class="product-item">
                            <a href="" class="product-item__link">
                                <div class="product-item__thumb">
                                    <img class="product-item__img" src="../../images/dummy/product_img2.png" alt="" />
                                </div>
                                <div class="product-item__cont">
                                    <div class="product-item__title">루이까또즈 L-Quilting Mini(엘퀼팅 미니) 여성크로스백 HP3QT06OR</div>
                                    <div class="product-item__price">
                                        <span class="product-item__price--sale">328,000원</span>
                                        <span class="product-item__price--current">289,290원</span>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <!-- .item -->
                    </li>
                    <li class="product-post__item">
                        <!-- item -->
                        <div class="product-item">
                            <a href="" class="product-item__link">
                                <div class="product-item__thumb">
                                    <img class="product-item__img" src="../../images/dummy/product_img1.jpg" alt="" />
                                </div>
                                <div class="product-item__cont">
                                    <div class="product-item__title">루이까또즈 L-Quilting Mini(엘퀼팅 미니) 여성크로스백 HP3QT06OR</div>
                                    <div class="product-item__price">
                                        <span class="product-item__price--sale">328,000원</span>
                                        <span class="product-item__price--current">289,290원</span>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <!-- .item -->
                    </li>
                    <li class="product-post__item">
                        <!-- item -->
                        <div class="product-item">
                            <a href="" class="product-item__link">
                                <div class="product-item__thumb">
                                    <img class="product-item__img" src="../../images/dummy/product_img2.png" alt="" />
                                </div>
                                <div class="product-item__cont">
                                    <div class="product-item__title">루이까또즈 L-Quilting Mini(엘퀼팅 미니) 여성크로스백 HP3QT06OR</div>
                                    <div class="product-item__price">
                                        <span class="product-item__price--sale">328,000원</span>
                                        <span class="product-item__price--current">289,290원</span>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <!-- .item -->
                    </li>
                </ul>
            </div>
            <!-- .product post -->
            <% include ../_include/_paging %>
        </section>
    </div>
</div>


<% include ../_include/_contentFooter %>
<% include ../_include/_cartFix %>
<% include ../_include/_cartFix %>
<% include ../_popup/_filter %>
<% include ../_include/_footer %>