<%
type = "center"
page = "center"
popup = "false"
lnbTitle = "공지사항"
%>
<% include ../_include/_header %>
<div class="container">
    <% include ../_include/_lnbSelectCenter %>
    <div class="site-main">
        <section class="service-center">
            <div class="center-notice">
                <!-- list -->
                <div class="notice-list">
                    <ul class="notice-list__inner">
                        <li class="notice-list__item notice-list__item--notice"><!-- 상단 노출 공지는 notice-list__item--notice 클래스 추가 -->
                            <div class="notice-item">
                                <a href="" class="notice-item__link">
                                    <div class="notice-item__title">[공지] ㈜태진인터내셔날 개인정보 이전 안내</div>
                                    <div class="notice-item__date">2021.06.25</div>
                                </a>
                            </div>
                        </li>
                        <li class="notice-list__item notice-list__item--notice">
                            <div class="notice-item">
                                <a href="" class="notice-item__link">
                                    <div class="notice-item__title">[공지] ㈜태진인터내셔날 개인정보 이전 안내</div>
                                    <div class="notice-item__date">2021.06.25</div>
                                </a>
                            </div>
                        </li>
                        <li class="notice-list__item">
                            <div class="notice-item">
                                <a href="" class="notice-item__link">
                                    <div class="notice-item__title">[공지] ㈜태진인터내셔날 개인정보 이전 안내</div>
                                    <div class="notice-item__date">2021.06.25</div>
                                </a>
                            </div>
                        </li>
                        <li class="notice-list__item">
                            <div class="notice-item">
                                <a href="" class="notice-item__link">
                                    <div class="notice-item__title">[공지] ㈜태진인터내셔날 개인정보 이전 안내</div>
                                    <div class="notice-item__date">2021.06.25</div>
                                </a>
                            </div>
                        </li>
                        <li class="notice-list__item">
                            <div class="notice-item">
                                <a href="" class="notice-item__link">
                                    <div class="notice-item__title">[공지] ㈜태진인터내셔날 개인정보 이전 안내</div>
                                    <div class="notice-item__date">2021.06.25</div>
                                </a>
                            </div>
                        </li>
                        <li class="notice-list__item">
                            <div class="notice-item">
                                <a href="" class="notice-item__link">
                                    <div class="notice-item__title">[공지] ㈜태진인터내셔날 개인정보 이전 안내</div>
                                    <div class="notice-item__date">2021.06.25</div>
                                </a>
                            </div>
                        </li>
                        <li class="notice-list__item">
                            <div class="notice-item">
                                <a href="" class="notice-item__link">
                                    <div class="notice-item__title">[공지] ㈜태진인터내셔날 개인정보 이전 안내</div>
                                    <div class="notice-item__date">2021.06.25</div>
                                </a>
                            </div>
                        </li>
                        <li class="notice-list__item">
                            <div class="notice-item">
                                <a href="" class="notice-item__link">
                                    <div class="notice-item__title">[공지] ㈜태진인터내셔날 개인정보 이전 안내</div>
                                    <div class="notice-item__date">2021.06.25</div>
                                </a>
                            </div>
                        </li>
                        <li class="notice-list__item">
                            <div class="notice-item">
                                <a href="" class="notice-item__link">
                                    <div class="notice-item__title">[공지] ㈜태진인터내셔날 개인정보 이전 안내</div>
                                    <div class="notice-item__date">2021.06.25</div>
                                </a>
                            </div>
                        </li>
                        <li class="notice-list__item">
                            <div class="notice-item">
                                <a href="" class="notice-item__link">
                                    <div class="notice-item__title">[공지] ㈜태진인터내셔날 개인정보 이전 안내</div>
                                    <div class="notice-item__date">2021.06.25</div>
                                </a>
                            </div>
                        </li>
                    </ul>
                </div>
                <!-- list -->
                <% include ../_include/_paging %>
            </div>
        </section>
    </div>
</div>
<% include ../_include/_contentFooter %>
<% include ../_include/_cartFix %>
<% include ../_include/_footer %>
