//멤버쉽 전환
.membership-join{
    padding:0 calcRem(20rem);

    &__contBox-img{
        height: calcRem(120rem);
        border: 1px solid $lightgray4;
        margin-bottom: calcRem(15rem);
        position: relative;
        box-sizing: border-box;

        img{
            @include ab-center;
        }
    }

    &__contBox-btn{
        margin-bottom: calcRem(15rem);
    }

    .center-bullet{
        margin-bottom: calcRem(30rem);
        // @include popupBulletItem;
    }
    .btn-group{
        margin-top:calcRem(40rem) ;
    }
}

//멤버쉽 전환 :: 완료, 기존회원
.membershipJoin-result{
    padding:0 calcRem(20rem);

    &__text{
        text-align: center;
        @include title2;
        margin:calcRem(10rem) 0 calcRem(35rem) 0;

        &.two-line{ margin:calcRem(0rem) 0 calcRem(23rem) 0; }
        .text--point{ color: $point1; }
    }

    &__text.two-line + &__table{
        table{ margin-bottom: calcRem(10rem) }
    }

    .center-bullet{
        // @include popupBulletItem;
    }

    &__link{
        text-align: center;
        margin-top: calcRem(40rem);
        @include body2;
        color: $point1;

        .order-mypage__btn{
            margin-bottom: 0;
        }
    }
    .btn-group{
        margin-top:calcRem(40rem) ;
    }
}