/**********************
  PAGE
  회원정보수정 - 인증
**********************/
.myInfo-cont{
    padding:0 calcRem(20rem);
    &__text{
        @include body3;
    // line-height: calclH(19,12);
    }

    &__numberBox{
        margin: calcRem(20rem) 0 calcRem(30rem);
        padding: calcRem(15rem) calcRem(20rem);
        
        span{ vertical-align: middle; }

        .identi-num{
            font-size: calcRem(20rem);
            font-weight: $medium;
            margin-left: calcRem(15rem);
            display: inline-block;
            width: 45%;
        }
    }

    .input-list{
        &__item{
            margin: 0;padding:0;
            .input-v1{
                margin-bottom: calcRem(20rem);
            }
        }
    }
}

//비밀번호 변경
.myPass-cont{
    padding:0 calcRem(20rem);
    &__text{ @include body3; }

    .input-list{
        &__item{
            margin: 0;padding:0;
            .input-v1{
                margin-bottom: calcRem(20rem);
            }
            &:first-child{
                border-bottom: 1px solid $lightgray4;
                margin-bottom: calcRem(20rem); 
            }
        }
        &__inner{
            .input-v1{
                margin-bottom: calcRem(10rem);
            } 
        }
        &__item+.btn-v1{ margin-top: calcRem(10rem);}
    }
}