// 유저 멤버쉽 레벨,혜택보러가기
.myLouis-level{
    $level : '.myLouis-level';
    overflow: hidden;
    padding:0 calcRem(20rem) calcRem(25rem);

    &__icon{
        float: left;
        width:calcRem(48rem);
        height:calcRem(48rem);
        margin-right: calcRem(15rem)
    }
    &.level-1{
        #{$level}__icon{ @include pageBackground('/images/membership/membership_1.png','no-repeat center center / contain'); }
    }
    &.level-2 {
        #{$level}__icon{ @include pageBackground('/images/membership/membership_2.png','no-repeat center center / contain'); }
        #{$level}__name{ color:$gold; }
    }
    &.level-3{
        #{$level}__icon{ @include pageBackground('/images/membership/membership_3.png','no-repeat center center / contain'); }
        #{$level}__name{ color:$silver; }
    }
    &.level-4{
        #{$level}__icon{ @include pageBackground('/images/membership/membership_4.png','no-repeat center center / contain'); }
        #{$level}__name{ color:$club; }
    }
    &.level-5{
        #{$level}__icon{ @include pageBackground('/images/membership/membership_5.png','no-repeat center center / contain'); }
        #{$level}__name{ color:$clubPlus; }
    }
    &.level-6{
        #{$level}__icon{ @include pageBackground('/images/membership/membership_6.png','no-repeat center center / contain'); }
        #{$level}__name{ color:$web; }
    }

    &__name{
        @include body4;
        font-weight: 400;
        margin-top: calcRem(7rem);

        font-size: calcRem(12rem);
    }
    
    @mixin moreArrow {
        content: '';
        display: inline-block;
        width:calcRem(6rem);
        height:calcRem(10rem);
        box-sizing: border-box;
        margin-left: calcRem(10rem);
    }
    &__more--userInfo{
        @include title1;
        &:after{ 
            @include moreArrow;
            @include pageBackground('/images/common/ico_paging_next.svg','no-repeat center center / contain');
        }
    }
    &__more--membership{
        @include body2;
        float: right;
        margin-top: 3px;
        color: $point1;
        &:after{
            @include moreArrow;
            @include pageBackground('/images/common/ico_red_arrow.svg','no-repeat center center / contain');
        }
    }
}

.myLouis-contents{
    border-top: 1px solid $black1;
    border-bottom: 1px solid $black1;
}

// 유저 정보 :: 쿠폰,적립금,위시리스트,최근본상품
.myLouis-info{
    &__list{ 
        // padding:calcRem(24rem) 0 calcRem(20rem); 
        // overflow: hidden;

        padding:calcRem(24rem) calcRem(20rem) calcRem(20rem);
        display: -webkit-flex;display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;-ms-flex-pack: justify;
        -webkit-justify-content: space-between;
        justify-content: space-between;
    }

    &__item{
        // float: left;
        // min-width:calcRem(60rem);
        text-align: center;

        // &:nth-child(1){ 
        //     margin-left:calcRem(4rem);
        //     margin-right: calcRem(20rem); 
        // }
        // &:nth-child(2){ margin-right: calcRem(36rem); }
        // &:nth-child(3){ margin-right: calcRem(38rem); }

        &-icon{
            box-sizing: border-box;
            margin: auto;
        }
        &:nth-child(1) &-icon{ 
            @include pageBackground('/images/common/ico_coupon.svg','no-repeat center center / contain'); 
            width:calcRem(25rem);
            height:calcRem(18rem);
        }
        &:nth-child(2) &-icon{ 
            @include pageBackground('/images/common/ico_point.svg','no-repeat center center / contain'); 
            width:calcRem(20rem);
            height:calcRem(19rem);
        }
        &:nth-child(3) &-icon{ 
            @include pageBackground('/images/common/ico_wish.svg','no-repeat center center / contain'); 
            width:calcRem(21rem);
            height:calcRem(19rem);
        }
        &:nth-child(4) &-icon{ 
            @include pageBackground('/images/common/ico_history.svg','no-repeat center center / contain');
            width:calcRem(19rem);
            height:calcRem(20rem); 
        }

        &-name{
            @include body2;
            margin-top: calcRem(5rem);
        }

        &-num{
            @include body2;
            font-weight: 400;
            color: $point1;
        }
    }
}

// navi::link list
.myLouis-navi{
    &__list{
        border-top: 1px solid $gray2;
        padding: calcRem(5rem) calcRem(20rem) 0;
        box-sizing: border-box;
        &:first-child{
            padding-top: calcRem(10rem);
            border-top: 1px solid $black1;
        }
        &:last-child{
            padding-bottom: calcRem(5rem);
        }
    }

    &__item{
        padding: calcRem(10rem) 0 calcRem(14rem);
        @include body3;
        &:not(:last-child){
            border-bottom: 1px solid $lightgray4;
        }
        a{
            display: block;
        }
        
        position: relative;
        &:after{
            content: '';
            position: absolute;
            right:calcRem(10rem);
            @include vertical-center;
            @include pageBackground('/images/common/ico_list_more.svg','no-repeat center center / contain');
            // width:calcRem(6rem);
            // height:calcRem(10rem);
            width:6px;
            height:10px;
        }
    }
}

