/**********************
  PAGE
  주문배송조회
**********************/
// 배송까지 workflow 
.myOrderList-workflow{
    margin:calcRem(30rem) 0;

    &__list{
        overflow: hidden;
    }
    &__item{
        float: left;
        // width: calcRem(60rem);
        width: calc(100% / 6);
        text-align: center;
        @include body5;
        position: relative;

        font-size: calcRem(12rem);

        &-name{
            margin: 0;
        }
        &-figure{ 
            margin: 0;
            margin-top:10px;
            color: $point1;
            font-size:calcRem(12rem);
            font-weight: $regular;
        }

        &:not(:last-child):after{
            content: '';
            position: absolute;
            top: calcRem(26rem);
            right: calcRem(-3rem);

            width:calcRem(6rem);
            height:calcRem(11rem);
            @include pageBackground('/images/common/ico_more_gray.svg','no-repeat center center / contain');
        }
    }
}








